<script setup lang="ts">
import { onMounted } from 'vue';
import { ref } from '#imports';

defineProps<{
    src: string
}>();

const img = ref<HTMLImageElement>();
const loaded = ref(false);

onMounted(() => {
    return loaded.value = img.value?.complete;
});
</script>

<template>
    <slot
        v-if="!loaded"
        name="loading"
    >
        <cr-loading
            v-bind="$attrs"
        />
    </slot>
    <slot name="image">
        <img
            ref="img"
            v-bind="$attrs"
            :src="src"
            loading="lazy"
            :style="loaded ? undefined : {
                width: 0,
                height: 0,
            }"
            @load="loaded = true"
        >
    </slot>
</template>

<style  lang="scss">

</style>
