<template>
    <Html>
        <nuxt-page />
    </Html>
</template>

<script setup lang="ts">
import { useDarkTheme } from '../src/runtime/composables/use-dark-theme';
import { useCreatorConfig } from '#imports';

const { setup } = useDarkTheme();
setup();
useCreatorConfig({
    upload: {
        uploadFunction: (body: FormData) => $fetch('http://localhost:8000/uploads/upload', {
            method: 'post',
            body,
        }),
        thumbnailGetter: v => v.thumbnail?.url,
    },
    tiptap: {
        uploadFunction: async(body: FormData) =>
            await $fetch<{
                url: string
            }>('http://localhost:8000/uploads/create', {
                method: 'post',
                body,
            }),
    },
});
</script>
<style lang="scss">
:root {
    --primary-color: #1e8bff;
    --secondary-color: #2ee7d1;
    --easy-color: #f8f3ff;
    --blank-color: #FFFFFF;
    --plain-color: #264653;
    --neutral-color: #a4bab1;
    --danger-color: #EB5757;
    --warning-color: #c4c103;
    --success-color: #2a9d8f;

    --blank-contrast-color: black;
    --easy-contrast-color: black;
    --plain-contrast-color: white;
    --primary-contrast-color: white;
    --secondary-contrast-color: white;
    --neutral-contrast-color: white;
    --danger-contrast-color: white;
    --warning-contrast-color: white;
    --success-contrast-color: white;

    --base-font-size: 16px;
    --base-font-family: 'Arial';
    --base-font-weight: 'Arial';
    --base-font: var(--base-font-weight) var(--base-font-size) var(--base-font-family), sans-serif;
    --base-border-radius: 5px;
    --base-control-height: 46px;
    --base-border-color: #eaebf5;
    --base-border-width: 1px;

    --header-font: 700 16px/120% var(--base-font-family), sans-serif;

    --button-font: 400 16px var(--base-font-family), sans-serif;

    --button-border-width: 1px;
    --button-text-transform: uppercase;

    --input-font: 400 14px var(--base-font-family), sans-serif;

    --link-color: var(--primary-color);
    --link-hover-color: var(--plain-color);

    --badge-border-width: 1px;
    --badge-border-radius: 999px;

    --modal-padding: 20px;
    --modal-border-radius: 10px;

    --drawer-padding: 40px;
    --drawer-border-radius: 30px;

    --switch-background-off: #dcdfe5;
    --switch-background-on: var(--primary-color);

    --tabs-background: var(--easy-color);
    --tabs-font: 700 16px 'Arial', sans-serif;

    --card-padding: 16px;

    --fade-color: rgba(2, 18, 42, 0.75);
}

.--theme-dark {
    color-scheme: dark;
    --secondary-color: #d4e79e;
    --easy-color: #090909;
    --blank-color: #0e0e0e;
    --plain-color: #dadada;
    --neutral-color: #676767;
    --danger-color: #FF5666;
    --warning-color: #ff9f1c;
    --success-color: #2a9d8f;
    --blank-contrast-color: #dadada;
    --easy-contrast-color: #dbdbdb;
    --plain-contrast-color: #000000;
    --primary-contrast-color: white;
    --secondary-contrast-color: white;
    --neutral-contrast-color: white;
    --danger-contrast-color: white;
    --warning-contrast-color: white;
    --success-contrast-color: white;
    --base-border-color: #3c3c3e;
    --switch-background-off: #4b4b4b;
    --shadow-color: rgba(40, 48, 51, 0.43);
}
</style>
