<template>
    <div
        v-bind="$attrs"
        ref="anchorEl"
        class="cr-date-input"
        :class="{
            'cr-date-input--range': range,
            'cr-date-input--passive': overlay,
        }"
        @click="showCalendars = true"
    >
        <render-inputs />
    </div>
    <template v-if="showCalendars">
        <cr-drawer
            v-if="overlay"
            ref="drawer"
            direction="btt"
            @close="showCalendars = false"
        >
            <div
                class="cr-date-input cr-date-input--overlay"
                :class="{'cr-date-input--range': range}"
            >
                <render-inputs />
            </div>
            <render-calendar />
        </cr-drawer>
        <cr-dropdown
            v-else
            ref="dropdown"
            :disabled="disabled"
            padding="15px"
            initial-open
            :anchor="anchorEl"
            @close="showCalendars = false"
        >
            <template #body>
                <render-calendar />
            </template>
        </cr-dropdown>
    </template>
</template>

<script lang="ts" setup>
import dayjs from 'dayjs/esm';
import customParseFormat from 'dayjs/esm/plugin/customParseFormat';
import { nextTick } from 'vue';
import { computed, h, ref } from '#imports';
import { CrCalendar, CrDrawer, CrDropdown, CrInput } from '#components';

dayjs.extend(customParseFormat);

export type DateValueType = string | Date | null | dayjs.Dayjs;

const props = withDefaults(defineProps<{
    modelValue?: Array<DateValueType> | DateValueType;
    label?: string | string[],
    nullable?: boolean,
    placeholder?: string | string[],
    valueFormat?: string,
    labelFormat?: string,
    errors?: string[],
    disabled?: boolean,
    range?: boolean,
    overlay?: boolean,
}>(), {
    modelValue: undefined,
    label: undefined,
    nullable: false,
    placeholder: undefined,
    valueFormat: undefined,
    labelFormat: 'DD.MM.YYYY',
    errors: undefined,
    disabled: false,
    range: false,
    overlay: () => {
        return process.client && window.innerWidth < 500;
    },
});

const emit = defineEmits<{
    (e: 'update:modelValue', v: Array<DateValueType> | DateValueType): void
}>();

const calendarStartIdx = ref(0);
const dropdown = ref();
const anchorEl = ref();
const drawer = ref();
const showCalendars = ref(false);

const normalizedValues = computed<Array<null | dayjs.Dayjs>>(() => {
    return [props.modelValue].flat().map(i => i ? dayjs(i) : null);
});

const normalizedInputValues = computed(() => {
    return normalizedValues.value.map(i => i && i.format(props.labelFormat));
});

const normalizedLabels = computed(() => {
    return [props.label].flat();
});

const normalizedPlaceholders = computed(() => {
    return [props.placeholder].flat();
});

function onInput(idx: number, val: DateValueType) {
    const res = [...normalizedValues.value];
    let newVal = typeof val === 'string'
        ? dayjs(val, props.labelFormat)
        : val instanceof Date ? dayjs(val) : val;
    if (!newVal?.isValid()) {
        newVal = null;
    }

    res.splice(idx, 1, newVal);
    emitValue(res);
    closeDropdownIfFilled();
}

function onCalendarInput(val: dayjs.Dayjs | null | Array<dayjs.Dayjs | null>) {
    const res = [val].flat();
    emitValue(res);
    closeDropdownIfFilled();
}

function emitValue(val: Array<dayjs.Dayjs | null>) {
    const formattedRes = val.map(i => props.valueFormat ? i?.format(props.valueFormat) : i?.toDate());
    emit('update:modelValue', props.range ? formattedRes : formattedRes[0]);
}

function closeDropdownIfFilled() {
    nextTick(() => {
        if (normalizedValues.value.every(i => i)) {
            dropdown.value?.toggle(false);
            drawer.value?.close();
        }
    });
}

function renderInputs(override) {
    return Array(props.range ? 2 : 1).fill(1).map((i, idx) => h(CrInput, {
        key: idx,
        modelValue: normalizedInputValues.value[idx],
        class: 'cr-date-input__input',
        label: normalizedLabels.value[idx],
        placeholder: normalizedPlaceholders.value[idx],
        errors: props.errors,
        disabled: props.disabled,
        nullable: props.nullable,
        lazy: true,
        onClick: () => calendarStartIdx.value = idx,
        'onUpdate:modelValue': v => onInput(idx, String(v)),
        ...override,
    }, { before: () => h('i', { class: 'cr-icon-calendar' }) },
    ));
}

function renderCalendar() {
    const children = [];

    children.push(h(CrCalendar, {
        count: props.range ? 2 : 1,
        range: props.range,
        modelValue: normalizedValues.value,
        startIndex: calendarStartIdx.value,
        'onUpdate:modelValue': onCalendarInput,
        onClose: () => {
            dropdown.value?.toggle(false);
            drawer.value?.close();
        },
    }));

    return h('div', { class: 'cr-date-input__calendar-wrapper' }, children);
}
</script>

<style lang="scss">
.cr-date-input, .cr-date-input__input {
    width: 100%;
}

.cr-date-input__header {
    padding: 15px;
    background: var(--easy-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cr-date-input__header-close {
    font-size: 24px;
}

.cr-date-input--passive {
    * {
        pointer-events: none;
    }
}

.cr-date-input--overlay {
    margin-bottom: 15px;
}

.cr-date-input--range {
    display: flex;
    flex-direction: row;

    .cr-date-input__input {
        &:nth-child(1) {
            .cr-input__content {
                border-radius: var(--base-border-radius) 0 0 var(--base-border-radius);
            }
        }

        &:nth-child(2) {
            .cr-input__content {
                border-radius: 0 var(--base-border-radius) var(--base-border-radius) 0;
            }
        }
    }

    @media (max-width: 500px) {
        flex-direction: column;

        .cr-date-input__input {
            &:nth-child(1) {
                .cr-input__content {
                    border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
                }
            }

            &:nth-child(2) {
                .cr-input__content {
                    border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
                }
            }
        }
    }
}
</style>
