<template>
    <div class="cr-page-header">
        <div>
            <nuxt-link
                v-if="backlinkNormalized"
                :to="backlinkNormalized.url"
                class="cr-page-header__backlink link link--neutral"
            >
                <i class="cr-page-header__backlink-icon" />
                {{ backlinkNormalized.label }}
            </nuxt-link>
            <slot name="content">
                <h1 class="cr-page-header__header">
                    <cr-loading
                        v-if="loading"
                        size="47"
                    />
                    <slot v-else />
                </h1>
            </slot>
        </div>
        <div v-if="$slots.actions" class="cr-page-header__actions">
            <slot name="actions" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps<{
    backlink?: {
        text?: string,
        url?: string
    } | boolean,
    loading?: boolean
}>();

const backlinkNormalized = computed(() => {
    if (!props.backlink) {
        return undefined;
    }

    return typeof props.backlink === 'object'
        ? {
            url: props.backlink.url || 'javascript:history.back()',
            label: props.backlink.text || 'Назад',
        }
        : {
            url: 'javascript:history.back()',
            label: 'Назад',
        };
});
</script>

<style lang="scss">
.cr-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;

    @media (max-width: 400px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.cr-page-header__header {
    font-size: 1.5rem;
}

.cr-page-header__backlink {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 5px;
}

.cr-page-header__backlink-icon {
    margin-right: 3px;
    margin-bottom: 1px;
    font-size: 1.4rem;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border-left: 2px solid var(--neutral-color);
    border-bottom: 2px solid var(--neutral-color);
}

.cr-page-header__actions {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: 400px) {
        margin-left: auto;
        width: auto;
    }

    & > * {
        flex-grow: 1;
    }
}
</style>
