<template>
    <teleport
        to="body"
        :disabled="!teleport"
    >
        <transition
            name="drawer"
            @after-leave="emit('close')"
            @after-enter="emit('open')"
        >
            <div
                v-if="isShowing"
                :class="`cr-drawer--${direction}`"
                class="cr-drawer"
                v-bind="$attrs"
            >
                <div
                    class="cr-drawer__fade"
                    @click="close"
                />
                <div
                    class="cr-drawer__content"
                    :style="contentStyle"
                >
                    <div
                        v-if="$slots.header || title"
                        class="cr-drawer__header"
                    >
                        {{ title }}
                        <slot name="header" />
                    </div>
                    <cr-button
                        v-if="closable"
                        class="cr-drawer__close"
                        square="50px"
                        circle
                        type="blank"
                        @click="close"
                    >
                        <i class="cr-icon-close" />
                    </cr-button>
                    <div class="cr-drawer__body">
                        <slot :close="close" />
                    </div>
                    <div v-if="$slots.footer" class="cr-drawer__footer">
                        <slot
                            name="footer"
                            :close="close"
                        />
                    </div>
                </div>
            </div>
        </transition>
    </teleport>
</template>

<script lang="ts" setup>
import { onActivated } from 'vue';
import { useDisableScroll } from '../../composables/use-disable-scroll';
import { useCreatorConfig } from '../../composables/use-creator-config';
import { computed, onMounted, ref, useOnBackRoute } from '#imports';

defineOptions({ inheritAttrs: false });

const emit = defineEmits<{
    (e: 'open'): void,
    (e: 'close'): void,
}>();

const props = withDefaults(defineProps<{
    size?: string,
    closable?: boolean,
    title?: string,
    direction?: 'rtl' | 'ltr' | 'btt',
    beforeClose?: () => Promise<void>,
    teleport?: boolean,
    handleBack?: boolean
}>(), {
    closable: true,
    title: undefined,
    beforeClose: undefined,
    handleBack: true,
    teleport: true,
    size: () => {
        const config = useCreatorConfig();
        return config.drawer.size;
    },
    direction: () => {
        const config = useCreatorConfig();
        return config.drawer.direction;
    },
});

const contentStyle = computed(() => {
    return ['rtl', 'ltr'].includes(props.direction) ? { width: props.size } : { height: props.size };
});

const isShowing = ref(false);

function open() {
    isShowing.value = true;
}

async function close() {
    if (props.closable) {
        if (props.beforeClose) {
            await props.beforeClose();
        }
        isShowing.value = false;
        backRoute?.removeHash();
    }
}

useDisableScroll();

onMounted(() => {
    isShowing.value = true;
});

onActivated(() => {
    isShowing.value = true;
});

const backRoute = props.handleBack
    ? useOnBackRoute(() => {
        isShowing.value = false;
    })
    : undefined;

defineExpose({
    close,
    open,
});
</script>

<style lang="scss">
.cr-drawer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    --padding: var(--drawer-padding, 40px);
    --border-radius: var(--drawer-border-radius);

    &.cr-drawer--rtl {
        .cr-drawer__close {
            left: calc((50px + var(--padding) / 2) * -1);
        }
    }

    &.cr-drawer--ltr {
        justify-content: flex-start;

        .cr-drawer__content {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }

        .cr-drawer__footer {
            border-radius: 0 0 var(--border-radius) 0;
        }

        .cr-drawer__close {
            left: auto;
            right: calc((50px + var(--padding)) * -1);
        }
    }

    &.cr-drawer--btt {
        align-items: flex-end;

        .cr-drawer__content {
            width: 100% !important;
            max-width: 100%;
            max-height: calc(100% - 50px - var(--padding));
            border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
        }

        .cr-drawer__close {
            left: 0 !important;
            right: 0 !important;
            top: calc(-50px - var(--padding) / 2);
            bottom: unset;
        }

        .cr-drawer__footer {
            border-radius: 0;
        }
    }
}

.cr-drawer__fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fade-color);
}

.cr-drawer__content {
    background: var(--blank-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 50px - var(--padding));
}

.cr-button.cr-drawer__close {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1000px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cr-drawer__header {
    padding: calc(var(--padding) * 0.5) var(--padding);
    border-bottom: 1px solid var(--easy-color);
    font: var(--header-font);
    color: var(--modal-header-color, var(--plain-color));
}

.cr-drawer__body {
    padding: var(--padding);
    overflow: auto;
}

.cr-drawer__footer {
    background: var(--easy-color);
    padding: 10px var(--padding);
    width: 100%;
    border-radius: 0 0 0 var(--border-radius);
    margin-top: auto;
}

.drawer-enter-active, .drawer-leave-active {
    transition: 0.3s ease;

    .cr-drawer__fade, .cr-drawer__content {
        transition: 0.3s ease;
    }
}

.drawer-enter-from, .drawer-leave-to {
    .cr-drawer__fade, .cr-drawer__content {
        opacity: 0;
    }

    &.cr-drawer--rtl {
        .cr-drawer__content {
            transform: translateX(100%);
        }
    }

    &.cr-drawer--ltr {
        .cr-drawer__content {
            transform: translateX(-100%);
        }
    }

    &.cr-drawer--btt {
        .cr-drawer__content {
            transform: translateY(100%);
        }
    }
}
</style>
