<template>
    <div class="cr-tree">
        <cr-tree-item
            v-for="(item, idx) in renderingItems"
            :key="item[keyField]"
            ref="itemComponents"
            :item="item"
            :key-field="keyField"
            :children-field="childrenField"
            :draggable="draggable"
            :path="[idx]"
        >
            <template #default="{data, parent}">
                <slot
                    :data="data"
                    :parent="parent"
                />
            </template>
        </cr-tree-item>
    </div>
</template>

<script lang="ts" setup>
import type { ProvidedTree, TreeNode } from './types/provided-tree';
import { CrCollapse } from '#components';
import { computed, provide, ref, watch } from '#imports';

const props = withDefaults(defineProps<{
    items: Record<string, any>[],
    keyField?: string
    childrenField?: string,
    filterQuery?: string,
    filterFunction?: (query: string, v: Record<string, any>) => boolean,
    draggable?: boolean
}>(), {
    keyField: 'id',
    childrenField: 'children',
    filterQuery: undefined,
    filterFunction: undefined,
    draggable: false,
});

const emit = defineEmits<{
    (e: 'update:items'): void,
    (e: 'drag', node: TreeNode, parent: any, idx: number): void
}>();

const filteredItems = ref<Record<string, any>[]>([]);
const renderingItems = computed(() => {
    return props.filterQuery ? filteredItems.value : props.items;
});
const itemComponents = ref<InstanceType<typeof CrCollapse>[]>([]);

watch(() => props.filterQuery, (val) => {
    if (val) {
        filteredItems.value = filter(val, props.items);
        itemComponents.value.forEach(i => i.toggle(true));
    } else {
        filteredItems.value = [];
    }
});

function filter(query: string, items: Record<string, any>[]): Record<string, any>[] {
    return items
        .map((i) => {
            const children = filter(query, i[props.childrenField]);
            return {
                ...i,
                [props.childrenField]: children,
            };
        })
        .filter((i) => {
            if (props.filterFunction?.(query, i)) {
                i._highlight = true as any;
                return true;
            }
            return i[props.childrenField].length;
        });
}

const draggableItem = ref();
const draggingOver = ref();

function move(node: TreeNode, target: TreeNode, type: 'before' | 'after' | 'inner') {
    const sourceArray: any[] = node.parent ? node.parent[props.childrenField] : props.items;
    const idx = sourceArray.indexOf(node.item);

    if (idx < 0) {
        return;
    }

    const targetArray: any[] = type === 'inner'
        ? target.item[props.childrenField]
        : target.parent
            ? target.parent[props.childrenField]
            : props.items;

    if (targetArray !== sourceArray && target.path.join().startsWith(node.path.join())) {
        return;
    }

    let targetIdx = type === 'inner'
        ? targetArray.length
        : targetArray.indexOf(target.item);

    if (type === 'after') {
        targetIdx++;
    }

    if (sourceArray === targetArray) {
        if (targetIdx > idx) {
            targetIdx--;
        }
    }

    sourceArray.splice(idx, 1);
    targetArray.splice(targetIdx, 0, node.item);

    emit('drag', node, type === 'inner' ? target.item : target.parent, targetIdx);
}

provide<ProvidedTree>('tree', {
    draggableItem,
    draggingOver,
    move,
});
</script>

<style lang="scss">
.cr-tree {
    --tree-gap: 15px;
}
</style>
