<template>
    <div class="cr-tree-item">
        <cr-collapse
            ref="collapse"
            :caret="!!item[childrenField].length"
        >
            <div
                ref="mainEl"
                class="cr-tree-item__node"
                :class="{
                    'cr-tree-item__node--highlight': item._highlight,
                    'cr-tree-item__node--draggable': draggable,
                    'cr-tree-item__node--draggable-inner': draggableHoverState === 'inner',
                    'cr-tree-item__node--draggable-before': draggableHoverState === 'before',
                    'cr-tree-item__node--draggable-after': draggableHoverState === 'after',
                }"
                @mousemove="onMouseMove"
                @mouseleave="onMouseLeave"
            >
                <slot
                    :data="item"
                    :parent="parent"
                />
            </div>
            <template
                v-if="item[childrenField].length"
                #content
            >
                <div class="cr-tree-item__children">
                    <cr-tree-item
                        v-for="(child, idx) in item[childrenField]"
                        ref="itemComponents"
                        :key="child[keyField]"
                        :item="child"
                        :parent="item"
                        :path="[...path, +idx]"
                        :children-field="childrenField"
                        :key-field="keyField"
                        :draggable="draggable"
                    >
                        <template #default="{data, parent: dataParent}">
                            <slot :data="data" :parent="dataParent" />
                        </template>
                    </cr-tree-item>
                </div>
            </template>
        </cr-collapse>
    </div>
</template>

<script lang="ts" setup>
import type { Ref } from 'vue';
import type { ProvidedTree } from './types/provided-tree';
import { CrCollapse } from '#components';
import { inject, ref, useDraggable } from '#imports';

const props = withDefaults(defineProps<{
    item: Record<string, any>,
    parent?: Record<string, any> | null,
    keyField?: string
    childrenField?: string,
    path?: number[],
    draggable?: boolean
}>(), {
    parent: null,
    keyField: 'id',
    childrenField: 'children',
    path: [],
    draggable: false,
});

const emit = defineEmits<{
    (e: 'startDragging'): void,
    (e: 'stopDragging'): void,
}>();

const {
    draggableItem,
    draggingOver,
    move,
} = inject<ProvidedTree>('tree');
const itemComponents = ref<InstanceType<typeof CrCollapse>[]>([]);
const collapse = ref();
const mainEl = ref<HTMLElement>();
const draggableHoverState: Ref<'inner' | 'before' | 'after' | undefined> = ref();

function toggle(val: boolean) {
    collapse.value.toggle(val);
    itemComponents.value.forEach(i => i.toggle(val));
}

function onMouseMove(e: MouseEvent) {
    if (draggableItem.value && draggableItem.value?.item !== props.item) {
        const rect = mainEl.value!.getBoundingClientRect();
        const BORDER_SIZE = 10;
        if (e.clientY < rect.y + BORDER_SIZE) {
            draggableHoverState.value = 'before';
        } else if (e.clientY < (rect.y + rect.height - BORDER_SIZE)) {
            draggableHoverState.value = 'inner';
        } else {
            draggableHoverState.value = 'after';
        }
        draggingOver.value = {
            node: {
                path: props.path,
                item: props.item,
                parent: props.parent,
            },
            type: draggableHoverState.value!,
        };
    }
}

function onMouseLeave(e: MouseEvent) {
    draggableHoverState.value = undefined;
}

if (props.draggable) {
    useDraggable(mainEl, {
        onStart() {
            draggableItem.value = {
                path: props.path,
                item: props.item,
                parent: props.parent,
            };
            emit('startDragging');
        },
        onStop() {
            if (draggingOver.value && draggingOver.value?.node.item !== props.item) {
                move(draggableItem.value!, draggingOver.value!.node, draggingOver.value!.type);
            }
            draggableHoverState.value = undefined;
            draggableItem.value = undefined;
            emit('stopDragging');
        },
    });
}

defineExpose({ toggle });
</script>

<style lang="scss">
.cr-tree-item__children {
    padding-left: 15px;
}

.cr-tree-item__node--highlight {
    filter: sepia(0.5);
}

.cr-tree-item__node--draggable-inner {
    background: #6363ff;
}

.cr-tree-item__node--draggable-before {
    box-shadow: inset 0 2px 0 #6363ff;
}

.cr-tree-item__node--draggable-after {
    box-shadow: inset 0 -2px 0 #6363ff;
}

.cr-tree-item__node--draggable {
    user-select: none;
}
</style>
