<script setup lang="ts">
import 'vue-virtual-scroller/dist/vue-virtual-scroller.css';
// noinspection TypeScriptCheckImport
import { RecycleScroller } from 'vue-virtual-scroller';

defineEmits<{
    (e: 'resize'): void,
    (e: 'visible'): void,
    (e: 'hidden'): void,
    (e: 'update', startIndex: number, endIndex: number, visibleStartIndex: number, visibleEndIndex: number): void,
    (e: 'scrollStart'): void,
    (e: 'scrollEnd'): void,
}>();

const props = defineProps<{
    items: any[],
    itemSize?: number,
    direction?: 'vertical' | 'horizontal',
    gridItems?: number,
    itemSecondarySize?: number,
    sizeField?: string,
    typeField?: string,
    keyField?: string,
    pageMode?: boolean,
    prerender?: number,
    buffer?: number,
    emitUpdate?: boolean,
    updateInterval?: number,
    listClass?: string,
    itemClass?: string,
    listTag?: string,
    itemTag?: string,
}>();
</script>

<template>
    <recycle-scroller v-bind="props">
        <template #default="{item, index, active}">
            <slot
                :item="item"
                :index="index"
                :active="active"
            />
        </template>
    </recycle-scroller>
</template>

<style scoped lang="scss">

</style>
