<template>
    <div
        v-if="hamburger"
        class="cr-mobile-bar-item"
        @click="showMenu = !showMenu"
    >
        <span
            class="cr-mobile-bar-item__hamburger"
            :class="{'cr-mobile-bar-item__hamburger--active': showMenu}"
        />
    </div>
    <nuxt-link
        v-else
        class="cr-mobile-bar-item"
        :to="to"
    >
        <slot>
            <i :class="icon" />
        </slot>
        <div
            v-if="label"
            class="cr-mobile-bar-item__label"
        >
            {{ label }}
        </div>
    </nuxt-link>
</template>

<script lang="ts" setup>
import { useState } from '#imports';

defineProps<{
    to?: string,
    icon?: string,
    label?: string,
    hamburger?: boolean
}>();

const showMenu = useState('showMenu');
</script>

<style lang="scss">
.cr-mobile-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    &.router-link-exact-active {
        color: var(--primary-color);
    }
}

.cr-mobile-bar-item__label {
    font-size: 10px;
}

.cr-mobile-bar-item__hamburger {
    width: 24px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    position: relative;
    transition: all .2s ease-in;

    &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        transition: all .2s ease-in;
    }

    &::before {
        transform: translateY(-7px);
    }

    &::after {
        transform: translateY(7px);
    }
}

.cr-mobile-bar-item__hamburger--active {
    transform: rotate(-45deg);
    color: var(--primary-color);

    &::before {
        opacity: 0;
    }

    &::before, &::after {
        transform: rotate(90deg);
    }
}
</style>
