<template>
    <div class="cr-mobile-bar">
        <slot />
        <transition
            name="sidebar"
        >
            <div
                v-if="$slots.menu && showMenu"
                class="cr-mobile-bar__menu-wrap"
            >
                <div class="cr-mobile-bar__menu">
                    <slot name="menu" />
                </div>
            </div>
        </transition>
    </div>
</template>

<script setup lang="ts">
import { useHead, useRouter, useState } from '#imports';

const showMenu = useState('showMenu');

useRouter().beforeEach((to, from) => {
    if (to.name !== from.name) {
        showMenu.value = false;
    }
});

useHead({ bodyAttrs: { class: 'mobile-bar-attached' } });
</script>

<style lang="scss">
.cr-mobile-bar {
    height: 50px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    background: var(--blank-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cr-mobile-bar__menu-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 50px;
    display: flex;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.8);
}

.cr-mobile-bar__menu {
    width: 400px;
    top: 0;
    bottom: 50px;
    max-width: 100%;
    height: 100%;
    left: 0;
    display: grid;
}

.sidebar-leave-to, .sidebar-enter-from {
    &.cr-mobile-bar__menu-wrap {
        background: rgba(0, 0, 0, 0);
    }

    .cr-mobile-bar__menu {
        transform: translateX(-100%);
    }
}

.sidebar-leave-active, .sidebar-enter-active {
    &.cr-mobile-bar__menu-wrap,
    .cr-mobile-bar__menu {
        transition: 0.3s all ease-in-out;
    }
}
</style>
