<template>
    <div
        class="cr-upload-list"
        :class="{'upload-list--multiple': maxCount > 1}"
    >
        <input
            ref="inputEl"
            type="file"
            name="files[]"
            style="display: none"
            :multiple="maxCount > 1"
            :accept="accepting?.join(',')"
            @change="onInputChange"
        >
        <div
            v-if="uploadedItems.length || uploadingItems.length"
            class="cr-upload-list__items"
        >
            <slot
                name="uploaded"
                :items="uploadedItems"
            >
                <div
                    v-for="(file, i) in uploadedItems"
                    :key="file.uuid || file.id"
                    class="cr-upload-list-item"
                >
                    <div
                        v-if="maxCount > 1"
                        class="cr-upload-list-item__idx"
                    >
                        {{ i + 1 }}.
                    </div>
                    <cr-upload
                        class="cr-upload-list-item__icon"
                        :name="file.name"
                        :url="file.url"
                        :size="file.size"
                        :thumbnail="config.upload.thumbnailGetter(file)"
                        :details="false"
                        fit="cover"
                        borderless
                    />
                    <div class="cr-upload-list-item__info">
                        <a
                            class="cr-upload-list-item__name link link--primary"
                            :href="file.url"
                            target="_blank"
                        >
                            {{ file.name }}
                        </a>
                        <div class="cr-upload-list-item__size">
                            {{ formatFileSize(file.size) }}
                        </div>
                    </div>
                    <i
                        class="cr-upload-list-item__delete link link--danger cr-icon-delete"
                        @click="uploadedItems.splice(i, 1)"
                    />
                </div>
            </slot>
            <slot
                name="uploading"
                :items="uploadingItems"
            >
                <div
                    v-for="(file, i) in uploadingItems"

                    :key="'uploading' + i"
                    class="cr-upload-list-item"
                >
                    <div
                        v-if="maxCount > 1"
                        class="cr-upload-list-item__idx"
                    >
                        {{ uploadedItems.length + i + 1 }}.
                    </div>

                    <cr-loading
                        size="40"
                    />
                    <i
                        class="cr-upload-list-item__delete link link--danger cr-icon-delete"
                        @click="uploadingItems.splice(i, 1)"
                    />
                </div>
            </slot>
        </div>
        <slot
            v-if="canUpload && label"
            name="button"
            :open-dialog="() => inputEl.click()"
        >
            <cr-text-icon
                class="cr-upload-list__button text-icon link link--neutral"
                @click="inputEl.click()"
            >
                <i class="cr-icon-link" />
                {{ label }}
                <template v-if="maxCount > 1">
                    (не более {{ maxCount }} файлов)
                </template>
            </cr-text-icon>
        </slot>
    </div>
</template>

<script lang="ts" setup>
import { formatFileSize } from '@1creator/common';
import { $notify, ref, useCreatorConfig, useUpload, watch } from '#imports';

const emit = defineEmits<{
    (e: 'update:model-value', v: any): void
}>();

const props = withDefaults(defineProps<{
    modelValue?: any,
    maxCount?: number,
    accept?: string[] | 'image' | null,
    label?: string,
    uploadFunction?: (v: FormData) => Promise<any>
}>(), {
    modelValue: undefined,
    maxCount: 1,
    accept: 'image',
    label: 'Прикрепить файл',
    uploadFunction: undefined,
});

const {
    canUpload,
    uploadingItems,
    uploadedItems,
    accept: accepting,
    clear,
    uploadFiles,
} = useUpload(props);
const inputEl = ref();
const config = useCreatorConfig();

function onInputChange(event: Event) {
    const target = event.target as HTMLInputElement;
    const inputFiles = target.files;

    if (inputFiles) {
        if (inputFiles.length + uploadedItems.value.length + uploadingItems.value.length > props.maxCount) {
            $notify({
                type: 'error',
                title: 'Ошибка',
                body: `Максимальное количество файлов: ${props.maxCount} шт.`,
            });
        } else {
            uploadFiles(inputFiles);
        }
    }
    target.value = '';
}

watch(uploadedItems, (val: any) => {
    emit('update:model-value', props.maxCount > 1 ? val : (val[0] || null));
}, { deep: true });

function trigger() {
    inputEl.value.click();
}

defineExpose({
    clear,
    trigger,
});
</script>

<style lang="scss">
.cr-upload-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 15px;
}

.cr-upload-list__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    box-sizing: content-box;
}

.cr-upload-list-item {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;

    &:hover {
        .cr-upload-list-item__delete {
            transform: scale(1);
        }
    }
}

.cr-upload-list-item__delete {
    flex-shrink: 0;
    transform: scale(0);
}

.cr-upload-list-item__icon {
    width: 50px;
    height: 50px;
}

.cr-upload-list-item__idx, .cr-upload-list-item__delete {
    transition: .2s ease-in;
}

.cr-upload-list-item__delete {
    margin-left: auto;
}

.cr-upload-list-item__info {
    display: grid;
}

.cr-upload-list-item__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.cr-upload-list-item__size {
    font-size: 0.85rem;
    color: var(--neutral-color);
}

.cr-upload-list__button {
    display: flex;
    gap: 5px;
    align-items: center;
}
</style>
