* {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

body {
  backface-visibility: hidden;
  background: var(--blank-color);
  color: var(--blank-contrast-color);
  transition: background-color .2s ease-in;
}
