.link {
  cursor: pointer;
  transition: all .1s ease-in;
  -webkit-tap-highlight-color: transparent;

  @media (hover: hover) {
    &:hover {
      color: var(--link-hover-color);
    }
  }

  @media (hover: none) {
    &:active {
      color: var(--link-hover-color);
    }
  }
}

.link--easy {
  color: var(--easy-color);
  --link-hover-color: var(--primary-color);
}

.link--plain {
  color: var(--plain-color);
  --link-hover-color: var(--primary-color);
}

.link--neutral {
  color: var(--neutral-color);
  --link-hover-color: var(--primary-color);
}

.link--danger {
  opacity: 0.8;
  color: var(--danger-color);
  --link-hover-color: var(--danger-color);

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }

  @media (hover: none) {
    &:active {
      opacity: 1;
    }
  }
}

.link--secondary {
  color: var(--secondary-color);
  --link-hover-color: var(--primary-color);
}

.link--primary {
  color: var(--primary-color);
  --link-hover-color: var(--neutral-color);
}

.link--underlined {
  padding-bottom: 5px;
  display: inline-block;
  position: relative;

  @media (hover: hover) {
    &:hover {
      color: unset;

      &:after {
        width: 100%;
      }
    }

    &:not(:hover):after {
      right: 0;
      left: auto;
    }
  }

  @media (hover: none) {
    &:active {
      color: unset;

      &:after {
        width: 100%;
      }
    }

    &:not(:active):after {
      right: 0;
      left: auto;
    }
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    bottom: 0;
    left: 0;
  }

  &:after {
    transition: .2s ease-in;
    background: var(--plain-color);
    width: 0;
  }
}

.link--dotted {
  border-bottom: 1px dotted currentColor;
}

.link--dashed {
  border-bottom: 1px dashed currentColor;
}