body .prose {
  --tw-prose-body: var(--plain-color);
  --tw-prose-headings: var(--plain-color);
  --tw-prose-lead: var(--plain-color);
  --tw-prose-links: var(--primary-color);
  --tw-prose-bold: var(--plain-color);
  --tw-prose-counters: var(--neutral-color);
  --tw-prose-bullets: var(--neutral-color);
  --tw-prose-hr: var(--easy-color);
  --tw-prose-quotes: var(--neutral-color);
  --tw-prose-quote-borders: var(--base-border-color);
  --tw-prose-captions: var(--plain-color);
  --tw-prose-code: var(--plain-color);
  --tw-prose-pre-code: var(--plain-color);
  --tw-prose-pre-bg: var(--plain-color);
  --tw-prose-th-borders: var(--base-border-color);
  --tw-prose-td-borders: var(--base-border-color);
}