<template>
    <component
        :is="tag"
        class="cr-button"
        :class="buttonClass"
        :style="buttonStyle"
        :type="nativeType"
        v-bind="$attrs"
        :disabled="disabled"
    >
        <span
            v-if="$slots.iconLeft"
            class="cr-button__icon cr-button__icon--left"
        >
            <slot name="iconLeft" />
        </span>
        <slot />
        <span
            v-if="$slots.iconRight"
            class="cr-button__icon cr-button__icon--right"
        >
            <slot name="iconRight" />
        </span>
    </component>
</template>
<script setup lang="ts">
import { computed } from '#imports';

const props = withDefaults(defineProps<{
    tag?: keyof HTMLElementTagNameMap | any,
    type?: 'blank' | 'plain' | 'easy' | 'primary' | 'secondary' | 'danger' | 'success' | 'neutral' | 'warning',
    nativeType?: 'button' | 'reset' | 'submit',
    size?: 'small',
    outline?: boolean,
    dashed?: boolean,
    disabled?: boolean,
    circle?: boolean,
    square?: string | number | boolean | undefined,
}>(), {
    tag: 'button',
    type: 'primary',
    size: undefined,
    nativeType: 'button',
    outline: false,
    dashed: false,
    disabled: false,
    square: undefined,
    circle: false,
});

const buttonClass = computed(() => {
    return {
        ['cr-button--' + props.type]: true,
        ['cr-button--' + props.size]: props.size,
        'cr-button--outline': props.outline,
        'cr-button--dashed': props.dashed,
        'cr-button--disabled': props.disabled,
        'cr-button--square': props.square !== undefined,
        'cr-button--circle': props.circle,
    };
});

const buttonStyle = computed(() => {
    const res: Record<string, any> = {};
    const side = typeof props.square === 'number'
        ? (props.square + 'px')
        : typeof props.square === 'string' ? props.square : null;

    if (side) {
        res.width = side;
        res.height = side;
        res.fontSize = `calc(${side} * 0.4)`;
    }

    return res;
});
</script>

<style lang="scss">
.cr-button {
    appearance: none;
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-align: center;
    padding: 5px 15px;
    position: relative;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none !important;
    white-space: nowrap;
    min-height: var(--base-control-height);
    font: var(--button-font);
    border-radius: var(--base-border-radius);
    border: var(--button-border-width, 1px) solid transparent;
    background: var(--button-bg-color);
    color: var(--button-color);
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    @media (hover: hover) {
        &:hover, &:focus:not(:focus-visible) {
            filter: brightness(0.85);
        }
    }

    @media (hover: none) {
        &:active {
            filter: brightness(0.85);
        }
    }

    &:focus {
        outline: none;
    }
}

.cr-button--square {
    padding: 0;
    min-height: auto;
    flex-shrink: 0;
    width: var(--base-control-height);
    height: var(--base-control-height);
    font-size: calc(var(--base-control-height) * 0.4);
}

.cr-button--circle {
    border-radius: 999px;
}

.cr-button--small {
    min-height: 0;
    padding: 4px 20px;
    font-size: 0.85rem;
    border-radius: calc(var(--base-border-radius) * 0.5);
}

.cr-button--blank {
    --button-bg-color: var(--blank-color);
    --button-color: var(--blank-contrast-color);
}

.cr-button--easy {
    --button-bg-color: var(--easy-color);
    --button-color: var(--easy-contrast-color);
}

.cr-button--plain {
    --button-bg-color: var(--plain-color);
    --button-color: var(--plain-contrast-color);
}

.cr-button--primary {
    --button-bg-color: var(--primary-color);
    --button-color: var(--primary-contrast-color);
}

.cr-button--secondary {
    --button-bg-color: var(--secondary-color);
    --button-color: var(--secondary-contrast-color);
}

.cr-button--neutral {
    --button-bg-color: var(--neutral-color);
    --button-color: var(--neutral-contrast-color);
}

.cr-button--danger {
    --button-bg-color: var(--danger-color);
    --button-color: var(--danger-contrast-color);
}

.cr-button--warning {
    --button-bg-color: var(--warning-color);
    --button-color: var(--warning-contrast-color);
}

.cr-button--success {
    --button-bg-color: var(--success-color);
    --button-color: var(--success-contrast-color);
}

.cr-button--outline, .cr-button--dashed {
    background: none;
    border-color: var(--button-bg-color);
    color: var(--button-bg-color);
}

.cr-button--dashed {
    border-style: dashed;
}

.cr-button--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.cr-button__icon {
    line-height: 1;
    font-size: 20px;
    height: 20px;
    vertical-align: middle;
}

.cr-button__icon--left {
    margin-left: -5px;
    margin-right: 5px;
}

.cr-button__icon--right {
    margin-right: -5px;
    margin-left: 5px;
}
</style>
