<script setup lang="ts">

withDefaults(defineProps<{
    wrap?: boolean,
    hover?: boolean,
    strip?: boolean,
    border?: boolean,
    paddingX?: string,
    paddingY?: string,
    verticalAlign?: 'middle' | 'top' | 'bottom',
}>(), {
    wrap: false,
    hover: false,
    strip: false,
    border: false,
    paddingX: '10px',
    paddingY: '10px',
    verticalAlign: 'middle',
});
</script>

<template>
    <div
        class="cr-table"
        :class="{
            'cr-table--hover': hover,
            'cr-table--wrap': wrap,
            'cr-table--border': border,
            'cr-table--strip': strip,
            [`cr-table--${verticalAlign}`]: true,
        }"
    >
        <table
            class="cr-table__table"
            :style="{
                '--padding-x': paddingX,
                '--padding-y': paddingY,
            }"
        >
            <slot />
        </table>
    </div>
</template>

<style lang="scss">
.cr-table {
    overflow: auto;

    td {
        padding: var(--padding-y) var(--padding-x);
    }
}

.cr-table--top {
    --vertical-align: top;
}

.cr-table--bottom {
    --vertical-align: bottom;
}

.cr-table--middle {
    --vertical-align: middle;
}

.cr-table__table {
    width: 100%;
}
</style>
