<script setup lang="ts">
withDefaults(defineProps<{
    width?: string,
    minWidth?: string,
    label?: string,
    labelPosition?: 'left' | 'left-space' | 'top',
}>(), {
    width: undefined,
    minWidth: undefined,
    label: undefined,
    labelPosition: 'left-space',
});
</script>

<template>
    <td
        class="cr-table-cell"
        :class="{
            [`cr-table-cell--label-${labelPosition}`]: label,
        }"
        :style="{ width, minWidth }"
    >
        <div v-if="label" class="cr-table-cell__label">
            {{ label }}
        </div>
        <slot />
    </td>
</template>

<style lang="scss">
.cr-table-cell__label {
    display: none;
}

.cr-table-cell {
    vertical-align: var(--vertical-align);
}

.cr-table--wrap {
    .cr-table-cell, .cr-table-cell__label {
        display: block;
    }

    .cr-table-cell--label-show {
        &:not(:last-child) {
            border-bottom: var(--base-border-width) solid var(--base-border-color);
        }
    }

    .cr-table-cell--label-left-space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        text-align: right;
    }

    .cr-table-cell--label-left {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .cr-table-cell--label-top {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .cr-table-cell__label {
        font-weight: 500;
        text-align: left;
    }
}
</style>
