<script setup lang="ts">
</script>

<template>
    <tr class="cr-table-row">
        <slot />
    </tr>
</template>

<style lang="scss">
.cr-table--wrap {
    .cr-table-row {
        display: block;
        padding: 5px;
        border: var(--base-border-width) solid var(--base-border-color);
        border-radius: var(--base-border-radius);
    }

    .cr-table-row + .cr-table-row {
        margin-top: 15px;
    }
}

.cr-table--border {
    .cr-table-row + .cr-table-row {
        border-top: 1px solid var(--base-border-color);
    }
}

.cr-table--strip:not(.cr-table--wrap) tbody {
    .cr-table-row:nth-child(even) {
        background: var(--easy-color);
    }
}

.cr-table--hover:not(.cr-table--wrap) tbody {
    .cr-table-row:hover {
        filter: invert(0.05);
    }
}
</style>
