<script setup lang="ts">
</script>

<template>
    <thead class="cr-table-head">
        <slot />
    </thead>
</template>

<style lang="scss">
.cr-table--wrap {
    .cr-table-head {
        display: none;
    }
}

.cr-table-head {
    font-weight: 500;
    border-bottom: 2px solid var(--plain-color);
}
</style>
