<template>
    <div>
        Async component {{ name }}
        <slot />
    </div>
</template>

<script setup lang="ts">
const props = withDefaults(defineProps<{
    name: string,
    timeout?: number
}>(), { timeout: 5000 });

console.log('Async component ' + props.name + ': Before await');
new Promise(resolve => setTimeout(resolve, props.timeout)).then(() => {
    console.log('Async component ' + props.name + ': After await');
});
</script>

<style>

</style>
