<script setup lang="ts">
import { type Component, ref } from 'vue';

const props = defineProps<{
    condition: boolean,
    component: Component
}>();

const componentEl = ref();

defineExpose({ componentEl });
</script>

<template>
    <component
        :is="component"
        v-if="condition"
        ref="componentEl"
        v-bind="$attrs"
    >
        <slot />
    </component>
    <slot
        v-else
        v-bind="$attrs"
    />
</template>

<style scoped lang="scss">

</style>
