<template>
    <div v-if="error" class="cr-error">
        {{ error.message }}
    </div>
</template>

<script setup lang="ts">
defineProps<{
    error: Error
}>();
</script>

<style lang="scss">
.cr-error {
    background: var(--danger-color);
    color: var(--danger-contrast-color);
    padding: 15px;
    border-radius: var(--base-border-radius);
    text-align: left;
}
</style>
