<script setup lang="ts">
import { h, inject, onMounted, onUnmounted } from 'vue';
import { type LightboxController } from './types/lightbox.interface';
import { CrLazyImg } from '#components';

const slots = defineSlots<{
    default(): any,
    before(): any,
    after(): any,
    slide(props: {
        active: boolean
    }): any,
    thumbnail(props: {
        active: boolean
    }): any,
    afterSlide(props: {
        active: boolean
    }): any,
}>();

const props = withDefaults(defineProps<{
    src?: string,
    thumbnail?: string,
    lazy?: boolean,
    type?: 'image' | 'iframe' | 'video'
}>(), {
    src: undefined,
    thumbnail: undefined,
    lazy: true,
    type: 'image',
});

const lightbox = inject<LightboxController>('lightbox')!;
let lightboxKey = 0;

if (lightbox) {
    onMounted(() => {
        lightboxKey = lightbox.register({
            slots: {
                ...(
                    props.type === 'image'
                        ? {
                            slide: props.lazy
                                ? h(CrLazyImg, { src: props.src })
                                : h('img', { src: props.src }),
                            thumbnail: props.lazy
                                ? h(CrLazyImg, { src: props.thumbnail || props.src })
                                : h('img', { src: props.thumbnail || props.src }),
                        }
                        : props.type === 'iframe'
                            ? {
                                slide: h('iframe', { src: props.src }),
                                thumbnail: h('div', 'Не задан слот Thumbnail в Lightboxable'),
                            }
                            : props.type === 'video'
                                ? {
                                    slide: h('video', { src: props.src }),
                                    thumbnail: h('div', 'Не задан слот Thumbnail в Lightboxable'),
                                }
                                : {
                                    slide: h('div', 'Не задан слот Slide в Lightboxable'),
                                    thumbnail: h('div', 'Не задан слот Thumbnail в Lightboxable'),
                                }
                ),
                ...slots,
            },
        });
    });

    onUnmounted(() =>
        lightbox.unregister(lightboxKey),
    );
} else {
    console.error('Lightboxable must be wrapped with LightboxProvider');
}
</script>

<template>
    <div class="cr-lightboxable">
        <slot name="before" />
        <div
            class="cr-lightboxable__content"
            @click="lightbox!.show(lightboxKey)"
        >
            <slot />
        </div>
        <slot name="hover">
            <i class="cr-lightboxable__icon cr-icon-search" />
        </slot>
        <slot name="after" />
    </div>
</template>

<style lang="scss">
.cr-lightboxable {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
    }

    .cr-lightboxable__content {
        transition: .3s ease-in;
        height: 100%;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        @media (hover: hover) {
            &:hover {
                filter: brightness(0.3);

                + .cr-lightboxable__icon {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        @media (hover: none) {
            &:active {
                filter: brightness(0.3);

                + .cr-lightboxable__icon {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .cr-lightboxable__icon {
        transform: scale(1.5);
        transition: .2s ease-in;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        opacity: 0;
        font-size: 24px;
        color: white;
        pointer-events: none;
    }
}
</style>
