<script setup lang="ts">
import { computed, provide, ref } from 'vue';
import { type LightboxController } from './types/lightbox.interface';
import { type LightboxItem } from './types/lightbox-item.interface';
import Lightbox from './Lightbox.vue';

const emit = defineEmits<{
    (e: 'open'): void,
    (e: 'close'): void,
}>();

const props = defineProps<{
    zoomAble?: boolean,
}>();

const isShowing = ref(false);
const activeKey = ref(0);
const startIdx = ref(0);
let key = 0;

const itemsByKey = ref<Map<number, LightboxItem>>(new Map<number, LightboxItem>());

const items = computed(() => {
    return Array.from(itemsByKey.value.values());
});

function close() {
    isShowing.value = false;
}

function show(key = 0) {
    activeKey.value = key;
    startIdx.value = Array.from(itemsByKey.value.keys()).indexOf(key);
    isShowing.value = true;
}

function register(item: LightboxItem) {
    itemsByKey.value.set(key, item);
    return key++;
}

function unregister(key: number) {
    itemsByKey.value.delete(key);
}

provide<LightboxController>('lightbox', {
    close,
    show,
    activeKey,
    register,
    unregister,
});
</script>

<template>
    <slot />

    <teleport to="body">
        <cr-transition-fade
            scale-x="1.1"
            scale-y="1.1"
            @enter="emit('open')"
            @leave="emit('close')"
        >
            <lightbox
                v-if="isShowing"
                :start-index="startIdx"
                :items="items"
                :thumbnails="items"
                :zoom-able="zoomAble"
                @close="isShowing = false"
            >
                <template #after="data">
                    <slot
                        name="after"
                        v-bind="data"
                    />
                </template>
                <template #afterSlide="data">
                    <component :is="data.item.slots.afterSlide" v-bind="data" />
                </template>
                <template #slide="data">
                    <component :is="data.item.slots.slide" v-bind="data" />
                </template>
                <template #thumbnail="data">
                    <component :is="data.item.slots.thumbnail" v-bind="data" />
                </template>
            </lightbox>
        </cr-transition-fade>
    </teleport>
</template>

<style scoped lang="scss">

</style>
