<template>
    <div class="cr-lightbox">
        <div class="cr-lightbox__fade" />
        <div class="cr-lightbox__content">
            <div class="cr-lightbox__main">
                <div class="cr-lightbox__header">
                    <div class="cr-lightbox__pagination">
                        {{ activeIdx + 1 }} из {{ items.length }}
                    </div>
                    <button
                        class="cr-lightbox__close"
                        :class="{
                            'cr-lightbox__close--sidebar': items.length > 1
                        }"
                        @click="close"
                    >
                        <i class="cr-icon-close" />
                    </button>
                </div>
                <div class="cr-lightbox__slides-wrap">
                    <conditional-component
                        ref="zoomContent"
                        :component="ZoomContent"
                        :condition="zoomAble"
                        :initial-center="false"
                        :grid="false"
                        bounds
                        drag-only-zoomed
                        class="cr-lightbox__zoom-content"
                    >
                        <div
                            ref="slidesEl"
                            class="cr-lightbox__slides"
                            @scroll.passive="onScroll"
                        >
                            <div
                                v-for="(item, idx) in items"
                                :key="idx"
                                ref="slides"
                                class="cr-lightbox__slide"
                            >
                                <slot
                                    name="slide"
                                    :item="item"
                                    :idx="idx"
                                    :active="activeIdx === idx"
                                >
                                    <img
                                        :alt="`Слайд ${idx + 1}`"
                                        :src="item"
                                        loading="lazy"
                                    >
                                </slot>
                                <slot
                                    name="afterSlide"
                                    :item="item"
                                    :idx="idx"
                                    :active="activeIdx === idx"
                                />
                            </div>
                        </div>
                    </conditional-component>
                    <template v-if="items.length > 1 && navigation">
                        <div
                            class="cr-lightbox__prev-arrow cr-icon-caret-left"
                            @click="goToSlide(activeIdx - 1)"
                        />
                        <div
                            class="cr-lightbox__next-arrow cr-icon-caret-right"
                            @click="goToSlide(activeIdx + 1)"
                        />
                    </template>
                </div>
                <slot
                    name="after"
                    :active-idx="activeIdx"
                    :active-item="items[activeIdx]"
                />
            </div>

            <div
                v-if="items.length > 1"
                ref="thumbnailsEl"
                class="cr-lightbox__thumbnails"
            >
                <div
                    v-for="(item, idx) in items"
                    ref="thumbnails"
                    :key="item"
                    :class="{'cr-lightbox__thumbnail--current': activeIdx === idx}"
                    class="cr-lightbox__thumbnail"
                    @click="goToSlide(idx)"
                >
                    <slot
                        name="thumbnail"
                        :item="item"
                        :idx="idx"
                        :active="activeIdx === idx"
                    >
                        <img
                            alt=""
                            :src="thumbnails[idx] || items[idx]"
                            loading="lazy"
                        >
                    </slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import ZoomContent from '../zoom-content/ZoomContent.vue';
import ConditionalComponent from '../conditional-component/ConditionalComponent.vue';
import { onMounted, ref, useDisableScroll, useOnBackRoute } from '#imports';

const emit = defineEmits<{
    (e: 'close'): void,
    (e: 'update:activeIdx', v: number): void
}>();

const props = withDefaults(defineProps<{
    items?: any[],
    thumbnails?: any[],
    startIndex?: number,
    zoomAble?: boolean,
    navigation?: boolean,
}>(), {
    items: () => [],
    thumbnails: () => [],
    startIndex: 0,
    zoomAble: false,
    navigation: true,
});

const zoomContent = ref();
const slidesEl = ref<HTMLElement>();
const thumbnailsEl = ref<HTMLElement>();
const activeIdx = ref(props.startIndex);

function close() {
    emit('close');
}

function goToSlide(idx: number, smooth = true) {
    if (zoomContent.value?.componentEl) {
        zoomContent.value.componentEl.reset();
    }

    if (idx < 0) {
        idx = props.items.length - 1;
    } else if (idx >= props.items.length) {
        idx = 0;
    }
    slidesEl.value?.children[idx]?.scrollIntoView();
    thumbnailsEl.value?.children[idx]?.scrollIntoView({
        block: 'center',
        behavior: smooth ? 'smooth' : 'instant',
    });
}

function onScroll(e: Event) {
    const target = e.target as HTMLElement;
    activeIdx.value = Math.round(target.scrollLeft / target.clientWidth);
}

onMounted(() => {
    goToSlide(activeIdx.value, false);
});

useDisableScroll();
useOnBackRoute(close);

defineExpose({
    goToSlide,
    close,
});
</script>

<style lang="scss">
$mobileBreakpoint: 700px;

.cr-lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    --padding: var(--modal-padding, 15px);
    color: white;
}

.cr-lightbox__fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #151515;
}

.cr-lightbox__header {
    display: flex;
    align-items: center;
    height: 40px;
}

.cr-lightbox__pagination {
    padding: 5px 10px;
}

.cr-lightbox__close {
    margin-left: auto;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    opacity: 0.75;
    font-size: 30px;
    -webkit-tap-highlight-color: transparent;
    border: none;

    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }

    @media (hover: none) {
        &:active {
            opacity: 1;
        }
    }
}

.cr-lightbox__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;

    @media (min-width: $mobileBreakpoint) {
        flex-direction: row;
    }
}

.cr-lightbox__main {
    width: 100%;
    height: 100%;
    //display: grid;
    //grid-template-rows: 40px calc(100% - 40px);
    //grid-template-columns: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cr-lightbox__slides-wrap {
    position: relative;
    max-height: 100%;
    display: grid;
    flex-grow: 1;
    height: 0;
}

.cr-lightbox__slides {
    width: 100%;
    display: flex;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.cr-lightbox__slide {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    flex-shrink: 0;
    min-height: 100px;

    img {
        object-fit: contain;
        max-height: 90%;
        min-width: 100px;
        max-width: 100%;
        user-select: none;
    }

    iframe {
        height: 100%;
        width: 100%;
        background: black;
    }

    video {
        height: 100%;
        width: 100%;
        background: black;
    }
}

.cr-lightbox__thumbnails {
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background: #101010;
    flex-shrink: 0;
    width: 300px;
    overflow: auto;

    @media (min-width: $mobileBreakpoint) {
        display: flex;
    }
}

.cr-lightbox__thumbnail {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    > * {
        max-width: 100%;
        max-height: 100%;
    }

    @media (hover: hover) {
        &:hover {
            filter: brightness(1.2);
        }
    }

    @media (hover: none) {
        &:active {
            filter: brightness(1.2);
        }
    }

    img {
        width: 100%;
        border-radius: 0;
        object-fit: contain;
        max-height: 100%;
    }
}

.cr-lightbox__thumbnail--current {
    outline: 2px solid var(--primary-color) !important;
}

.cr-lightbox__prev-arrow, .cr-lightbox__next-arrow {
    position: absolute;
    width: 100px !important;
    height: 100%;
    top: 0;
    display: none;
    align-items: center;
    font-size: 48px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.cr-lightbox__prev-arrow {
    left: 0;
}

.cr-lightbox__next-arrow {
    right: 0;
    justify-content: end;
}

.cr-lightbox__zoom-content {
    display: flex;
    align-items: center;
    height: 100%;

    .zoom-content__content {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: $mobileBreakpoint) {
    .cr-lightbox__prev-arrow, .cr-lightbox__next-arrow {
        display: flex;
    }
}
</style>
