<template>
    <img
        v-if="thumbnail"
        ref="rootEl"
        :src="thumbnail"
        :alt="name"
        class="cr-upload cr-upload--image"
        :style="{'object-fit': fit}"
        :class="{
            'cr-upload--downloadable': downloadable,
            'cr-upload--borderless': borderless,
        }"
    >
    <div
        v-else-if="url"
        ref="rootEl"
        v-loading="downloading"
        class="cr-upload cr-upload--extension"
        :class="{
            'cr-upload--downloadable': downloadable,
            'cr-upload--borderless': borderless,
        }"
    >
        <file-icon
            class="cr-upload__icon"
            :extension="extension"
        />
        <div
            v-if="details"
            class="cr-upload__details"
        >
            <div
                class="cr-upload__name"
                role="link"
            >
                {{ name }}
            </div>
            <div
                class="cr-upload__info"
                role="link"
            >
                <span class="cr-upload__extension">{{ extension }}</span>, {{ sizeLabel }}
            </div>
            <slot name="afterDetails" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { formatFileSize } from '@1creator/common';
import FileIcon from '../file-icon/FileIcon.vue';
import { computed, downloadFile, ref, useSafeOnMounted } from '#imports';

const props = withDefaults(defineProps<{
    url?: string,
    thumbnail?: string,
    size?: number,
    name?: string,
    downloadable?: boolean,
    fit?: 'cover' | 'contain',
    details?: boolean,
    borderless?: boolean,
}>(), {
    size: undefined,
    url: undefined,
    thumbnail: undefined,
    name: undefined,
    downloadable: false,
    fit: 'contain',
    details: true,
    borderless: false,
});

const extension = computed(() => {
    const arr = props.name?.split('.');
    return arr && arr[arr.length - 1];
});

const rootEl = ref();
const downloading = ref(false);

const sizeLabel = computed(() => {
    return props.size && formatFileSize(props.size);
});

// const thumbnail = computed(() => {
//     if (!props.upload) {
//         return props.fallbackSrc;
//     }
//
//     if (props.best) {
//         return props.upload.url;
//     } else if (props.upload.sizes) {
//         return UploadModel.getThumbnail(props.upload);
//     }
// });

if (props.downloadable && props.url && props.name) {
    useSafeOnMounted(rootEl, () => {
        rootEl.value.addEventListener('click', async() => {
            downloading.value = true;
            await downloadFile(props.url, props.name!);
            downloading.value = false;
        });
    });
}
</script>

<style lang="scss">
.cr-upload {
    position: relative;
    user-select: none;
    display: flex;
    border-radius: var(--base-border-radius);
    background: var(--blank-color);

    iframe {
        width: 100%;
        height: 100%;
    }
}

.cr-upload--extension {
    flex-direction: column;
    justify-content: center;
    padding: min(25px, 10%);
    border: 1px solid var(--easy-color);
    color: var(--plain-color);
}

.cr-upload--borderless {
    padding: 0;
    border: none;
}

.cr-upload--downloadable {
    cursor: pointer;

    &:hover {
        text-decoration: none;
        box-shadow: 0 20px 40px -20px rgba(27, 50, 73, 0.25);
        z-index: 1;
    }
}

.cr-upload--image {
    word-break: break-all;
    font-size: 0.7rem;
    line-height: 14px;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.cr-upload__icon {
    max-width: 60px;
    min-width: 30px;
    width: 25%;
}

.cr-upload__details {
    font-size: 0.85rem;
    line-height: 1;
    margin-top: clamp(15px, 10%, 30px);
}

.cr-upload__name {
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 2px;
}

.cr-upload__extension {
    text-transform: uppercase;
}

.cr-upload__info {
    color: var(--neutral-color);
    font-size: 80%;
}
</style>
