<template>
    <div class="cr-textarea">
        <div
            class="cr-textarea__content"
            :class="{
                'cr-textarea--error': isError,
                'cr-textarea--filled': !!modelValue,
                'cr-textarea--placeholder': !!placeholder,
                'cr-textarea--disabled': disabled,
                'cr-textarea--focus': !!isFocus && !disabled,
            }"
            @click="isFocus = true; textareaEl?.focus()"
        >
            <label
                v-if="label"
                class="cr-textarea__label"
            >
                {{ label }}
            </label>
            <textarea
                ref="textareaEl"
                :value="modelValue"
                class="cr-textarea__textarea"
                :placeholder="placeholder"
                :disabled="disabled"
                :required="required"
                @focus="isFocus = true"
                @input="onInput"
                @change="onChange"
                @blur="isFocus = false"
            />
            <label
                v-if="maxLength"
                class="cr-textarea__length"
            >
                {{ modelValue ? modelValue.length : 0 }}/{{ maxLength }}
            </label>
        </div>

        <cr-transition-collapse>
            <div
                v-if="isError"
                class="cr-textarea__errors"
            >
                {{ errors.join('. ') }}
            </div>
        </cr-transition-collapse>
    </div>
</template>

<script setup lang="ts">
import { computed, ref, useSafeOnMounted } from '#imports';

const props = withDefaults(defineProps<{
    modelValue?: any,
    label?: string,
    placeholder?: string,
    disabled?: boolean,
    required?: boolean,
    maxLength?: number,
    errors?: string[],
    autofocus?: boolean
    lazy?: boolean
}>(), {
    type: 'text',
    disabled: false,
    label: '',
    required: false,
    placeholder: undefined,
    maxLength: undefined,
    errors: undefined,
    modelValue: undefined,
    autofocus: false,
    lazy: false,
});

const textareaEl = ref<HTMLInputElement>();
const isFocus = ref(false);
const isError = computed(() => props.errors?.length);

const emit = defineEmits<{
    (e: 'update:modelValue', v: number | string | null | undefined): void
}>();

const value = computed({
    get() {
        return props.modelValue;
    },
    set(val: number | string | null | undefined) {
        emit('update:modelValue', val);
    },
});

if (props.autofocus) {
    useSafeOnMounted(textareaEl, focus);
}

function focus() {
    textareaEl.value?.focus();
}

function onInput(e: InputEvent) {
    if (!props.lazy) {
        emit('update:modelValue', (e.target as HTMLInputElement).value);
    }
}

function onChange(e: InputEvent) {
    if (props.lazy) {
        emit('update:modelValue', (e.target as HTMLInputElement).value);
    }
}

defineExpose({ focus });

</script>

<style lang="scss">
.cr-textarea__content {
    font-size: 1rem;
    position: relative;
    background: var(--blank-color);
    border-radius: var(--base-border-radius);
    transition: border .25s;
    border: var(--base-border-width, 1px) solid var(--base-border-color);
}

.cr-textarea--focus {
    border-color: var(--primary-color);
}

.cr-textarea--focus, .cr-textarea--filled, .cr-textarea--placeholder {
    .cr-textarea__label {
        font-size: 75%;
        transform: translateY(4px);
    }
}

.cr-textarea--error {
    border-color: var(--danger-color);
}

.cr-textarea--disabled {
    cursor: not-allowed;
    opacity: 0.75;
}

.cr-textarea__length {
    color: var(--neutral-color);
    margin: 5px 15px;
    font-size: 0.85rem;
    text-align: right;
    display: block;
}

.cr-textarea__textarea {
    outline: none !important;
    color: var(--plain-color);
    appearance: none;
    font: var(--base-font);
    width: 100%;
    min-height: 100px;
    padding: 5px 15px 0;
    display: block;
    background: transparent;
    border: none;

    &:focus {
        border-color: var(--primary-color);
    }

    &::placeholder {
        font-size: 1rem;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        font: var(--base-font) !important;
    }
}

.cr-textarea__textarea[disabled] {
    pointer-events: none;
}

.cr-textarea__label {
    display: block;
    margin-bottom: 0;
    color: var(--neutral-color);
    background: var(--blank-color);
    padding-left: 15px;
    max-width: calc(100% - 15px);
    transition: all .1s linear;
    cursor: text;
    pointer-events: none;
    font-size: 1rem;
    border-radius: var(--base-border-radius);
    height: 20px;
    transform: translateY(15px);
}

.cr-textarea__errors {
    font-size: 0.85rem;
    color: var(--danger-color);
    width: 100%;
    text-align: left;
}
</style>
