<template>
    <component
        :is="tag"
        class="cr-drop-zone"
        :class="{
            [highlightClass]: isHover,
        }"
        @dragover.prevent.stop="isHover = !disabled"
        @dragleave="isHover = false"
        @drop.prevent="onDrop"
        @click="clickable && inputEl?.click()"
    >
        <input
            v-if="!disabled"
            ref="inputEl"
            type="file"
            name="files[]"
            style="display: none"
            :accept="accepting?.join(',')"
            :multiple="multiple"
            @change="onInputChange"
        >
        <slot :show-dialog="showDialog" />
    </component>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue';

const emit = defineEmits<{
    (e: 'drop', v: FileList): void,
}>();

const props = withDefaults(defineProps<{
    tag?: keyof HTMLElementTagNameMap | any,
    accept?: string[] | 'image' | null,
    highlightClass?: string,
    disabled?: boolean,
    clickable?: boolean
    multiple?: boolean
}>(), {
    accept: 'image',
    tag: 'div',
    highlightClass: undefined,
    disabled: false,
    clickable: false,
    multiple: false,
});

const accepting = computed(() => {
    if (props.accept === 'image') {
        return ['.png', '.jpg', '.jpeg', '.webp'];
    } else {
        return props.accept;
    }
});

const inputEl = ref<HTMLInputElement>();
const isHover = ref(false);

function onDrop(event: DragEvent) {
    isHover.value = false;
    const dt = event.dataTransfer;
    if (dt) {
        emit('drop', dt.files);
    }

    inputEl.value!.value = '';
    return false;
}

function onInputChange(event: Event) {
    const target = event.target as HTMLInputElement;
    const inputFiles = target.files;
    if (inputFiles) {
        emit('drop', inputFiles);
    }
    target.value = '';
}

function showDialog() {
    inputEl.value?.click();
}

defineExpose({ showDialog });
</script>

<style lang="scss">
</style>
