<template>
    <div class="cr-scrollable">
        <slot />
    </div>
</template>

<script lang="ts" setup>

</script>

<style lang="scss" scoped>
.cr-scrollable {
    overflow: auto;

    @media (hover: hover) {
        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {
            background: var(--blank-color);

            &:hover {
                background: var(--easy-color);
            }
        }

        &::-webkit-scrollbar-thumb {
            background: var(--base-border-color);
            border-radius: 6px;

            &:hover {
                background: var(--primary-color);
            }
        }
    }
}
</style>
