<template>
    <label
        class="cr-radio"
        :class="{
            [`radio--${position}`]: true,
            'radio--disabled': disabled
        }"
    >
        <input
            class="cr-radio__input"
            type="radio"
            :checked="isChecked"
            :disabled="disabled"
            @input="onInput"
        >
        <i class="cr-radio__box" />
        <slot />
    </label>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

const props = withDefaults(defineProps<{
    disabled?: boolean,
    modelValue?: any,
    radioValue?: any,
    keyField?: string,
    position?: 'left' | 'right' | 'top' | 'bottom',
}>(), {
    position: 'left',
    modelValue: undefined,
    radioValue: undefined,
    keyField: undefined,
});

const emit = defineEmits<{
    (e: 'update:modelValue', v: any): void
}>();

function onInput(e: Event) {
    const cb = e.target as HTMLInputElement;
    let newValue;
    if (cb.checked) {
        newValue = props.radioValue;
    }

    cb.checked = isChecked.value;
    emit('update:modelValue', newValue);
}

const isChecked = computed(() => {
    if (props.keyField) {
        return Array.isArray(props.modelValue)
            ? props.modelValue.some(i => i[props.keyField!] === props.radioValue[props.keyField!])
            : props.modelValue?.[props.keyField] === props.radioValue[props.keyField];
    } else {
        return Array.isArray(props.modelValue)
            ? props.modelValue.includes(props.radioValue)
            : props.modelValue === props.radioValue;
    }
});
</script>

<style lang="scss">
.cr-radio {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    line-height: 1;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
}

.cr-radio .cr-radio__box {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: white;
    border: 1px solid var(--base-border-color);
    border-radius: 50%;
    vertical-align: text-bottom;
    transition: all 0.1s linear;
    flex-shrink: 0;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        background-repeat: no-repeat;
        background: var(--primary-color);
        border-radius: 50%;
        opacity: 0;
        transition: .1s ease-in;
    }
}

.cr-radio__input {
    position: absolute;
    opacity: 0;
}

.cr-radio input:focus + .cr-radio__box {
    border-color: var(--primary-color);
}

.cr-radio input:checked + .cr-radio__box {
    border-color: var(--primary-color);

    &::before {
        opacity: 1;
        width: 50%;
        height: 50%;
    }
}

.radio--disabled {
    cursor: not-allowed;

    .cr-radio__box {
        opacity: 0.3;
    }
}
</style>
