@use "variables" as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qn1qr3') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qn1qr3') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qn1qr3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cr-icon-"], [class*=" cr-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cr-icon-heart {
  &:before {
    content: $cr-icon-heart; 
  }
}
.cr-icon-heart-fill {
  &:before {
    content: $cr-icon-heart-fill; 
  }
}
.cr-icon-duplicate {
  &:before {
    content: $cr-icon-duplicate; 
  }
}
.cr-icon-google {
  &:before {
    content: $cr-icon-google; 
  }
}
.cr-icon-yandex {
  &:before {
    content: $cr-icon-yandex; 
  }
}
.cr-icon-telegram {
  &:before {
    content: $cr-icon-telegram; 
  }
}
.cr-icon-viber {
  &:before {
    content: $cr-icon-viber; 
  }
}
.cr-icon-vk {
  &:before {
    content: $cr-icon-vk; 
  }
}
.cr-icon-odnoklassniki {
  &:before {
    content: $cr-icon-odnoklassniki; 
  }
}
.cr-icon-tick {
  &:before {
    content: $cr-icon-tick; 
  }
}
.cr-icon-align-center {
  &:before {
    content: $cr-icon-align-center; 
  }
}
.cr-icon-text-heading {
  &:before {
    content: $cr-icon-text-heading; 
  }
}
.cr-icon-activity {
  &:before {
    content: $cr-icon-activity; 
  }
}
.cr-icon-add-user {
  &:before {
    content: $cr-icon-add-user; 
  }
}
.cr-icon-align-justify {
  &:before {
    content: $cr-icon-align-justify; 
  }
}
.cr-icon-align-left {
  &:before {
    content: $cr-icon-align-left; 
  }
}
.cr-icon-align-right {
  &:before {
    content: $cr-icon-align-right; 
  }
}
.cr-icon-arrow-alt-down {
  &:before {
    content: $cr-icon-arrow-alt-down; 
  }
}
.cr-icon-arrow-alt-left {
  &:before {
    content: $cr-icon-arrow-alt-left; 
  }
}
.cr-icon-arrow-alt-right {
  &:before {
    content: $cr-icon-arrow-alt-right; 
  }
}
.cr-icon-arrow-alt-up {
  &:before {
    content: $cr-icon-arrow-alt-up; 
  }
}
.cr-icon-arrow-down {
  &:before {
    content: $cr-icon-arrow-down; 
  }
}
.cr-icon-arrow-down-square {
  &:before {
    content: $cr-icon-arrow-down-square; 
  }
}
.cr-icon-arrow-left {
  &:before {
    content: $cr-icon-arrow-left; 
  }
}
.cr-icon-arrow-left-square {
  &:before {
    content: $cr-icon-arrow-left-square; 
  }
}
.cr-icon-arrow-right {
  &:before {
    content: $cr-icon-arrow-right; 
  }
}
.cr-icon-arrow-right-square {
  &:before {
    content: $cr-icon-arrow-right-square; 
  }
}
.cr-icon-arrow-up {
  &:before {
    content: $cr-icon-arrow-up; 
  }
}
.cr-icon-arrow-up-square {
  &:before {
    content: $cr-icon-arrow-up-square; 
  }
}
.cr-icon-bag {
  &:before {
    content: $cr-icon-bag; 
  }
}
.cr-icon-bag-alt {
  &:before {
    content: $cr-icon-bag-alt; 
  }
}
.cr-icon-bookmark {
  &:before {
    content: $cr-icon-bookmark; 
  }
}
.cr-icon-buy {
  &:before {
    content: $cr-icon-buy; 
  }
}
.cr-icon-calendar {
  &:before {
    content: $cr-icon-calendar; 
  }
}
.cr-icon-calendar-time {
  &:before {
    content: $cr-icon-calendar-time; 
  }
}
.cr-icon-call {
  &:before {
    content: $cr-icon-call; 
  }
}
.cr-icon-calling {
  &:before {
    content: $cr-icon-calling; 
  }
}
.cr-icon-call-missed {
  &:before {
    content: $cr-icon-call-missed; 
  }
}
.cr-icon-call-silent {
  &:before {
    content: $cr-icon-call-silent; 
  }
}
.cr-icon-camera {
  &:before {
    content: $cr-icon-camera; 
  }
}
.cr-icon-caret-down {
  &:before {
    content: $cr-icon-caret-down; 
  }
}
.cr-icon-caret-down-square {
  &:before {
    content: $cr-icon-caret-down-square; 
  }
}
.cr-icon-caret-left {
  &:before {
    content: $cr-icon-caret-left; 
  }
}
.cr-icon-caret-left-square {
  &:before {
    content: $cr-icon-caret-left-square; 
  }
}
.cr-icon-caret-right {
  &:before {
    content: $cr-icon-caret-right; 
  }
}
.cr-icon-caret-right-square {
  &:before {
    content: $cr-icon-caret-right-square; 
  }
}
.cr-icon-caret-up {
  &:before {
    content: $cr-icon-caret-up; 
  }
}
.cr-icon-caret-up-square {
  &:before {
    content: $cr-icon-caret-up-square; 
  }
}
.cr-icon-category {
  &:before {
    content: $cr-icon-category; 
  }
}
.cr-icon-chart {
  &:before {
    content: $cr-icon-chart; 
  }
}
.cr-icon-chat {
  &:before {
    content: $cr-icon-chat; 
  }
}
.cr-icon-clear-formatting {
  &:before {
    content: $cr-icon-clear-formatting; 
  }
}
.cr-icon-close {
  &:before {
    content: $cr-icon-close; 
  }
}
.cr-icon-close-square {
  &:before {
    content: $cr-icon-close-square; 
  }
}
.cr-icon-cursor {
  &:before {
    content: $cr-icon-cursor; 
  }
}
.cr-icon-danger-square {
  &:before {
    content: $cr-icon-danger-square; 
  }
}
.cr-icon-danger-triangle {
  &:before {
    content: $cr-icon-danger-triangle; 
  }
}
.cr-icon-delete {
  &:before {
    content: $cr-icon-delete; 
  }
}
.cr-icon-discount {
  &:before {
    content: $cr-icon-discount; 
  }
}
.cr-icon-discovery {
  &:before {
    content: $cr-icon-discovery; 
  }
}
.cr-icon-document {
  &:before {
    content: $cr-icon-document; 
  }
}
.cr-icon-dots {
  &:before {
    content: $cr-icon-dots; 
  }
}
.cr-icon-download {
  &:before {
    content: $cr-icon-download; 
  }
}
.cr-icon-drag {
  &:before {
    content: $cr-icon-drag; 
  }
}
.cr-icon-drag-handle {
  &:before {
    content: $cr-icon-drag-handle; 
  }
}
.cr-icon-edit {
  &:before {
    content: $cr-icon-edit; 
  }
}
.cr-icon-edit-square {
  &:before {
    content: $cr-icon-edit-square; 
  }
}
.cr-icon-filter {
  &:before {
    content: $cr-icon-filter; 
  }
}
.cr-icon-filter-alt {
  &:before {
    content: $cr-icon-filter-alt; 
  }
}
.cr-icon-folder {
  &:before {
    content: $cr-icon-folder; 
  }
}
.cr-icon-game {
  &:before {
    content: $cr-icon-game; 
  }
}
.cr-icon-graph {
  &:before {
    content: $cr-icon-graph; 
  }
}
.cr-icon-group {
  &:before {
    content: $cr-icon-group; 
  }
}
.cr-icon-hide {
  &:before {
    content: $cr-icon-hide; 
  }
}
.cr-icon-home {
  &:before {
    content: $cr-icon-home; 
  }
}
.cr-icon-image {
  &:before {
    content: $cr-icon-image; 
  }
}
.cr-icon-image-alt {
  &:before {
    content: $cr-icon-image-alt; 
  }
}
.cr-icon-info-square {
  &:before {
    content: $cr-icon-info-square; 
  }
}
.cr-icon-link {
  &:before {
    content: $cr-icon-link; 
  }
}
.cr-icon-list-marker {
  &:before {
    content: $cr-icon-list-marker; 
  }
}
.cr-icon-list-number {
  &:before {
    content: $cr-icon-list-number; 
  }
}
.cr-icon-location {
  &:before {
    content: $cr-icon-location; 
  }
}
.cr-icon-lock {
  &:before {
    content: $cr-icon-lock; 
  }
}
.cr-icon-login {
  &:before {
    content: $cr-icon-login; 
  }
}
.cr-icon-logout {
  &:before {
    content: $cr-icon-logout; 
  }
}
.cr-icon-markup {
  &:before {
    content: $cr-icon-markup; 
  }
}
.cr-icon-message {
  &:before {
    content: $cr-icon-message; 
  }
}
.cr-icon-meter {
  &:before {
    content: $cr-icon-meter; 
  }
}
.cr-icon-minus {
  &:before {
    content: $cr-icon-minus; 
  }
}
.cr-icon-minus-square {
  &:before {
    content: $cr-icon-minus-square; 
  }
}
.cr-icon-more-circle {
  &:before {
    content: $cr-icon-more-circle; 
  }
}
.cr-icon-more-square {
  &:before {
    content: $cr-icon-more-square; 
  }
}
.cr-icon-new-line {
  &:before {
    content: $cr-icon-new-line; 
  }
}
.cr-icon-notification {
  &:before {
    content: $cr-icon-notification; 
  }
}
.cr-icon-paper {
  &:before {
    content: $cr-icon-paper; 
  }
}
.cr-icon-paper-download {
  &:before {
    content: $cr-icon-paper-download; 
  }
}
.cr-icon-paper-fail {
  &:before {
    content: $cr-icon-paper-fail; 
  }
}
.cr-icon-paper-negative {
  &:before {
    content: $cr-icon-paper-negative; 
  }
}
.cr-icon-paper-plus {
  &:before {
    content: $cr-icon-paper-plus; 
  }
}
.cr-icon-paper-upload {
  &:before {
    content: $cr-icon-paper-upload; 
  }
}
.cr-icon-password {
  &:before {
    content: $cr-icon-password; 
  }
}
.cr-icon-play {
  &:before {
    content: $cr-icon-play; 
  }
}
.cr-icon-plus {
  &:before {
    content: $cr-icon-plus; 
  }
}
.cr-icon-plus-square {
  &:before {
    content: $cr-icon-plus-square; 
  }
}
.cr-icon-profile {
  &:before {
    content: $cr-icon-profile; 
  }
}
.cr-icon-question {
  &:before {
    content: $cr-icon-question; 
  }
}
.cr-icon-quote {
  &:before {
    content: $cr-icon-quote; 
  }
}
.cr-icon-refresh {
  &:before {
    content: $cr-icon-refresh; 
  }
}
.cr-icon-scan {
  &:before {
    content: $cr-icon-scan; 
  }
}
.cr-icon-search {
  &:before {
    content: $cr-icon-search; 
  }
}
.cr-icon-send {
  &:before {
    content: $cr-icon-send; 
  }
}
.cr-icon-setting {
  &:before {
    content: $cr-icon-setting; 
  }
}
.cr-icon-share {
  &:before {
    content: $cr-icon-share; 
  }
}
.cr-icon-shield-done {
  &:before {
    content: $cr-icon-shield-done; 
  }
}
.cr-icon-shield-fail {
  &:before {
    content: $cr-icon-shield-fail; 
  }
}
.cr-icon-show {
  &:before {
    content: $cr-icon-show; 
  }
}
.cr-icon-star {
  &:before {
    content: $cr-icon-star; 
  }
}
.cr-icon-star-fill {
  &:before {
    content: $cr-icon-star-fill; 
  }
}
.cr-icon-swap {
  &:before {
    content: $cr-icon-swap; 
  }
}
.cr-icon-text-bold {
  &:before {
    content: $cr-icon-text-bold; 
  }
}
.cr-icon-text-italic {
  &:before {
    content: $cr-icon-text-italic; 
  }
}
.cr-icon-text-strike {
  &:before {
    content: $cr-icon-text-strike; 
  }
}
.cr-icon-ticket {
  &:before {
    content: $cr-icon-ticket; 
  }
}
.cr-icon-tick-square {
  &:before {
    content: $cr-icon-tick-square; 
  }
}
.cr-icon-time-circle {
  &:before {
    content: $cr-icon-time-circle; 
  }
}
.cr-icon-time-square {
  &:before {
    content: $cr-icon-time-square; 
  }
}
.cr-icon-unlock {
  &:before {
    content: $cr-icon-unlock; 
  }
}
.cr-icon-upload {
  &:before {
    content: $cr-icon-upload; 
  }
}
.cr-icon-user {
  &:before {
    content: $cr-icon-user; 
  }
}
.cr-icon-users {
  &:before {
    content: $cr-icon-users; 
  }
}
.cr-icon-users-alt {
  &:before {
    content: $cr-icon-users-alt; 
  }
}
.cr-icon-video {
  &:before {
    content: $cr-icon-video; 
  }
}
.cr-icon-voice {
  &:before {
    content: $cr-icon-voice; 
  }
}
.cr-icon-voice-alt {
  &:before {
    content: $cr-icon-voice-alt; 
  }
}
.cr-icon-volume-down {
  &:before {
    content: $cr-icon-volume-down; 
  }
}
.cr-icon-volume-off {
  &:before {
    content: $cr-icon-volume-off; 
  }
}
.cr-icon-volume-up {
  &:before {
    content: $cr-icon-volume-up; 
  }
}
.cr-icon-wallet {
  &:before {
    content: $cr-icon-wallet; 
  }
}
.cr-icon-whatsapp {
  &:before {
    content: $cr-icon-whatsapp; 
  }
}
.cr-icon-work {
  &:before {
    content: $cr-icon-work; 
  }
}

