@font-face {
  font-family: '1creator';
  src:
    url('fonts/1creator.ttf?qn1qr3') format('truetype'),
    url('fonts/1creator.woff?qn1qr3') format('woff'),
    url('fonts/1creator.svg?qn1qr3#1creator') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cr-icon-"], [class*=" cr-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '1creator' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cr-icon-heart:before {
  content: "\e93f";
}
.cr-icon-heart-fill:before {
  content: "\e98b";
}
.cr-icon-duplicate:before {
  content: "\e98a";
}
.cr-icon-google:before {
  content: "\e92e";
}
.cr-icon-yandex:before {
  content: "\e96f";
}
.cr-icon-telegram:before {
  content: "\e988";
}
.cr-icon-viber:before {
  content: "\e987";
}
.cr-icon-vk:before {
  content: "\e97d";
}
.cr-icon-odnoklassniki:before {
  content: "\e955";
}
.cr-icon-tick:before {
  content: "\e989";
}
.cr-icon-align-center:before {
  content: "\e93b";
}
.cr-icon-text-heading:before {
  content: "\e986";
}
.cr-icon-activity:before {
  content: "\e900";
}
.cr-icon-add-user:before {
  content: "\e901";
}
.cr-icon-align-justify:before {
  content: "\e902";
}
.cr-icon-align-left:before {
  content: "\e903";
}
.cr-icon-align-right:before {
  content: "\e904";
}
.cr-icon-arrow-alt-down:before {
  content: "\e905";
}
.cr-icon-arrow-alt-left:before {
  content: "\e906";
}
.cr-icon-arrow-alt-right:before {
  content: "\e907";
}
.cr-icon-arrow-alt-up:before {
  content: "\e908";
}
.cr-icon-arrow-down:before {
  content: "\e909";
}
.cr-icon-arrow-down-square:before {
  content: "\e90a";
}
.cr-icon-arrow-left:before {
  content: "\e90b";
}
.cr-icon-arrow-left-square:before {
  content: "\e90c";
}
.cr-icon-arrow-right:before {
  content: "\e90d";
}
.cr-icon-arrow-right-square:before {
  content: "\e90e";
}
.cr-icon-arrow-up:before {
  content: "\e90f";
}
.cr-icon-arrow-up-square:before {
  content: "\e910";
}
.cr-icon-bag:before {
  content: "\e911";
}
.cr-icon-bag-alt:before {
  content: "\e912";
}
.cr-icon-bookmark:before {
  content: "\e913";
}
.cr-icon-buy:before {
  content: "\e914";
}
.cr-icon-calendar:before {
  content: "\e915";
}
.cr-icon-calendar-time:before {
  content: "\e916";
}
.cr-icon-call:before {
  content: "\e917";
}
.cr-icon-calling:before {
  content: "\e918";
}
.cr-icon-call-missed:before {
  content: "\e919";
}
.cr-icon-call-silent:before {
  content: "\e91a";
}
.cr-icon-camera:before {
  content: "\e91b";
}
.cr-icon-caret-down:before {
  content: "\e91c";
}
.cr-icon-caret-down-square:before {
  content: "\e91d";
}
.cr-icon-caret-left:before {
  content: "\e91e";
}
.cr-icon-caret-left-square:before {
  content: "\e91f";
}
.cr-icon-caret-right:before {
  content: "\e920";
}
.cr-icon-caret-right-square:before {
  content: "\e921";
}
.cr-icon-caret-up:before {
  content: "\e922";
}
.cr-icon-caret-up-square:before {
  content: "\e923";
}
.cr-icon-category:before {
  content: "\e924";
}
.cr-icon-chart:before {
  content: "\e925";
}
.cr-icon-chat:before {
  content: "\e926";
}
.cr-icon-clear-formatting:before {
  content: "\e927";
}
.cr-icon-close:before {
  content: "\e928";
}
.cr-icon-close-square:before {
  content: "\e929";
}
.cr-icon-cursor:before {
  content: "\e92a";
}
.cr-icon-danger-square:before {
  content: "\e92b";
}
.cr-icon-danger-triangle:before {
  content: "\e92c";
}
.cr-icon-delete:before {
  content: "\e92d";
}
.cr-icon-discount:before {
  content: "\e92f";
}
.cr-icon-discovery:before {
  content: "\e930";
}
.cr-icon-document:before {
  content: "\e931";
}
.cr-icon-dots:before {
  content: "\e932";
}
.cr-icon-download:before {
  content: "\e933";
}
.cr-icon-drag:before {
  content: "\e934";
}
.cr-icon-drag-handle:before {
  content: "\e935";
}
.cr-icon-edit:before {
  content: "\e936";
}
.cr-icon-edit-square:before {
  content: "\e937";
}
.cr-icon-filter:before {
  content: "\e938";
}
.cr-icon-filter-alt:before {
  content: "\e939";
}
.cr-icon-folder:before {
  content: "\e93a";
}
.cr-icon-game:before {
  content: "\e93c";
}
.cr-icon-graph:before {
  content: "\e93d";
}
.cr-icon-group:before {
  content: "\e93e";
}
.cr-icon-hide:before {
  content: "\e940";
}
.cr-icon-home:before {
  content: "\e941";
}
.cr-icon-image:before {
  content: "\e942";
}
.cr-icon-image-alt:before {
  content: "\e943";
}
.cr-icon-info-square:before {
  content: "\e944";
}
.cr-icon-link:before {
  content: "\e945";
}
.cr-icon-list-marker:before {
  content: "\e946";
}
.cr-icon-list-number:before {
  content: "\e947";
}
.cr-icon-location:before {
  content: "\e948";
}
.cr-icon-lock:before {
  content: "\e949";
}
.cr-icon-login:before {
  content: "\e94a";
}
.cr-icon-logout:before {
  content: "\e94b";
}
.cr-icon-markup:before {
  content: "\e94c";
}
.cr-icon-message:before {
  content: "\e94d";
}
.cr-icon-meter:before {
  content: "\e94e";
}
.cr-icon-minus:before {
  content: "\e94f";
}
.cr-icon-minus-square:before {
  content: "\e950";
}
.cr-icon-more-circle:before {
  content: "\e951";
}
.cr-icon-more-square:before {
  content: "\e952";
}
.cr-icon-new-line:before {
  content: "\e953";
}
.cr-icon-notification:before {
  content: "\e954";
}
.cr-icon-paper:before {
  content: "\e956";
}
.cr-icon-paper-download:before {
  content: "\e957";
}
.cr-icon-paper-fail:before {
  content: "\e958";
}
.cr-icon-paper-negative:before {
  content: "\e959";
}
.cr-icon-paper-plus:before {
  content: "\e95a";
}
.cr-icon-paper-upload:before {
  content: "\e95b";
}
.cr-icon-password:before {
  content: "\e95c";
}
.cr-icon-play:before {
  content: "\e95d";
}
.cr-icon-plus:before {
  content: "\e95e";
}
.cr-icon-plus-square:before {
  content: "\e95f";
}
.cr-icon-profile:before {
  content: "\e960";
}
.cr-icon-question:before {
  content: "\e961";
}
.cr-icon-quote:before {
  content: "\e962";
}
.cr-icon-refresh:before {
  content: "\e963";
}
.cr-icon-scan:before {
  content: "\e964";
}
.cr-icon-search:before {
  content: "\e965";
}
.cr-icon-send:before {
  content: "\e966";
}
.cr-icon-setting:before {
  content: "\e967";
}
.cr-icon-share:before {
  content: "\e968";
}
.cr-icon-shield-done:before {
  content: "\e969";
}
.cr-icon-shield-fail:before {
  content: "\e96a";
}
.cr-icon-show:before {
  content: "\e96b";
}
.cr-icon-star:before {
  content: "\e96c";
}
.cr-icon-star-fill:before {
  content: "\e96d";
}
.cr-icon-swap:before {
  content: "\e96e";
}
.cr-icon-text-bold:before {
  content: "\e970";
}
.cr-icon-text-italic:before {
  content: "\e971";
}
.cr-icon-text-strike:before {
  content: "\e972";
}
.cr-icon-ticket:before {
  content: "\e973";
}
.cr-icon-tick-square:before {
  content: "\e974";
}
.cr-icon-time-circle:before {
  content: "\e975";
}
.cr-icon-time-square:before {
  content: "\e976";
}
.cr-icon-unlock:before {
  content: "\e977";
}
.cr-icon-upload:before {
  content: "\e978";
}
.cr-icon-user:before {
  content: "\e979";
}
.cr-icon-users:before {
  content: "\e97a";
}
.cr-icon-users-alt:before {
  content: "\e97b";
}
.cr-icon-video:before {
  content: "\e97c";
}
.cr-icon-voice:before {
  content: "\e97e";
}
.cr-icon-voice-alt:before {
  content: "\e97f";
}
.cr-icon-volume-down:before {
  content: "\e980";
}
.cr-icon-volume-off:before {
  content: "\e981";
}
.cr-icon-volume-up:before {
  content: "\e982";
}
.cr-icon-wallet:before {
  content: "\e983";
}
.cr-icon-whatsapp:before {
  content: "\e984";
}
.cr-icon-work:before {
  content: "\e985";
}
