$icomoon-font-family: "1creator" !default;
$icomoon-font-path: "fonts" !default;

$cr-icon-heart: "\e93f";
$cr-icon-heart-fill: "\e98b";
$cr-icon-duplicate: "\e98a";
$cr-icon-google: "\e92e";
$cr-icon-yandex: "\e96f";
$cr-icon-telegram: "\e988";
$cr-icon-viber: "\e987";
$cr-icon-vk: "\e97d";
$cr-icon-odnoklassniki: "\e955";
$cr-icon-tick: "\e989";
$cr-icon-align-center: "\e93b";
$cr-icon-text-heading: "\e986";
$cr-icon-activity: "\e900";
$cr-icon-add-user: "\e901";
$cr-icon-align-justify: "\e902";
$cr-icon-align-left: "\e903";
$cr-icon-align-right: "\e904";
$cr-icon-arrow-alt-down: "\e905";
$cr-icon-arrow-alt-left: "\e906";
$cr-icon-arrow-alt-right: "\e907";
$cr-icon-arrow-alt-up: "\e908";
$cr-icon-arrow-down: "\e909";
$cr-icon-arrow-down-square: "\e90a";
$cr-icon-arrow-left: "\e90b";
$cr-icon-arrow-left-square: "\e90c";
$cr-icon-arrow-right: "\e90d";
$cr-icon-arrow-right-square: "\e90e";
$cr-icon-arrow-up: "\e90f";
$cr-icon-arrow-up-square: "\e910";
$cr-icon-bag: "\e911";
$cr-icon-bag-alt: "\e912";
$cr-icon-bookmark: "\e913";
$cr-icon-buy: "\e914";
$cr-icon-calendar: "\e915";
$cr-icon-calendar-time: "\e916";
$cr-icon-call: "\e917";
$cr-icon-calling: "\e918";
$cr-icon-call-missed: "\e919";
$cr-icon-call-silent: "\e91a";
$cr-icon-camera: "\e91b";
$cr-icon-caret-down: "\e91c";
$cr-icon-caret-down-square: "\e91d";
$cr-icon-caret-left: "\e91e";
$cr-icon-caret-left-square: "\e91f";
$cr-icon-caret-right: "\e920";
$cr-icon-caret-right-square: "\e921";
$cr-icon-caret-up: "\e922";
$cr-icon-caret-up-square: "\e923";
$cr-icon-category: "\e924";
$cr-icon-chart: "\e925";
$cr-icon-chat: "\e926";
$cr-icon-clear-formatting: "\e927";
$cr-icon-close: "\e928";
$cr-icon-close-square: "\e929";
$cr-icon-cursor: "\e92a";
$cr-icon-danger-square: "\e92b";
$cr-icon-danger-triangle: "\e92c";
$cr-icon-delete: "\e92d";
$cr-icon-discount: "\e92f";
$cr-icon-discovery: "\e930";
$cr-icon-document: "\e931";
$cr-icon-dots: "\e932";
$cr-icon-download: "\e933";
$cr-icon-drag: "\e934";
$cr-icon-drag-handle: "\e935";
$cr-icon-edit: "\e936";
$cr-icon-edit-square: "\e937";
$cr-icon-filter: "\e938";
$cr-icon-filter-alt: "\e939";
$cr-icon-folder: "\e93a";
$cr-icon-game: "\e93c";
$cr-icon-graph: "\e93d";
$cr-icon-group: "\e93e";
$cr-icon-hide: "\e940";
$cr-icon-home: "\e941";
$cr-icon-image: "\e942";
$cr-icon-image-alt: "\e943";
$cr-icon-info-square: "\e944";
$cr-icon-link: "\e945";
$cr-icon-list-marker: "\e946";
$cr-icon-list-number: "\e947";
$cr-icon-location: "\e948";
$cr-icon-lock: "\e949";
$cr-icon-login: "\e94a";
$cr-icon-logout: "\e94b";
$cr-icon-markup: "\e94c";
$cr-icon-message: "\e94d";
$cr-icon-meter: "\e94e";
$cr-icon-minus: "\e94f";
$cr-icon-minus-square: "\e950";
$cr-icon-more-circle: "\e951";
$cr-icon-more-square: "\e952";
$cr-icon-new-line: "\e953";
$cr-icon-notification: "\e954";
$cr-icon-paper: "\e956";
$cr-icon-paper-download: "\e957";
$cr-icon-paper-fail: "\e958";
$cr-icon-paper-negative: "\e959";
$cr-icon-paper-plus: "\e95a";
$cr-icon-paper-upload: "\e95b";
$cr-icon-password: "\e95c";
$cr-icon-play: "\e95d";
$cr-icon-plus: "\e95e";
$cr-icon-plus-square: "\e95f";
$cr-icon-profile: "\e960";
$cr-icon-question: "\e961";
$cr-icon-quote: "\e962";
$cr-icon-refresh: "\e963";
$cr-icon-scan: "\e964";
$cr-icon-search: "\e965";
$cr-icon-send: "\e966";
$cr-icon-setting: "\e967";
$cr-icon-share: "\e968";
$cr-icon-shield-done: "\e969";
$cr-icon-shield-fail: "\e96a";
$cr-icon-show: "\e96b";
$cr-icon-star: "\e96c";
$cr-icon-star-fill: "\e96d";
$cr-icon-swap: "\e96e";
$cr-icon-text-bold: "\e970";
$cr-icon-text-italic: "\e971";
$cr-icon-text-strike: "\e972";
$cr-icon-ticket: "\e973";
$cr-icon-tick-square: "\e974";
$cr-icon-time-circle: "\e975";
$cr-icon-time-square: "\e976";
$cr-icon-unlock: "\e977";
$cr-icon-upload: "\e978";
$cr-icon-user: "\e979";
$cr-icon-users: "\e97a";
$cr-icon-users-alt: "\e97b";
$cr-icon-video: "\e97c";
$cr-icon-voice: "\e97e";
$cr-icon-voice-alt: "\e97f";
$cr-icon-volume-down: "\e980";
$cr-icon-volume-off: "\e981";
$cr-icon-volume-up: "\e982";
$cr-icon-wallet: "\e983";
$cr-icon-whatsapp: "\e984";
$cr-icon-work: "\e985";

