<template>
    <cr-dropdown
        ref="dropdown"
        :disabled="disabled"
        class="cr-select-wrap"
        width="100%"
        padding="0"
        role="button"
        tabindex="0"
        :teleport="teleport"
        @close="onClose"
        @keydown="onKeyPress"
    >
        <div
            ref="selectEl"
            class="cr-select"
            :class="{
                'cr-select--focus': isFocus,
                'cr-select--shift': shiftInput,
                'cr-select--error': isError,
                'cr-select--disabled': disabled,
            }"
        >
            <div
                v-if="$slots.before"
                class="cr-select__before"
            >
                <slot name="before" />
            </div>
            <div class="cr-select__content">
                <div
                    v-show="isRenderingValue"
                    class="cr-select__value"
                >
                    <template v-if="multiple">
                        <slot
                            v-for="(option, idx) in modelValue"
                            :key="idx"
                            name="value"
                            :value="option"
                            :toggle-option="toggleOption"
                        >
                            <span class="cr-select__selected-option">{{ getLabel(option) }} <i
                                class="cr-select__selected-option-remove"
                                @click.stop="toggleOption(option, false)"
                            >&times;</i></span>
                        </slot>
                    </template>
                    <template v-else-if="isFilled">
                        <slot
                            name="value"
                            :value="modelValue"
                            :toggle-option="toggleOption"
                        >
                            {{ getLabel(modelValue) }}
                        </slot>
                    </template>
                </div>
                <input
                    v-show="isRenderingInput"
                    ref="inputEl"
                    v-model="inputValue"
                    class="cr-select__input"
                    :disabled="!isInputWritable"
                >
                <label v-show="label" class="cr-select__label">
                    {{ label }}
                </label>
                <label v-show="placeholder && !isFilled && !inputValue" class="cr-select__placeholder">
                    {{ placeholder }}
                </label>
            </div>
            <div class="cr-select__after">
                <slot name="after" />
                <cr-loading
                    :style="{display: isLoading ? 'block' : 'none'}"
                    size="16"
                    class="cr-select__loading"
                />
                <svg
                    v-show="!isLoading"
                    class="cr-select__caret"
                    width="14"
                    height="8"
                    fill="currentColor"
                    viewBox="0 0 14 8"
                >
                    <path
                        fill-rule="evenodd"
                        d="M.347 1.59A.833.833 0 1 1 1.526.41L6.12 5.007a1 1 0 0 0 1.415 0L12.132.41a.833.833 0 0 1 1.178 1.18L7.536 7.363a1 1 0 0 1-1.415 0L.347 1.589Z"
                        clip-rule="evenodd"
                    />
                </svg>
                <i
                    v-show="nullable && isFilled"
                    class="cr-icon-close cr-select__clear"
                    @click.stop="clear"
                />
            </div>
        </div>
        <cr-transition-collapse>
            <div
                v-if="errors?.length"
                class="cr-select__errors"
            >
                {{ errors.join('. ') }}
            </div>
        </cr-transition-collapse>
        <template #body="{toggle}">
            <slot
                name="options"
                :toggle="toggle"
                :options="listingOptions"
                :is-option-selected="isOptionSelected"
            >
                <div class="cr-select__options">
                    <div
                        v-for="(option, idx) in listingOptions"
                        :key="idx"
                        class="cr-select__option"
                        :class="{
                            'select-option--selected': isOptionSelected(option),
                            'select-option--focus': focusOptionIdx === idx,
                        }"
                        @mouseenter="focusOptionIdx = idx"
                        @mousedown.prevent="toggleOption(option)"
                    >
                        <slot name="option" :option="option">
                            {{ getLabel(option) }}
                        </slot>
                    </div>
                    <div
                        v-if="isLoading"
                        class="cr-select__options-label"
                    >
                        {{ loadingLabel }}
                    </div>
                    <div
                        v-else-if="!listingOptions.length"
                        class="cr-select__options-label"
                    >
                        {{ emptyLabel }}
                    </div>
                    <div
                        v-if="createFunction && inputValue"
                        class="cr-select__options-label"
                        @click="createFromInput"
                    >
                        {{ createLabel }}
                    </div>
                </div>
            </slot>
            <slot
                name="afterOptions"
                :toggle="toggle"
            />
        </template>
    </cr-dropdown>
</template>

<script lang="ts" setup>
import debounce from 'lodash-es/debounce';
import type { Ref } from 'vue';
import { computed, nextTick, onMounted, ref, watch } from '#imports';
import { CrDropdown } from '#components';

const emit = defineEmits<{
    (e: 'update:modelValue', v: string | number | boolean | object | null | Array<string | number | boolean | object>): void,
    (e: 'create', val: string): void
}>();

const props = withDefaults(defineProps<{
    modelValue?: any,
    options?: any[],
    label?: string,
    placeholder?: string,
    disabled?: boolean,
    required?: boolean,
    filterable?: boolean,
    multiple?: boolean,
    nullable?: boolean,
    keyField?: string | ((option: any) => any),
    labelField?: string | ((option: any) => string),
    createLabel?: string,
    emptyLabel?: string,
    loadingLabel?: string,
    closeOnSelect?: boolean,
    clearOnSelect?: boolean,
    createFunction?: (val: string) => Promise<any> | any,
    searchFunction?: (val?: string) => Promise<any[]> | any[],
    searchDebounce?: number,
    searchImmediate?: boolean,
    errors?: string[],
    teleport?: boolean,
}>(), {
    modelValue: undefined,
    options: undefined,
    disabled: false,
    required: false,
    label: undefined,
    placeholder: undefined,
    filterable: false,
    multiple: false,
    nullable: false,
    keyField: undefined,
    labelField: undefined,
    closeOnSelect: false,
    createLabel: 'Нажмите Enter, чтобы сохранить новое значение',
    emptyLabel: 'Список пуст',
    loadingLabel: 'Загрузка...',
    createFunction: undefined,
    searchFunction: undefined,
    searchDebounce: 0,
    searchImmediate: false,
    errors: undefined,
    teleport: true,
});

const dropdown = ref();
const focusOptionIdx = ref<number>(0);
const selectEl: Ref<HTMLElement | undefined> = ref();
const inputEl: Ref<HTMLInputElement | undefined> = ref();
const inputValue = ref('');
const isLoading = ref(false);
const isInputWritable = computed(() => !props.disabled && props.filterable);
const searchedOptions: Ref<any[]> = ref([]);

const listingOptions = computed(() => {
    return (!props.options || inputValue.value ? searchedOptions.value : props.options) || [];
});

const isFocus = computed(() => {
    return dropdown.value?.isOpen;
});

const isFilled = computed(() => {
    return props.multiple
        ? !!(Array.isArray(props.modelValue) && props.modelValue.length)
        : ![null, undefined, ''].includes(props.modelValue);
});

const shiftInput = computed(() => {
    return ((isFocus.value || isFilled.value) && props.label) || (props.label && props.placeholder);
});

const isError = computed(() => props.errors?.length);

const isRenderingInput = computed(() => {
    return (props.filterable || props.createFunction) && isFocus.value;
});

const isRenderingValue = computed(() => {
    return isFilled.value && (props.multiple || !props.filterable || !isFocus.value);
});

async function onKeyPress(e: KeyboardEvent) {
    if (e.key === 'Enter' && !dropdown.value.isOpen) {
        e.stopPropagation();
        e.preventDefault();
        dropdown.value.toggle(true);
        return;
    }

    switch (e.key) {
        case 'ArrowUp':
            focusOptionIdx.value = Math.max(0, focusOptionIdx.value - 1);
            e.preventDefault();
            break;
        case 'ArrowDown':
            focusOptionIdx.value = Math.min(listingOptions.value.length - 1, focusOptionIdx.value + 1);
            e.preventDefault();
            break;
        case 'Enter':
            e.stopPropagation();
            e.preventDefault();
            if (listingOptions.value[focusOptionIdx.value]) {
                toggleOption(listingOptions.value[focusOptionIdx.value]);
            } else if (inputValue.value && props.createFunction) {
                await createFromInput();
            }
            break;
    }
}

async function createFromInput() {
    isLoading.value = true;
    const res = await props.createFunction(inputValue.value);
    toggleOption(res);
    inputValue.value = '';
    isLoading.value = false;
}

// function onOpen() {
//     document.addEventListener('keydown', onKeyPress);
// }

function onClose() {
    inputValue.value = '';
    // document.removeEventListener('keydown', onKeyPress);
}

async function search(val?: string) {
    if (props.options && !val) {
        searchedOptions.value = [];
    }

    if (props.searchFunction) {
        isLoading.value = true;
        searchedOptions.value = await props.searchFunction(val) as any;
        isLoading.value = false;
    } else {
        const lowerCaseQuery = inputValue.value.toLowerCase();
        searchedOptions.value = props.options?.filter(option => isOptionQueried(option, lowerCaseQuery)) || [];
    }
}

function getKey(option: any) {
    if (!props.keyField) {
        return option;
    } else if (typeof props.keyField === 'function') {
        return props.keyField(option);
    } else {
        return option[props.keyField as any];
    }
}

function getLabel(option: any) {
    if (!props.labelField) {
        return option;
    } else if (typeof props.labelField === 'function') {
        return props.labelField(option);
    } else {
        return option[props.labelField as any];
    }
}

function isOptionsEqual(optionA: any, optionB: any) {
    return getKey(optionA) === getKey(optionB);
}

function isOptionSelected(option: any) {
    if (props.keyField) {
        return Array.isArray(props.modelValue)
            ? props.modelValue.some(i => getKey(i) === getKey(option))
            : props.modelValue && getKey(props.modelValue) === getKey(option);
    } else {
        return Array.isArray(props.modelValue)
            ? props.modelValue.includes(option)
            : props.modelValue === option;
    }
}

function isOptionQueried(option: any, query: string) {
    return String(getLabel(option)).toLowerCase().includes(query);
}

function clear() {
    emit('update:modelValue', props.multiple ? [] : null);
}

function toggleOption(option: string | number | boolean | object, value?: boolean) {
    const isSelected = isOptionSelected(option);
    if (value && isSelected) {
        return;
    } else if (value === undefined) {
        value = !isSelected;
    }

    if (props.multiple) {
        if (Array.isArray(props.modelValue)) {
            emit('update:modelValue', value
                ? [...props.modelValue, option]
                : props.modelValue.filter(i => !isOptionsEqual(i, option)),
            );
        } else {
            emit('update:modelValue', value ? [option] : []);
        }
        if (props.closeOnSelect) {
            dropdown.value?.toggle(false);
        } else if (props.clearOnSelect) {
            inputValue.value = '';
        }
    } else {
        const newValue = (props.modelValue && props.nullable && isOptionsEqual(props.modelValue, option)) ? null : option;
        emit('update:modelValue', newValue);
        dropdown.value?.toggle(false);
        inputEl.value?.blur();
    }
}

watch(isRenderingInput, (val) => {
    val && nextTick(() => {
        inputEl.value?.focus();
    });
});
watch(inputValue, props.searchDebounce ? debounce(search, props.searchDebounce) : search);

if (props.searchImmediate) {
    onMounted(search);
} else {
    watch(isFocus, (val: boolean) => {
        if (val) {
            search();
        }
    });
}

defineExpose({
    toggleOption,
    search,
    close() {
        dropdown.value?.toggle(false);
    },
    open() {
        dropdown.value?.toggle(true);
    },
});
</script>

<style>
.cr-select-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :focus {
        outline: none;

        .cr-select {
            border-color: var(--primary-color);
        }
    }
}

.cr-select {
    width: 100%;
    cursor: pointer;
    background: var(--input-background, var(--blank-color));
    border-radius: var(--base-border-radius);
    border: var(--base-border-width, 1px) solid var(--base-border-color);
    transition: border 0.25s;
    min-height: var(--base-control-height);
    display: flex;
    gap: 15px;
    padding: 0 15px;
    font: var(--input-font);
}

.cr-select:hover .cr-select__clear {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.cr-select__content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-grow: 1;
    gap: 8px;
}

.cr-select--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.cr-select--error {
    border-color: var(--danger-color);
}

.cr-select--focus {
    border-color: var(--primary-color);
}

.cr-select--focus .cr-select__caret {
    transform: rotate(180deg);
}

.cr-select__loading {
    position: absolute;
    background: var(--input-background, var(--blank-color));
    right: 15px;
}

.cr-select__caret {
    transition: transform 0.1s ease-in;
    width: 14px;
    color: var(--base-border-color);
}

.cr-select__clear {
    position: absolute;
    background: var(--input-background, var(--blank-color));
    border: 1px solid var(--base-border-color);
    padding: 3px;
    border-radius: 50%;
    box-sizing: content-box;
    opacity: 0;
    pointer-events: none;
    right: 12px;
    transform: scale(1.5);
    transition: all 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
}

.cr-select__clear:hover {
    color: var(--danger-color);
    border-color: var(--danger-color);
}

.cr-select__input {
    flex-grow: 1;
    outline: none !important;
    border: none;
    appearance: none;
    color: var(--plain-color);
    background: var(--input-background, var(--blank-color));
    cursor: pointer;
    font: inherit;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cr-select__label, .cr-select__placeholder {
    margin-bottom: 0;
    white-space: nowrap;
    width: max-content;
    color: var(--neutral-color);
    position: absolute;
    left: 0;
    transition: all 0.1s linear;
    cursor: text;
    pointer-events: none;
    font-size: inherit;
    max-width: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    height: 100%;
    align-items: center;
    user-select: none;
}

.cr-select--shift .cr-select__label {
    font-size: 75%;
    height: calc(var(--base-control-height) * 0.45);
}

.cr-select--shift .cr-select__value, .cr-select--shift .cr-select__input {
    padding-top: calc(var(--base-control-height) * 0.33);
}

.cr-select__value {
    flex-shrink: 0;
    display: flex;
    gap: 4px;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 5px 0;
}

.cr-select__selected-option {
    background: var(--easy-color);
    color: var(--easy-contrast-color);
    padding: 3px 0 3px 5px;
    font-size: 0.85rem;
    line-height: 1;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
}

.cr-select__selected-option-remove {
    color: var(--danger-color);
    font-style: unset;
    cursor: pointer;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    line-height: 14px;
    transition: transform 0.1s ease-in;
    opacity: 0.7;
}

.cr-select__selected-option-remove:hover {
    opacity: 1;
}

.cr-select__options {
    text-align: start;
}

.cr-select__option {
    padding: 10px 15px;
    cursor: pointer;
    background: var(--blank-color);
    -webkit-tap-highlight-color: transparent;
}

.select-option--focus {
    filter: invert(0.03);
}

.cr-select__option.select-option--selected {
    color: var(--primary-color);
}

.cr-select__options-label {
    padding: 15px;
    color: var(--neutral-color);
}

.cr-select__before, .cr-select__after {
    color: var(--neutral-color);
    display: flex;
    align-items: center;

    i {
        font-size: 1.5rem;
    }
}

.cr-select__errors {
    font-size: 0.85rem;
    color: var(--danger-color);
}
</style>
