<template>
    <cr-input
        ref="inputComponent"
        v-bind="$props"
        v-model="value"
    >
        <template v-if="$slots.before" #before>
            <slot name="before" />
        </template>
        <template v-if="$slots.after" #after>
            <slot name="after" />
        </template>
    </cr-input>
</template>

<script lang="ts" setup>
import { Mask, type MaskaDetail, MaskInput, type MaskInputOptions } from 'maska';
import { onMounted, ref } from '#imports';
import { CrInput } from '#components';

const props = withDefaults(defineProps<{
    mask: MaskInputOptions,
    modelValue?: number | string,
    errors?: string[],
    type?: 'text' | 'password' | 'number' | 'email' | 'tel',
    transform?: (val: string) => string,
    label?: string,
    placeholder?: string,
    disabled?: boolean,
    required?: boolean,
    autofocus?: boolean,
    step?: number,
    min?: number,
    max?: number,
}>(), {
    modelValue: undefined,
    errors: undefined,
    type: 'text',
    label: undefined,
    transform: undefined,
    placeholder: undefined,
    disabled: false,
    required: false,
    autofocus: false,
    step: undefined,
    min: undefined,
    max: undefined,
});
const value = ref(props.modelValue);

const emit = defineEmits<{
    (e: 'update:modelValue', v: string): void
}>();

let maskInput: MaskInput;
let maskInstance: Mask | undefined;
const inputComponent = ref();

onMounted(() => {
    maskInput = new MaskInput(inputComponent.value.inputEl, {
        eager: false,
        ...props.mask,
        preProcess(val) {
            if (!maskInstance) {
                return val;
            }

            const unmasked = maskInstance.unmasked(val);
            return props.transform ? props.transform(unmasked) : unmasked;
        },
        onMaska: (detail: MaskaDetail) => {
            emit('update:modelValue', detail.unmasked);
        },
    });
    maskInstance = maskInput.items.get(inputComponent.value.inputEl);
});
</script>

<style lang="scss">

</style>
