<template>
    <div>
        <div class="cr-code-input">
            <input
                v-for="idx in +count"
                :key="idx-1"
                :ref="setItemRefs"
                v-model="code[idx-1]"
                type="tel"
                :maxlength="1"
                @keydown.delete="onDelete(idx)"
            >
        </div>
        <cr-transition-collapse>
            <div
                v-if="isError"
                class="cr-code-input__errors"
            >
                {{ errors.join('. ') }}
            </div>
        </cr-transition-collapse>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref, watch } from '#imports';

const props = withDefaults(defineProps<{
    count?: number | string,
    modelValue?: any,
    errors?: string[]
}>(), {
    count: 4,
    modelValue: undefined,
    errors: undefined,
});

const emit = defineEmits<{
    (e: 'update:modelValue', value: string): void
    (e: 'fill', value: string): void
}>();

const code = ref([]);
const inputRefs: HTMLElement[] = [];
const isError = computed(() => props.errors?.length);

function setItemRefs(el: HTMLElement) {
    if (el) {
        inputRefs.push(el);
    }
}

function onDelete(idx: number) {
    if (!code.value[idx - 1] && idx > 1) {
        inputRefs[idx - 2].focus();
    }
}

onMounted(() => {
    inputRefs[0].focus();
});

watch(code, (val: Array<string>) => {
    emit('update:modelValue', val.join(''));

    const firstEmptyIdx = [...Array(+props.count).keys()].find(i => !code.value[i]);
    if (firstEmptyIdx === undefined) {
        emit('fill', code.value.join(''));
    } else {
        inputRefs[firstEmptyIdx].focus();
    }
}, { deep: true });

</script>

<style lang="scss">
.cr-code-input {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    grid-template-rows: 95px;

    input {
        font-size: min(10vw, 60px);
        text-align: center;
        width: 100%;
        background: var(--blank-color);
        outline: none !important;
        border-radius: var(--base-border-radius);
        border: var(--base-border-width, 1px) solid var(--base-border-color);
        color: var(--plain-color);
        transition: border-color .1s ease-in;

        &:focus {
            border-color: var(--primary-color);
        }
    }
}

.cr-code-input__errors {
    font-size: 0.85rem;
    color: var(--danger-color);
    width: 100%;
    text-align: left;
}
</style>
