<template>
    <div class="cr-sidebar-section">
        <div
            v-if="name"
            class="cr-sidebar-section__name"
        >
            {{ name }}
        </div>
        <slot />
    </div>
</template>

<script lang="ts" setup>
defineProps<{
    name?: string
}>();
</script>

<style lang="scss">
.cr-sidebar-section__name {
    padding: 0 15px;
    color: var(--neutral-color);
}

.cr-sidebar-section + .cr-sidebar-section {
    border-top: 1px solid var(--easy-color);
    padding-top: 15px;
    margin-top: 10px;
}
</style>
