<template>
    <nuxt-link
        class="cr-sidebar-link"
        :to="url"
    >
        <slot name="default">
            <slot name="icon">
                <i class="cr-sidebar-link__icon" :class="icon" />
            </slot>
            <slot name="label">
                {{ label }}
            </slot>
        </slot>
    </nuxt-link>
</template>

<script lang="ts" setup>
defineProps<{
    icon?: string,
    label?: string,
    url?: string
}>();
</script>

<style lang="scss">
.cr-sidebar-link {
    padding: 10px 15px;
    display: flex;
    align-items: center;

    &:hover {
        background: rgba(0, 0, 0, 0.02);
        color: var(--primary-color);
    }

    &.router-link-exact-active {
        background: var(--sidebar-active-link-background, rgba(0, 0, 0, 0.03));
    }
}

.cr-sidebar-link__icon {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-right: 10px;
}
</style>
