<template>
    <cr-scrollable class="cr-sidebar">
        <slot name="header" />
        <div class="cr-sidebar__content">
            <slot />
        </div>
        <div class="cr-sidebar__footer">
            <slot name="footer" />
        </div>
    </cr-scrollable>
</template>

<script lang="ts" setup>
</script>

<style lang="scss">
.cr-sidebar {
    display: flex;
    flex-direction: column;
    background: var(--sidebar-background, var(--easy-color));
    overflow-y: auto;
}

.cr-sidebar__content {
    background: var(--blank-color);
    color: var(--blank-contrast-color);
    padding: 10px 0;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.cr-sidebar__footer {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    background: var(--easy-color);
}
</style>
