<template>
    <div class="cr-sidebar-user">
        <slot name="avatar">
            <cr-avatar
                :image="avatar"
                class="cr-sidebar-user__avatar"
            >
                <template v-if="label">
                    {{ label[0] }}
                </template>
            </cr-avatar>
        </slot>
        <div class="cr-sidebar-user__name-wrap">
            <slot name="name">
                <div class="cr-sidebar-user__name">
                    {{ label }}
                </div>
                <div class="cr-sidebar-user__logout">
                    <nuxt-link
                        class="link link--neutral"
                        :to="logoutUrl"
                    >
                        {{ logoutText }}
                    </nuxt-link>
                </div>
            </slot>
        </div>
        <nuxt-link
            :to="settingsUrl"
            class="cr-icon-setting cr-sidebar-user__settings link link--neutral"
        />
    </div>
</template>

<script lang="ts" setup>
withDefaults(defineProps<{
    avatar?: string,
    label?: string,
    logoutUrl?: string
    logoutText?: string,
    settingsUrl?: string
}>(), {
    avatar: undefined,
    label: undefined,
    settingsUrl: '/settings',
    logoutUrl: '/logout',
    logoutText: 'Выйти из аккаунта',
});
</script>

<style lang="scss">
.cr-sidebar-user {
    display: flex;
    align-items: center;
    line-height: 1.3;
    gap: 15px;
    padding: 15px;
}

.cr-sidebar-user__avatar {
    flex-shrink: 0;
}

.cr-sidebar-user__name-wrap {
    overflow: hidden;
}

.cr-sidebar-user__name {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    max-width: 175px;
    text-overflow: ellipsis;
}

.cr-sidebar-user__logout {
    font-size: 0.85rem;
}

.cr-sidebar-user__settings {
    margin-left: auto;
    font-size: 24px;
    transition: all .15s ease-in;

    &:hover {
        transform: rotate(-90deg);
    }
}
</style>
