<template>
    <div
        class="cr-loading"
        :class="{
            'cr-loading--overlay': overlay,
            [`cr-loading--${type}`]: true
        }"
        :style="{
            display: inline ? 'inline-flex' : 'flex'
        }"
    >
        <div
            class="cr-loading__ring"
            :style="ringCss"
        >
            <div />
            <div />
            <div />
            <div />
        </div>
        <div v-if="$slots.default" class="cr-loading__label">
            <slot />
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from '#imports';

const props = withDefaults(defineProps<{
    size?: `${number}` | number,
    type?: 'blank' | 'plain' | 'easy' | 'primary' | 'secondary' | 'danger' | 'success' | 'neutral' | 'warning',
    overlay?: boolean,
    inline?: boolean,
}>(), {
    size: undefined,
    type: 'primary',
    overlay: false,
    inline: false,
});

const ringCss = computed(() => {
    return props.size
        ? {
            width: props.size + 'px',
            height: props.size + 'px',
        }
        : undefined;
});
</script>
<style lang="scss">
.cr-loading {
    align-items: center;
    justify-content: center;
    --loading-color: var(--primary-color);
}

.cr-loading--blank {
    --loading-color: var(--blank-color);
}

.cr-loading--easy {
    --loading-color: var(--easy-color);
}

.cr-loading--plain {
    --loading-color: var(--plain-color);
}

.cr-loading--primary {
    --loading-color: var(--primary-color);
}

.cr-loading--secondary {
    --loading-color: var(--secondary-color);
}

.cr-loading--neutral {
    --loading-color: var(--neutral-color);
}

.cr-loading--warning {
    --loading-color: var(--warning-color);
}

.cr-loading--danger {
    --loading-color: var(--danger-color);
}

.cr-loading--success {
    --loading-color: var(--success-color);
}

.cr-loading--overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: var(--blank-color);
    border-radius: inherit;
    left: 0;
    top: 0;
    opacity: 0.8;
}

.cr-loading__ring {
    display: inline-block;
    position: relative;
    width: var(--base-control-height);
    height: var(--base-control-height);
    vertical-align: top;
    border-color: var(--loading-color) transparent transparent transparent;
}

//noinspection CssReplaceWithShorthandSafely
.cr-loading__ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: inherit;
    border-radius: 50%;
    animation: loading-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.cr-loading__ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.cr-loading__ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.cr-loading__ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cr-loading__label:not(:empty) {
    margin-left: 7px;
}
</style>
