<template>
    <div
        v-if="pages.length > 1 || paginator.pending"
        class="cr-pagination"
    >
        <cr-loading v-if="paginator.pending" />
        <div
            v-else
            class="cr-pagination__more-wrap"
        >
            <div
                class="cr-pagination__more"
                :class="{'cr-pagination__more--disabled': paginator.page >= pages[pages.length - 1]}"
                role="button"
                @click="paginator.more"
            >
                Показать еще
            </div>
            <cr-dropdown v-if="paginator.pagesCount > (pagesBefore + pagesCount)">
                <span class="cr-paginator__navigator">№</span>
                <template #body>
                    <cr-input
                        type="tel"
                        autofocus
                        :label="`Номер страницы`"
                        lazy
                        @update:model-value="onNavigatorPageEnter"
                    />
                </template>
            </cr-dropdown>
        </div>
        <div
            class="cr-pagination__items"
            :title="`Всего страниц ${paginator.pagesCount}`"
        >
            <nuxt-link
                class="cr-pagination__item"
                :to="prevLink"
                :class="{'cr-pagination__item--disabled': !prevLink}"
                @click.prevent="paginator.go(paginator.page - 1)"
            />
            <nuxt-link
                v-for="(item, idx) in pages"
                :key="item"
                class="cr-pagination__item"
                :class="{'cr-pagination__item--active': item === paginator.page}"
                :to="links[idx]"
                @click.prevent="paginator.go(item)"
            >
                {{ item + 1 }}
            </nuxt-link>
            <nuxt-link
                class="cr-pagination__item"
                :to="nextLink"
                :class="{'cr-pagination__item--disabled': !nextLink}"
                @click="paginator.go(paginator.page + 1)"
            />
        </div>
    </div>
</template>

<script lang="ts" setup>
import type { IPaginator } from '../../composables/use-pagination';
import { computed, useRoute } from '#imports';

const route = useRoute();
const props = withDefaults(defineProps<{
    paginator: IPaginator,
    scrollAnchor?: string,
    pagesBefore?: number,
    pagesCount?: number,
    navigator?: boolean,
}>(), {
    scrollAnchor: undefined,
    pagesBefore: 1,
    pagesCount: 4,
    navigator: false,
});

const pages = computed(() => {
    const res: number[] = [];

    let start = props.paginator.page - props.pagesBefore;
    const availableNextPagesCount = props.paginator.pagesCount - start - 1;
    const requiredNextPagesCount = props.pagesCount - props.pagesBefore;
    if (availableNextPagesCount < requiredNextPagesCount) {
        start -= requiredNextPagesCount - availableNextPagesCount;
    }

    start = Math.max(start, 0);
    for (
        let i = start;
        i < props.paginator.pagesCount && res.length < props.pagesCount;
        i++
    ) {
        res.push(i);
    }

    return res;
});

function urlToPage(page: number) {
    return {
        query: {
            ...route.query,
            page: page > 0 ? page + 1 : undefined,
        },
    };
}

const links = computed(() => {
    return pages.value.map(urlToPage);
});

const prevLink = computed(() => {
    const idx = pages.value.indexOf(props.paginator.page - 1);
    return links.value[idx] || '';
});

const nextLink = computed(() => {
    const idx = pages.value.indexOf(props.paginator.page + 1);
    return links.value[idx] || '';
});

function onNavigatorPageEnter(val: any) {
    const page = +val - 1;
    if (Number.isFinite(page)) {
        props.paginator.go(Math.min(Math.max(page, 0), props.paginator.pagesCount - 1));
    }
}
</script>

<style lang="scss">
.cr-pagination {
    display: grid;
    gap: 5px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;

    @media (min-width: 800px) {
        display: flex;
        justify-content: flex-end;
    }
}

.cr-pagination__more-wrap {
    display: flex;
    gap: 5px;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.cr-pagination__more {
    height: var(--base-control-height);
    border-radius: var(--base-border-radius);
    border: var(--base-border-width, 1px) solid var(--base-border-color);
    transition: 0.25s;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--button-font);
    cursor: pointer;
    width: 100%;

    &:hover {
        background: var(--easy-color);
    }

    &.cr-pagination__more--disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.cr-paginator__navigator {
    border-radius: var(--base-border-radius);
    border: var(--base-border-width, 1px) solid var(--base-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--base-control-height);
    height: var(--base-control-height);

    &:hover {
        background: var(--easy-color);
    }
}

.cr-pagination__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(46px, auto));
    grid-auto-flow: column;

    @media (min-width: 400px) {
        margin-left: auto;
    }
}

.cr-pagination__item {
    min-width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    font-size: 0.85rem;
    padding: 5px;
    border: var(--base-border-width, 1px) solid var(--base-border-color);
    cursor: pointer;
    color: var(--plain-color);
    background: var(--blank-color);

    &:first-child {
        border-radius: var(--base-border-radius) 0 0 var(--base-border-radius);

        &::before {
            content: '';
            display: block;
            margin: auto;
            width: 7px;
            height: 7px;
            transform: rotate(45deg);
            border-left: 2px solid currentColor;
            border-bottom: 2px solid currentColor;
        }
    }

    &:last-child {
        border-radius: 0 var(--base-border-radius) var(--base-border-radius) 0;

        &::before {
            content: '';
            display: block;
            margin: auto;
            width: 7px;
            height: 7px;
            transform: rotate(45deg);
            border-right: 2px solid currentColor;
            border-top: 2px solid currentColor;
        }
    }

    &:hover {
        background: var(--easy-color);
        text-decoration: none;
    }

    &.cr-pagination__item--active {
        border-bottom: 2px solid var(--primary-color);
        color: var(--primary-color);
        pointer-events: none;
    }

    &.cr-pagination__item--disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.cr-pagination__item + .cr-pagination__item {
    border-left: none;
}
</style>
