<script lang="ts" setup>
import { computed, downloadFile, useCreatorConfig, useUpload, watch } from '#imports';
import { CrLightboxable, CrLightboxProvider } from '#components';

const emit = defineEmits<{
    (e: 'update:modelValue', v: any): void,
    (e: 'error', v: any): void,
    (e: 'upload', v: any): void,
}>();

const props = withDefaults(defineProps<{
    modelValue?: any,
    maxCount?: number,
    errors?: string[],
    accept?: string[] | 'image' | null,
    itemWidth?: string,
    itemRatio?: string,
    uploadFunction?: (v: FormData) => Promise<any>,
    showUploaded?: boolean,
    showUploading?: boolean,
    showUploadingBar?: boolean,
    sortable?: boolean,
}>(), {
    modelValue: undefined,
    maxCount: 1,
    errors: undefined,
    accept: 'image',
    itemWidth: '250px',
    itemRatio: '1/1',
    uploadFunction: undefined,
    showUploaded: true,
    showUploading: true,
    showUploadingBar: true,
    sortable: false,
});

const {
    canUpload,
    uploadFiles,
    uploadingItems,
    uploadedItems,
    clear,
} = useUpload(
    {
        modelValue: props.modelValue,
        maxCount: props.maxCount,
        accept: props.accept,
        uploadFunction: props.uploadFunction,
        onUploadFinish: v => emit('upload', v),
        onUploadError: v => emit('error', v),
    });

const config = useCreatorConfig();

const itemsStyle = computed(() => {
    return props.maxCount > 1
        ? { 'grid-template-columns': `repeat(auto-fill, minmax(${props.itemWidth}, 1fr))` }
        : { 'grid-template-columns': props.itemWidth };
});

watch(uploadedItems, (val) => {
    emit('update:modelValue', props.maxCount > 1 ? val : (val[0] || null));
}, { deep: true });

function onDrop(files: FileList) {
    uploadFiles(files);
}

defineExpose({ clear });
</script>

<template>
    <div
        class="cr-upload-area"
        :class="{
            'upload-area--multiple': maxCount > 1,
            'upload-area--error': errors?.length
        }"
    >
        <div
            v-if="showUploaded || showUploading"
            class="cr-upload-area__items"
            :style="itemsStyle"
        >
            <cr-lightbox-provider>
                <slot
                    v-if="showUploaded"
                    name="uploaded"
                    :items="uploadedItems"
                >
                    <cr-sortable-list
                        v-model:items="uploadedItems"
                        :disabled="!sortable"
                        class="cr-upload-area-item"
                        :style="{
                            'aspect-ratio': itemRatio,
                        }"
                    >
                        <template #item="{item: file, idx}">
                            <cr-lightboxable
                                class="cr-upload-area-item__lightboxable"
                                :index="idx"
                            >
                                <cr-upload
                                    class="cr-upload-area-item__upload"
                                    :name="file.name"
                                    :size="file.size"
                                    :url="file.url"
                                    :thumbnail="config.upload.thumbnailGetter(file)"
                                    fit="contain"
                                />
                                <template #slide>
                                    <img
                                        v-if="config.upload.thumbnailGetter(file)"
                                        :src="file.url"
                                    >
                                    <iframe
                                        v-else-if="file.type === 'application/pdf'"
                                        class="cr-upload-area__lightbox-iframe"
                                        :src="file.url"
                                    />
                                    <video
                                        v-else-if="file.type === 'video/mp4'"
                                        class="cr-upload-area__lightbox-iframe"
                                        :src="file.url"
                                        controls
                                    />
                                    <div v-else>
                                        Не удалось отобразить документ
                                    </div>
                                </template>
                                <template #thumbnail>
                                    <cr-upload
                                        class="cr-upload-area-item__upload"
                                        :name="file.name"
                                        :size="file.size"
                                        :url="file.url"
                                        :thumbnail="config.upload.thumbnailGetter(file)"
                                        fit="cover"
                                    />
                                </template>
                            </cr-lightboxable>

                            <i
                                class="cr-upload-area-item__remove cr-icon-close"
                                @mousedown.stop="uploadedItems.splice(idx, 1)"
                            />
                        </template>
                    </cr-sortable-list>
                </slot>
                <slot
                    v-if="showUploading"
                    name="uploading"
                    :items="uploadingItems"
                >
                    <div
                        v-for="(_file, idx) in uploadingItems"
                        :key="'uploading' + idx"
                        class="cr-upload-area-item"
                    >
                        <cr-loading
                            size="46"
                            class="my-80px"
                        />

                        <i
                            class="cr-upload-area-item__remove  cr-icon-close"
                            @mousedown.stop="uploadingItems.splice(idx, 1)"
                        />
                    </div>
                </slot>
                <template #after="{activeIdx}">
                    <div
                        class="cr-upload-area__download"
                        @click="downloadFile(uploadedItems[activeIdx].url, uploadedItems[activeIdx].name)"
                    >
                        <cr-text-icon>
                            <i class="cr-icon-download" />
                            Скачать оригинал
                        </cr-text-icon>
                    </div>
                </template>
            </cr-lightbox-provider>
        </div>
        <cr-drop-zone
            v-if="canUpload"
            class="cr-upload-area-attach"
            role="button"
            highlight-class="cr-upload-area-attach--highlight"
            clickable
            :accept="accept"
            :multiple="maxCount > 1"
            @drop="onDrop"
        >
            <slot
                name="area"
                :uploaded="uploadedItems"
                :uploading="uploadingItems"
            >
                <slot
                    name="icon"
                    :uploaded="uploadedItems"
                    :uploading="uploadingItems"
                >
                    <cr-progress-bar-circle
                        v-if="uploadingItems.length && showUploadingBar"
                        class="cr-upload-area-attach__icon"
                        radius="34"
                    >
                        {{ uploadedItems.length }}/{{ uploadingItems.length }}
                    </cr-progress-bar-circle>
                    <img
                        v-else
                        src="./upload-area-icon.svg"
                        alt="Загрузка файлов"
                        class="cr-upload-area-attach__icon"
                    >
                </slot>
                <slot
                    name="label"
                    :uploaded="uploadedItems"
                    :uploading="uploadingItems"
                >
                    <div class="cr-upload-area-attach__label">
                        Перетащите файл в область загрузки
                    </div>
                    <div>
                        или <span class="cr-upload-area-attach__sub-label">выберите {{
                            maxCount > 1 ? 'файлы' : 'файл'
                        }}</span> на
                        компьютере
                    </div>
                </slot>
            </slot>
        </cr-drop-zone>
        <cr-transition-collapse>
            <div
                v-if="errors?.length"
                class="cr-upload-area__errors"
            >
                {{ errors.join('. ') }}
            </div>
        </cr-transition-collapse>
    </div>
</template>

<style lang="scss">
.cr-upload-area {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
}

.upload-area--error {
    .cr-upload-area-attach {
        border-color: var(--danger-color);
    }
}

.cr-upload-area-attach {
    background: var(--blank-color);
    border: 2px dashed var(--base-border-color);
    cursor: pointer;
    color: var(--plain-color);
    text-align: center;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--base-border-radius, 10px);
    transition: border-color .2s ease-in;
    padding: 70px 30px;

    &:hover,
    &.cr-upload-area-attach--highlight {
        border: 2px dashed var(--primary-color);
    }
}

.cr-upload-area-attach__icon {
    margin-bottom: 15px;
}

.cr-upload-area-attach__label {
    font-size: 1.2rem;
    font-weight: 500;
}

.cr-upload-area-attach__sub-label {
    color: var(--primary-color);
}

.cr-upload-area__items {
    position: relative;
    display: grid;
    gap: 15px;
    box-sizing: content-box;
    margin-bottom: 15px;

    &:empty {
        display: none;
    }
}

.cr-upload-area-item {
    position: relative;
    transition: transform 0.1s ease-in;
    border-radius: var(--base-border-radius);
    border: var(--base-border-width) solid var(--base-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;

    .cr-upload-area-item__lightboxable {
        width: 100%;
        height: 100%;
    }

    .cr-upload-area-item__upload {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .cr-upload-area-item__remove {
        position: absolute;
        top: 0 !important;
        right: 0 !important;
        border-radius: 0 0 0 30px !important;
        background: var(--easy-color);
        color: var(--danger-color);
        padding: 2px 2px 5px 5px;
        font-size: 24px;
        z-index: 2;
        cursor: pointer;
        transition: .1s ease-in;
        border-bottom: var(--base-border-width) solid var(--base-border-color);
        border-left: var(--base-border-width) solid var(--base-border-color);

        &:hover {
            filter: invert(0.1);
        }
    }
}

.cr-upload-area__errors {
    font-size: 0.85rem;
    color: var(--danger-color);
    width: 100%;
    text-align: left;
}

.cr-upload-area__download {
    padding: 15px;
    width: auto;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);

    &:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}
</style>
