<template>
    <div class="cr-progress-bar">
        <div
            class="cr-progress-bar__track"
            :style="{
                height: height,
            }"
        >
            <div
                class="cr-progress-bar__track-complete"
                :style="{transform: `scaleX(${progress})`}"
            />
        </div>
    </div>
</template>

<script lang="ts" setup>
withDefaults(defineProps<{
    height?: string,
    progress: number
}>(), { height: '4px' });

</script>

<style lang="scss">
.cr-progress-bar {
    width: 100%;
    --background: var(--easy-color);
    --color: var(--primary-color);
}

.cr-progress-bar__track {
    background: var(--background);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.cr-progress-bar__track-complete {
    width: 100%;
    height: 100%;
    background: var(--color);
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .1s ease-in;
    transform-origin: center left;
}
</style>
