<template>
    <div
        class="cr-progress-bar-circle"
        :class="{'cr-progress-bar-circle--animate': animate}"
    >
        <svg
            class="cr-progress-bar-circle__svg"
            xmlns="http://www.w3.org/2000/svg"
            :width="+radius * 2"
            :height="+radius * 2"
        >
            <path
                class="cr-progress-bar-circle__path cr-progress-bar-circle__path--track"
                :d="fullCirclePath"
                :style="{'stroke-width': strokeWidth}"
            />
            <path
                class="cr-progress-bar-circle__path cr-progress-bar-circle__path--complete"
                :d="fullCirclePath"
                :style="{
                    'stroke-width': strokeWidth,
                    'stroke-dashoffset': strokeDashOffset,
                    'stroke-dasharray': strokeDashArray,
                }"
            />
        </svg>
        <div
            class="cr-progress-bar-circle__text"
            :style="{
                'font-size': +radius * 0.4 + 'px',
                padding: strokeWidth + 'px'
            }"
        >
            <slot :progress="progress">
                {{ Math.round(progress * 100) }}%
            </slot>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { computed } from '#imports';

const props = withDefaults(defineProps<{
    radius?: number | string,
    strokeWidth?: number,
    progress: number,
    animate?: boolean,
}>(), {
    radius: 50,
    strokeWidth: undefined,
    progress: 0,
    animate: true,
});

const a = 270 * (Math.PI / 180);
const cos = Math.cos;
const sin = Math.sin;
const fMatrixTimes = ([[a, b], [c, d]]: number[][], [x, y]: number[]) => [a * x + b * y, c * x + d * y];
const fVecAdd = ([a1, a2]: number[], [b1, b2]: number[]) => [a1 + b1, a2 + b2];
const strokeWidth = computed(() => {
    return props.strokeWidth || +props.radius / 10;
});
const strokeDashOffset = computed(() => Math.PI * +props.radius * 2);
const strokeDashArray = computed(() => strokeDashOffset.value + strokeDashOffset.value * Math.max(0.03, props.progress));
const fullCirclePath = computed(() => {
    const radius = +props.radius - strokeWidth.value;

    const cx = radius + strokeWidth.value;
    const cy = radius + strokeWidth.value;
    const rx = radius;
    const ry = radius;
    const d = 359 * (Math.PI / 180) % (2 * Math.PI);
    const rotMatrix = [[1, 0], [0, 1]];
    const [sX, sY] = (fVecAdd(fMatrixTimes(rotMatrix, [rx * cos(a), ry * sin(a)]), [cx, cy]));
    const [eX, eY] = (fVecAdd(fMatrixTimes(rotMatrix, [rx * cos(a + d), ry * sin(a + d)]), [cx, cy]));
    const fA = ((d > Math.PI) ? 1 : 0);
    const fS = ((d > 0) ? 1 : 0);
    return `M ${sX} ${sY} A ${rx} ${ry} ${0} ${fA} ${fS} ${eX} ${eY}`;
});
</script>

<style lang="scss">
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cr-progress-bar-circle {
    position: relative;
}

.cr-progress-bar-circle--animate {
    .cr-progress-bar-circle__svg {
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.cr-progress-bar-circle__svg {
    margin: auto;
    display: block;
}

.cr-progress-bar-circle__path {
    stroke-linecap: round;
    fill: none;
}

.cr-progress-bar-circle__path--track {
    stroke: lightgrey;
}

.cr-progress-bar-circle__path--complete {
    stroke: var(--primary-color);
    transition: all .2s ease-in;
}

.cr-progress-bar-circle__text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
</style>
