<template>
    <div
        class="cr-avatar"
        :style="style"
        :class="{'cr-avatar--empty': !image}"
    >
        <slot v-if="!image" />
    </div>
</template>

<script lang="ts" setup>
import { computed } from '#imports';

const props = defineProps<{
    image?: string,
}>();

const style = computed(() => {
    return props.image ? { backgroundImage: `url(${props.image})` } : {};
});
</script>

<style lang="scss">
.cr-avatar {
    font-size: 1.5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: 500px;
    min-width: 40px;
    aspect-ratio: 1/1;
    font-weight: 500;
    color: var(--primary-contrast-color);
    text-transform: uppercase;
}

.cr-avatar--empty {
    background-color: var(--base-border-color);
}

.cr-avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
</style>
