<template>
    <div class="cr-calendars">
        <div
            v-for="(calendar, calendarIdx) in calendars"
            :key="calendarIdx"
            class="cr-calendar"
            :class="{
                'cr-calendar--exact-month': count > 1
            }"
            @mouseleave="hoverDay = undefined"
        >
            <div class="cr-calendar__header">
                <i
                    class="cr-icon-caret-left-square cr-calendar__month-control cr-calendar__month-control--prev"
                    @click="changePage(false)"
                />
                <div>
                    <span
                        class="link link--plain cr-calendar__year"
                        @click="scale = 'year'"
                    >{{ calendar.year }}</span>
                    &nbsp;<span
                        class="link link--plain cr-calendar__month"
                        @click="scale = 'month'"
                    >{{ MONTH_NAMES[calendar.month] }}</span>
                </div>
                <i
                    class="cr-icon-caret-right-square cr-calendar__month-control cr-calendar__month-control--next"
                    @click="changePage(true)"
                />
            </div>
            <template v-if="scale === 'day'">
                <div class="cr-calendar__weekdays">
                    <span
                        v-for="day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']"
                        :key="day"
                    >{{ day }}</span>
                </div>
                <div
                    class="cr-calendar__days"
                >
                    <span
                        v-for="(day, idx) in calendar.days"
                        :key="idx"
                        class="cr-calendar__cell"
                        :class="getDayCellClasses(day, calendar.year, calendar.month)"
                        @click="onDayClick(day)"
                        @mouseenter="hoverDay = day"
                    >{{ day.date() }}</span>
                </div>
            </template>
            <div
                v-else-if="scale === 'month'"
                class="cr-calendar__months"
            >
                <div
                    v-for="(monthName, idx) in MONTH_NAMES"
                    :key="idx"
                    class="cr-calendar__cell"
                    @click="month = idx; scale = 'day'"
                >
                    {{ monthName }}
                </div>
            </div>
            <div
                v-else-if="scale === 'year'"
                class="cr-calendar__years"
            >
                <div
                    v-for="i in 20"
                    :key="i"
                    class="cr-calendar__cell"
                    @click="year = year - 20 + i; scale = 'month'"
                >
                    {{ year - 20 + i }}
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import dayjs from 'dayjs/esm';
import objectSupport from 'dayjs/esm/plugin/objectSupport';
import isoWeek from 'dayjs/esm/plugin/isoWeek';
import isBetween from 'dayjs/esm/plugin/isBetween';
import { computed, ref, type Ref } from 'vue';
import type { DateValueType } from '../dateinput/DateInput.vue';

dayjs.extend(objectSupport);
dayjs.extend(isoWeek);
dayjs.extend(isBetween);

const props = withDefaults(defineProps<{
    modelValue?: DateValueType | Array<DateValueType>
    count?: number,
    range?: boolean,
    startIndex?: number,
}>(), {
    modelValue: undefined,
    count: 1,
    startIndex: 0,
    range: false,
});

const emit = defineEmits<{
    (e: 'update:modelValue', v: Array<dayjs.Dayjs | null> | dayjs.Dayjs | null): void,
    (e: 'change', idx: number): void,
}>();

const MONTH_NAMES = [
    'Январь',
    'Февраль',
    'Март',
    'Апрель',
    'Май',
    'Июнь',
    'Июль',
    'Август',
    'Сентябрь',
    'Октябрь',
    'Ноябрь',
    'Декабрь',
];

const year = ref(new Date().getFullYear());
const month = ref(new Date().getMonth());

// eslint-disable-next-line vue/no-setup-props-destructure
let activeIdx = props.startIndex;

const scale: Ref<'year' | 'month' | 'day'> = ref('day' as any);

const normalizedValues = computed<Array<null | dayjs.Dayjs>>(() => {
    return [props.modelValue].flat().map(i => i ? dayjs(i) : null);
});

type CalendarData = {
    year: number,
    month: number,
    days: dayjs.Dayjs[],
}
const calendars = computed<CalendarData[]>(() => {
    const res: CalendarData[] = [];

    for (let i = 0; i < props.count; i++) {
        const monthStart: dayjs.Dayjs = dayjs({
            month: month.value + i,
            year: year.value,
        });
        const monthEnd = monthStart.endOf('month');
        const startDate = monthStart.startOf('isoWeek');
        const daysCount = monthEnd.diff(startDate, 'day');

        const days = [startDate];
        for (let i = 0; i < daysCount; i++) {
            days.push(days[days.length - 1].add(1, 'day'));
        }
        res.push({
            days,
            year: monthStart.year(),
            month: monthStart.month(),
        });
    }
    return res;
});

function onDayClick(day: dayjs.Dayjs) {
    const res = [...normalizedValues.value];
    res.splice(activeIdx, 1, day);
    const resDates = res.map(i => i);

    if (resDates[0] && resDates[1]) {
        resDates.sort((a, b) => a!.isAfter(b!) ? 1 : -1);
    }

    emit('update:modelValue', props.range ? resDates : resDates[0]);
    emit('change', activeIdx);

    activeIdx = props.range ? (activeIdx === 0 ? 1 : 0) : activeIdx;
}

const hoverDay: Ref<dayjs.Dayjs | undefined> = ref();

function getDayCellClasses(day: dayjs.Dayjs, year: number, month: number) {
    const res = [];

    if (day.month() !== month || day.year() !== year) {
        res.push('calendar__cell--another-month');
    }

    if (props.range) {
        const values = [...normalizedValues.value];
        if (hoverDay.value) {
            values.splice(activeIdx, 1, hoverDay.value!);
        }

        if (values[0]?.isSame(day, 'day')) {
            res.push('calendar__cell--active');
        } else if (values[1]?.isSame(day, 'day')) {
            res.push('calendar__cell--active');
        } else if (day.isBetween(...values, 'day')) {
            res.push('calendar__cell--active-between');
        }
    } else if (normalizedValues.value[0]?.isSame(day, 'day')) {
        res.push('calendar__cell--active');
    }
    return res;
}

function changePage(next: boolean) {
    const k = next ? 1 : -1;
    switch (scale.value) {
        case 'year':
            year.value += k * 30;
            break;
        case 'month':
            year.value += k;
            break;
        case 'day':
            month.value += k;
            if (month.value > 11) {
                month.value = 0;
                year.value++;
            } else if (month.value < 0) {
                month.value = 11;
                year.value--;
            }
            break;
    }
}
</script>

<style lang="scss">
.cr-calendar {
    font: var(--base-font);
    display: flex;
    flex-direction: column;
    gap: 7px;
    background: var(--blank-color);
}

.cr-calendar__header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
    align-items: center;
}

.cr-calendar__year {
    margin-left: auto;
}

.cr-calendar__month {
    margin-right: auto;
}

.cr-calendar__month-control {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.2rem;
    visibility: hidden;
    color: var(--neutral-color);

    &:hover {
        color: var(--primary-color);
    }
}

.cr-calendar:first-of-type {
    .cr-calendar__month-control--prev {
        visibility: visible;
    }
}

.cr-calendar:last-of-type {
    .cr-calendar__month-control--next {
        visibility: visible;
    }
}

.cr-calendar__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--neutral-color);
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.cr-calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px 0;
}

.cr-calendar__months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.cr-calendar__years {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.cr-calendar__cell {
    text-align: center;
    cursor: pointer;
    padding: 8px 10px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    @media (hover: hover) {
        &:hover {
            color: var(--primary-color);
        }
    }

    @media (hover: none) {
        &:active {
            color: var(--primary-color);
        }
    }
}

.calendar__cell--another-month {
    color: var(--neutral-color);
}

.cr-calendar--exact-month {
    .calendar__cell--another-month {
        visibility: hidden;
    }
}

.calendar__cell--active {
    background: var(--primary-color);
    color: var(--primary-contrast-color) !important;
    border-radius: 3px;
}

.calendar__cell--active-between {
    background: var(--easy-color);
    color: var(--easy-contrast-color) !important;
}

.cr-calendars {
    display: flex;
    gap: 30px;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}
</style>
