<template>
    <label
        class="cr-switch"
        :class="{'cr-switch--disabled': disabled}"
    >
        <input
            class="cr-switch__input"
            type="checkbox"
            :checked="isChecked"
            :disabled="disabled"
            :true-value="trueValue"
            :false-value="falseValue"
            @input="onInput"
        >
        <span
            v-if="$slots.before"
            class="cr-switch__label cr-switch__label--before"
            :class="{'cr-switch__label--inactive': $slots.default && modelValue}"
        >
            <slot name="before" />
        </span>
        <i class="cr-switch__box" />
        <span
            v-if="$slots.default"
            :class="{'cr-switch__label--inactive': $slots.default && !modelValue}"
            class="cr-switch__label cr-switch__label--after"
        ><slot /></span>
    </label>
</template>

<script lang="ts" setup>
import { computed } from '#imports';

const props = withDefaults(defineProps<{
    disabled?: boolean,
    modelValue?: any,
    checkboxValue?: any,
    trueValue?: any,
    falseValue?: any,
    keyField?: string,
    position?: 'left' | 'right' | 'top' | 'bottom',
}>(), {
    position: 'left',
    modelValue: undefined,
    checkboxValue: undefined,
    keyField: undefined,
    trueValue: true,
    falseValue: false,
});

const emit = defineEmits<{
    (e: 'update:model-value', v: any): void
}>();

function onInput(e: Event) {
    const cb = e.target as HTMLInputElement;
    let newValue;
    if (cb.checked) {
        newValue = Array.isArray(props.modelValue)
            ? [...props.modelValue, trueValue.value]
            : trueValue.value;
    } else if (props.keyField) {
        newValue = Array.isArray(props.modelValue)
            ? props.modelValue.filter(i => i[props.keyField!] !== trueValue.value[props.keyField!])
            : props.falseValue;
    } else {
        newValue = Array.isArray(props.modelValue)
            ? props.modelValue.filter(i => i !== trueValue.value)
            : props.falseValue;
    }
    cb.checked = isChecked.value;
    emit('update:model-value', newValue);
}

const trueValue = computed(() => {
    return props.checkboxValue === undefined ? props.trueValue : props.checkboxValue;
});

const isChecked = computed(() => {
    if (props.keyField) {
        return Array.isArray(props.modelValue)
            ? props.modelValue.some(i => i[props.keyField!] === trueValue.value[props.keyField!])
            : props.modelValue?.[props.keyField] === trueValue.value[props.keyField];
    } else {
        return Array.isArray(props.modelValue)
            ? props.modelValue.includes(trueValue.value)
            : props.modelValue === trueValue.value;
    }
});
</script>

<style lang="scss">
.cr-switch {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    line-height: 1;
    cursor: pointer;
    font-size: 1rem;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;
}

.cr-switch--disabled {
    cursor: not-allowed;
}

.cr-switch .cr-switch__box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--switch-background-off, var(--easy-color));
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
    flex-shrink: 0;
}

.cr-switch .cr-switch__box::before {
    content: "";
    position: absolute;
    left: 0;
    width: 36px;
    height: 16px;
    background-color: var(--switch-background-off, var(--easy-color));
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.cr-switch .cr-switch__box::after {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.cr-switch:not(.cr-switch--disabled):active .cr-switch__box::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.cr-switch:not(.cr-switch--disabled):active .cr-switch__input:checked ~ .cr-switch__box::after {
    transform: translate3d(10px, 2px, 0);
}

.cr-switch__label {
    transition: opacity .1s ease-in;
    user-select: none;
}

.cr-switch__label--inactive {
    opacity: 0.5;
}

.cr-switch__input {
    //display: none;
    position: absolute;
    opacity: 0;
}

.cr-switch__input:focus ~ .cr-switch__box {
    background-color: var(--switch-background-on, var(--primary-color));
}

.cr-switch__input:checked ~ .cr-switch__box {
    background-color: var(--switch-background-on, var(--primary-color));
}

.cr-switch__input:checked ~ .cr-switch__box::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.cr-switch__input:checked ~ .cr-switch__box::after {
    transform: translate3d(22px, 2px, 0);
}
</style>
