<template>
    <div class="uikit">
        <cr-dark-theme-switch />
        <cr-page-header :backlink="{text: 'Назад', url:'/page-2'}">
            Заголовок страницы
        </cr-page-header>

        <cr-avatar style="width: 200px">
            АВ
        </cr-avatar>
        <div class="flex flex-wrap gap-3">
            <cr-badge
                v-for="color in colors"
                :key="color"
                :type="color"
            >
                {{ color }}
            </cr-badge>
        </div>
        <div class="flex flex-wrap gap-3">
            <cr-badge
                v-for="color in colors"
                :key="color"
                :type="color"
                size="small"
            >
                {{ color }}
            </cr-badge>
        </div>

        <div class="flex flex-wrap gap-3">
            <cr-badge
                v-for="color in colors"
                :key="color"
                :type="color"
                outline
            >
                {{ color }}
            </cr-badge>
        </div>

        <div class="flex flex-wrap gap-3">
            <cr-badge
                v-for="color in colors"
                :key="color"
                :type="color"
                dashed
            >
                {{ color }}
            </cr-badge>
        </div>

        <div class="flex flex-wrap gap-3">
            <cr-button
                v-for="color in colors"
                :key="color"
                :type="color"
            >
                {{ color }}
            </cr-button>
        </div>

        <div class="flex flex-wrap gap-3">
            <cr-button
                v-for="color in colors"
                :key="color"
                :type="color"
                square
            >
                <i class="cr-icon-plus" />
            </cr-button>
        </div>

        <div class="flex flex-wrap gap-3">
            <cr-button
                v-for="color in colors"
                :key="color"
                :type="color"
                size="small"
            >
                {{ color }}
            </cr-button>
        </div>

        <div class="flex flex-wrap gap-3">
            <cr-button
                v-for="color in colors"
                :key="color"
                :type="color"
                outline
            >
                {{ color }}
            </cr-button>
        </div>

        <div class="flex flex-wrap gap-3">
            <cr-button
                v-for="color in colors"
                :key="color"
                :type="color"
                dashed
            >
                {{ color }}
            </cr-button>
        </div>

        <cr-card>
            <h4 class="font-medium">
                Пример карточки
            </h4>
            Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности
            представляет собой интересный эксперимент проверки дальнейших направлений развития. Идейные соображения
            высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке
            направлений прогрессивного развития.
        </cr-card>

        <cr-card clickable>
            Кликабельная карточка.
        </cr-card>

        <cr-card
            clickable
            outline
        >
            Кликабельная карточка outline.
        </cr-card>

        <div style="display: flex; gap: 15px; flex-wrap: wrap;">
            <cr-button
                @click="showNotification('info')"
            >
                Показать уведомление
            </cr-button>
            <cr-button
                type="success"
                @click="showNotification('success')"
            >
                Показать уведомление
            </cr-button>
            <cr-button
                type="warning"
                @click="showNotification('warning')"
            >
                Показать уведомление
            </cr-button>
            <cr-button
                type="danger"
                @click="showNotification('error')"
            >
                Показать уведомление
            </cr-button>

            <cr-button
                @click="testConfirm"
            >
                Открыть confirm box
            </cr-button>
            <cr-button @click="showModal = true">
                Открыть модальное окно
            </cr-button>
            <cr-modal
                v-if="showModal"
                title="Модальное окно"
                @close="showModal = false"
            >
                Контент
            </cr-modal>
            <cr-button @click="showDrawer = true">
                Открыть выпадающее окно
            </cr-button>
            <cr-drawer
                v-if="showDrawer"
                title="Выпадающее окно"
                @close="showDrawer = false"
            >
                Контент
                <template #footer="{close}">
                    <cr-button @click="close">
                        Сохранить
                    </cr-button>
                </template>
            </cr-drawer>
        </div>

        <div class="flex gap-5">
            <cr-dropdown
                padding="15px"
                caret
                trigger="hover"
            >
                Выпадающий блок
                <template #body>
                    Контент
                </template>
            </cr-dropdown>

            <cr-dropdown caret>
                Выпадающее меню
                <template #body>
                    <cr-dropdown-option>Пункт 1</cr-dropdown-option>
                    <cr-dropdown-option>Пункт 2</cr-dropdown-option>
                    <cr-dropdown-option>Пункт 3</cr-dropdown-option>
                </template>
            </cr-dropdown>
        </div>

        <cr-code-input class="w-[300px]" />
        <cr-input v-model="inputValue" nullable label="Поле ввода" />
        <cr-input-mask
            v-model="maskedValue"
            label="Номер телефона"
            :mask="{mask: '+#(###)###-####'}"
            placeholder="+7(___)___-____"
            :transform="v => (!v.length || v.startsWith('7')) ? v : `7${v}`"
        />
        <cr-slider
            v-model="numberValueArray"
            tooltip="always"
            :min="1000"
            :max="5000"
        />
        <cr-slider
            v-model="numberValue"
            :step="1"
            :min="1"
            :max="10"
            tooltip="hover"
            marks
        />
        <cr-date-input v-model="date" label="Дата" />
        <cr-date-input
            v-model="dateRange"
            range
            :label="['С', 'По']"
        />
        <!--        <cr-date-input-->
        <!--            v-model="rangeDate"-->
        <!--            range-->
        <!--            label="(new) Дата период"-->
        <!--        />-->
        <cr-input-number
            v-model="numberValue"
            label="Числовой ввод"
        />
        <div style="display: flex; gap: 1rem;">
            <cr-switch v-model="switchValue">
                <template #before>
                    off
                </template>
                on
            </cr-switch>
            <cr-checkbox v-model="switchValue">
                Чекбокс
            </cr-checkbox>
        </div>
        <div style="display: flex; gap: 1rem;">
            <cr-radio
                v-model="switchValue"
                :radio-value="true"
            >
                on
            </cr-radio>
            <cr-radio
                v-model="switchValue"
                :radio-value="false"
            >
                off
            </cr-radio>
        </div>
        <cr-textarea label="Многострочное поле для ввода" />
        <cr-select
            v-model="selectValue"
            label="Выбор из списка"
            :options="['Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4', 'Вариант 5']"
            nullable
        />
        <cr-select
            v-model="selectValue"
            label="Выбор из списка с созданием"
            :options="['Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4', 'Вариант 5']"
            nullable
            :create-function="v => v"
            filterable
        />
        <cr-select
            label="Выбор с поиском и debounce"
            key-field="id"
            label-field="title"
            filterable
            :search-function="selectSearchFnc"
            :search-debounce="500"
        />

        <cr-tiptap placeholder="Введите текст" />

        <cr-loading />
        <cr-collapse>
            Сворачиваемое содержимое
            <template #content>
                Контент
            </template>
        </cr-collapse>
        <cr-pagination :paginator="{count:100, limit:10, page: 0, pending: false} as any" />
        <cr-progress-bar :progress="0.5" />
        <cr-progress-bar-circle :progress="0.5" />
        <div>
            <h5>
                Сортируемый список {{ sortableList }}
            </h5>
            <div style="display:flex; gap: 15px;">
                <cr-sortable-list
                    v-model:items="sortableList"
                >
                    <template #item="{item}">
                        <cr-card>{{ item }}</cr-card>
                    </template>
                </cr-sortable-list>
            </div>
        </div>
        <cr-tabs
            v-model="tab"
        >
            <cr-tab-pane
                v-for="idx in 5"
                :key="idx"
                :label="`Вкладка ${idx}`"
            >
                Содержимое {{ idx }}
            </cr-tab-pane>
        </cr-tabs>
        <cr-tree
            v-model:items="treeItems"
            draggable
        >
            <template #default="{data}">
                {{ data.name }}
            </template>
        </cr-tree>
        <cr-upload
            :url="upload.url"
            :thumbnail="upload.url"
            style="width: 300px; height: 300px;"
        />
        <cr-upload-area
            v-model="uploadAreaItems"
            :max-count="3"
            item-width="150px"
        />
        <cr-upload-list
            v-model="uploadAreaItems"
            :max-count="3"
        />
        <cr-lightbox-provider>
            <cr-lightboxable
                :src="swiperImages[0]"
                style="width: 300px;"
            >
                <cr-upload
                    :url="swiperImages[0]"
                    :thumbnail="swiperImages[0]"
                />
            </cr-lightboxable>
        </cr-lightbox-provider>
        <cr-lightbox-provider zoom-able>
            <div style="display:grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 15px;">
                <cr-lightboxable
                    v-for="(img, idx) in swiperImages"
                    :key="idx"
                    :src="swiperImages[idx]"
                    :thumbnail="swiperImages[idx]"
                >
                    <cr-upload
                        :url="img"
                        :thumbnail="img"
                    />
                    <template #afterSlide="{active}">
                        slide {{ idx }}
                    </template>
                </cr-lightboxable>
                <cr-lightboxable
                    key="docIframe"
                    type="iframe"
                    src="https://nord86.storage.yandexcloud.net/af35a240-0292-49f7-b5be-80ddce893fe1.pdf"
                >
                    <cr-upload
                        name="test.pdf"
                        url="https://nord86.storage.yandexcloud.net/af35a240-0292-49f7-b5be-80ddce893fe1.pdf"
                        :size="10000"
                    />
                    <template #thumbnail>
                        <cr-upload
                            style="width: 100%;"
                            name="test.pdf"
                            url="https://nord86.storage.yandexcloud.net/af35a240-0292-49f7-b5be-80ddce893fe1.pdf"
                            :size="10000"
                        />
                    </template>
                </cr-lightboxable>
                <cr-lightboxable
                    key="videoIframe"
                    src="https://www.youtube.com/embed/DkV64ccqeuY?si=sUA72O1z4rTZEIGa"
                    type="iframe"
                >
                    <cr-card
                        outline
                        type="easy"
                        style="height: 100%; display: flex; align-items: center; justify-content: center;"
                    >
                        <cr-text-icon><i class="cr-icon-play" /> video</cr-text-icon>
                    </cr-card>
                </cr-lightboxable>
            </div>
            <template #after>
                <div style="text-align: center;">
                    some text after slides
                </div>
            </template>
        </cr-lightbox-provider>
        <cr-zoom-content :drag-only-zoomed="false" :bounds="false">
            <img
                style="user-select: none; pointer-events: none;"
                :src="swiperImages[0]"
            >
        </cr-zoom-content>
    </div>
</template>

<script lang="ts" setup>
import type { Ref } from 'vue';
import { $msgbox, $notify, ref } from '#imports';

const colors = ref<any[]>([
    'blank',
    'easy',
    'plain',
    'primary',
    'secondary',
    'neutral',
    'danger',
    'warning',
    'success',
]);

const showModal = ref(false);
const selectValue = ref();
const maskedValue = ref('');
const inputValue = ref();
const showDrawer = ref(false);
const numberValue = ref(5);
const numberValueArray = ref([undefined, undefined]);
const date = ref();
const dateRange = ref([null, null]);
const tab = ref();
const switchValue = ref();
const sortableList: Ref<number[]> = ref([1, 2, 3, 4, 5]);
const treeItems = ref([
    {
        name: 'Элемент 1',
        children: [],
        id: 1,
    },
    {
        name: 'Элемент 2',
        children: [
            {
                name: 'Элемент 2.1',
                children: [],
                id: 3,
            },
            {
                name: 'Элемент 2.2',
                children: [
                    {
                        name: 'Элемент 2.2.1',
                        children: [],
                        id: 5,
                    },
                    {
                        name: 'Элемент 2.2.2',
                        children: [],
                        id: 6,
                    },
                    {
                        name: 'Элемент 2.2.3',
                        children: [],
                        id: 7,
                    },
                    {
                        name: 'Элемент 2.2.4',
                        children: [],
                        id: 8,
                    },
                ],
                id: 4,
            },
        ],
        id: 2,
    },
    {
        name: 'Элемент 3',
        children: [],
        id: 7,
    },
]);

const bigTable = ref([]);
for (let i = 0; i < 1000; i++) {
    bigTable.value.push([`row ${i}, column 1`, `row ${i}, column 2`]);
}

const upload = {
    name: 'image.jpg',
    url: 'https://source.unsplash.com/random/300x300?sig=1',
};

const swiperImages = [
    'https://source.unsplash.com/random/1920x1080?sig=1',
    'https://source.unsplash.com/random/1920x1080?sig=2',
    'https://source.unsplash.com/random/1920x1080?sig=3',
    'https://source.unsplash.com/random/1920x1080?sig=4',
    'https://source.unsplash.com/random/1920x1080?sig=5',
];

const uploadAreaItems = ref([
    {
        id: 99500,
        key: '55986fb9-7925-4e39-aef8-2f67d0470314.jpg',
        url: 'https://electro.storage.yandexcloud.net/55986fb9-7925-4e39-aef8-2f67d0470314.jpg',
        type: 'image/jpeg',
        name: '02-Vector-Banner-blue.jpg',
        size: 62458,
        thumbnail: {
            url: 'https://electro.storage.yandexcloud.net/07d9acf4-714e-49ba-90fa-19d4cdac26b2.webp',
            width: 300,
            height: 100,
        },
        createdAt: '2024-04-06T14:19:18.000Z',
    }, {
        id: 99501,
        key: '74fa76bd-7552-41a8-94e8-45d1d18659c7.png',
        url: 'https://electro.storage.yandexcloud.net/74fa76bd-7552-41a8-94e8-45d1d18659c7.png',
        type: 'image/png',
        name: 'Снимок экрана 2024-04-02 131715.png',
        size: 19971,
        thumbnail: {
            url: 'https://electro.storage.yandexcloud.net/0276e113-ecdf-457f-8aaf-c2a99112f0b4.webp',
            width: 300,
            height: 211,
        },
        createdAt: '2024-04-06T14:19:21.000Z',
    }, {
        id: 99502,
        key: '1aa25360-af0b-42a0-9083-73641f27dcfb.png',
        url: 'https://electro.storage.yandexcloud.net/1aa25360-af0b-42a0-9083-73641f27dcfb.png',
        type: 'image/png',
        name: 'Снимок экрана 2024-03-08 193703.png',
        size: 4078303,
        thumbnail: {
            url: 'https://electro.storage.yandexcloud.net/38338630-4c6f-4852-8318-0146af7fd546.webp',
            width: 300,
            height: 167,
        },
        createdAt: '2024-04-06T14:19:31.000Z',
    },
]);

async function selectSearchFnc(query: string) {
    const res = await fetch('https://jsonplaceholder.typicode.com/posts');
    const items = await res.json();
    return query ? items.filter(i => i.title.includes(query)) : items;
}

async function testConfirm() {
    await $msgbox({
        title: 'Внимание',
        type: 'error',
        body: 'Это действие нельзя отменить. Вы подтверждаете удаление?',
        confirm: true,
    });
}

async function showNotification(type: 'info' | 'error' | 'warning' | 'success') {
    await $notify({
        type,
        title: 'Внимание',
        body: 'Пример уведомления. А это случайное число: ' + Math.random(),
        duration: Math.random() > 0.5 ? 0 : 5000,
    });
}
</script>

<style lang="scss">
.uikit {
    padding: 30px;

    & > * {
        margin-bottom: 50px;
    }
}
</style>
