<template>
    <div
        class="cr-rating-input"
        :class="{
            'cr-rating-input--rated': modelValue,
            'cr-rating-input--disabled': disabled,
        }"
    >
        <i
            v-for="i in max"
            :key="i"
            :class="{
                'cr-rating-input__star--filled': i <= modelValue
            }"
            class="cr-rating-input__star"
            @click="emit('update:modelValue', i)"
        />
    </div>
</template>

<script lang="ts" setup>
withDefaults(defineProps<{
    modelValue: number,
    max?: number
    disabled?: boolean,
}>(), {
    max: 5,
    disabled: false,
});

const emit = defineEmits<{
    (e: 'update:modelValue', v: number): void
}>();
</script>

<style scoped lang="scss">
.cr-rating-input {
    display: inline-grid;
    grid-auto-flow: column;
    font-size: 1.4em;
    justify-content: flex-start;

    &:hover {
        .cr-rating-input__star::before {
            content: "\e96d";
            color: var(--primary-color);
        }
    }
}

.cr-rating-input--disabled {
    pointer-events: none;
}

.cr-rating-input__star {
    cursor: pointer;
    transition: .1s ease-in;

    &:active {
        transform: scale(1.3);
    }
}

.cr-rating-input__star::before {
    font-family: '1creator' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e96c";
}

.cr-rating-input__star--filled::before {
    content: "\e96d";
    color: var(--primary-color);
}

.cr-rating-input__star:hover ~ .cr-rating-input__star:before {
    content: "\e96c";
}

.cr-rating-input--rated {
    pointer-events: none;
}
</style>
