<template>
    <label
        class="cr-checkbox"
        :class="{
            [`checkbox--${position}`]: true,
            'checkbox--disabled': disabled
        }"
    >
        <input
            class="cr-checkbox__input"
            type="checkbox"
            :checked="isChecked"
            :disabled="disabled"
            :true-value="trueValue"
            :false-value="falseValue"
            @input="onInput"
        >
        <i class="cr-checkbox__box" />
        <slot />
    </label>
</template>

<script lang="ts" setup>
import { computed } from '#imports';

const props = withDefaults(defineProps<{
    disabled?: boolean,
    modelValue?: any,
    checkboxValue?: any,
    trueValue?: any,
    falseValue?: any,
    keyField?: string,
    position?: 'left' | 'right' | 'top' | 'bottom',
}>(), {
    position: 'left',
    modelValue: undefined,
    checkboxValue: undefined,
    keyField: undefined,
    trueValue: true,
    falseValue: false,
});

const emit = defineEmits<{
    (e: 'update:modelValue', v: any): void
}>();

function onInput(e: Event) {
    const cb = e.target as HTMLInputElement;
    let newValue;
    if (cb.checked) {
        newValue = Array.isArray(props.modelValue)
            ? [...props.modelValue, trueValue.value]
            : trueValue.value;
    } else if (props.keyField) {
        newValue = Array.isArray(props.modelValue)
            ? props.modelValue.filter(i => i[props.keyField!] !== trueValue.value[props.keyField!])
            : props.falseValue;
    } else {
        newValue = Array.isArray(props.modelValue)
            ? props.modelValue.filter(i => i !== trueValue.value)
            : props.falseValue;
    }

    cb.checked = isChecked.value;
    emit('update:modelValue', newValue);
}

const trueValue = computed(() => {
    return props.checkboxValue === undefined ? props.trueValue : props.checkboxValue;
});

const isChecked = computed(() => {
    if (props.keyField) {
        return Array.isArray(props.modelValue)
            ? props.modelValue.some(i => i[props.keyField!] === trueValue.value[props.keyField!])
            : props.modelValue?.[props.keyField] === trueValue.value[props.keyField];
    } else {
        return Array.isArray(props.modelValue)
            ? props.modelValue.includes(trueValue.value)
            : props.modelValue === trueValue.value;
    }
});
</script>

<style lang="scss">
.cr-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    line-height: 1;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
}

.cr-checkbox .cr-checkbox__box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid var(--base-border-color);
    border-radius: 3px;
    vertical-align: text-bottom;
    transition: all 0.1s linear;
    flex-shrink: 0;

    &:before {
        content: '';
        background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none'><path d='M1 6.0625L4.04348 10L11 1' stroke='white' stroke-width='2'/></svg>");
        width: 100%;
        height: 100%;
        display: block;
        background-position: 3px 3px;
        background-repeat: no-repeat;
        opacity: 0;
        transform: scale(1.3);
        transition: .1s ease-in;
    }
}

.cr-checkbox__input {
    position: absolute;
    opacity: 0;
}

.cr-checkbox input:focus + .cr-checkbox__box {
    border-color: var(--primary-color);
}

.cr-checkbox input:checked + .cr-checkbox__box {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &::before {
        transform: scale(1);
        opacity: 1;
    }
}

.checkbox--disabled {
    cursor: not-allowed;

    .cr-checkbox__box {
        opacity: 0.3;
    }
}
</style>
