<template>
    <component
        :is="tag"
        class="cr-badge"
        :class="badgeClass"
        :style="badgeStyle"
    >
        <slot />
    </component>
</template>

<script setup lang="ts">
import { computed } from '#imports';

const props = withDefaults(defineProps<{
    type?: 'blank' | 'plain' | 'easy' | 'primary' | 'secondary' | 'danger' | 'success' | 'neutral' | 'warning',
    size?: 'small',
    outline?: boolean,
    dashed?: boolean,
    square?: string,
    circle?: string,
    tag?: keyof HTMLElementTagNameMap | any,
}>(), {
    type: 'primary',
    size: undefined,
    outline: false,
    dashed: false,
    square: undefined,
    circle: undefined,
    tag: 'span',
});

const badgeClass = computed(() => {
    return {
        ['cr-badge--' + props.type]: true,
        ['cr-badge--' + props.size]: props.size && true,
        'cr-badge--outline': props.outline,
        'cr-badge--dashed': props.dashed,
        'cr-badge--square': props.square,
        'cr-badge--circle': props.circle,
    };
});

const badgeStyle = computed(() => {
    const res: Record<string, any> = {};
    const side = props.square || props.circle;
    if (side) {
        res.width = side;
        res.height = side;
        res.fontSize = parseInt(side) * 0.4 + 'px';
    }
    return res;
});
</script>

<style lang="scss">
.cr-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: var(--badge-border-width, 1px) solid transparent;
    padding: 5px 15px;
    text-align: center;
    line-height: 1;
    border-radius: var(--badge-border-radius, 999px);
    background: var(--badge-bg-color);
    color: var(--badge-color);
    vertical-align: middle;
}

.cr-badge--circle {
    border-radius: 999px;
}

.cr-badge--circle, .cr-badge--square {
    padding: 0;
    min-height: auto;
    flex-shrink: 0;
}

.cr-badge--small {
    padding: 3px 10px;
    font-size: 0.70rem;
}

.cr-badge--blank {
    --badge-bg-color: var(--blank-color);
    --badge-color: var(--blank-contrast-color);
}

.cr-badge--easy {
    --badge-bg-color: var(--easy-color);
    --badge-color: var(--easy-contrast-color);
}

.cr-badge--plain {
    --badge-bg-color: var(--plain-color);
    --badge-color: var(--plain-contrast-color);
}

.cr-badge--primary {
    --badge-bg-color: var(--primary-color);
    --badge-color: var(--primary-contrast-color);
}

.cr-badge--secondary {
    --badge-bg-color: var(--secondary-color);
    --badge-color: var(--secondary-contrast-color);
}

.cr-badge--neutral {
    --badge-bg-color: var(--neutral-color);
    --badge-color: var(--neutral-contrast-color);
}

.cr-badge--danger {
    --badge-bg-color: var(--danger-color);
    --badge-color: var(--danger-contrast-color);
}

.cr-badge--warning {
    --badge-bg-color: var(--warning-color);
    --badge-color: var(--ning-contrast-color);
}

.cr-badge--success {
    --badge-bg-color: var(--success-color);
    --badge-color: var(--success-contrast-color);
}

.cr-badge--outline, .cr-badge--dashed {
    background: none;
    border-color: var(--badge-bg-color);
    color: var(--badge-bg-color);
}

.cr-badge--dashed {
    border-style: dashed;
}
</style>
