<script setup lang="ts">
import { computed, ref } from '#imports';

const props = defineProps<{
    extension?: string
}>();

const iconNotFound = ref(false);

const iconSrc = computed(() => {
    return iconNotFound.value || !props.extension ? '/file-icons/unknown.svg' : `/file-icons/${props.extension}.svg`;
});
</script>

<template>
    <img
        :alt="extension"
        :src="iconSrc"
        @error="iconNotFound = true"
    >
</template>

<style scoped lang="scss">

</style>
