<script setup lang="ts">
import { ref } from '#imports';

const value = ref('2023-12-19');
const arr = ref([null, null]);
</script>

<template>
    <div class="p-8 grid gap-3">
        <cr-date-input
            v-model="value"
            nullable
        />
        <cr-input v-model="value" lazy />
        <cr-date-input
            v-model="arr"
            nullable
            range
        />
        {{ value }}<br>
        {{ arr }}<br>
    </div>
</template>

<style scoped lang="scss">

</style>
