<script setup lang="ts">
import { ref } from '#imports';

const showModal = ref(false);
const loaded = ref(false);
const maskedValue = ref();
</script>

<template>
    <div class="p-8">
        <cr-button @click="showModal = true">
            open modal
        </cr-button>
        <nuxt-link to="/">
            to page 1
        </nuxt-link>
        <cr-drawer
            v-if="showModal"
            @close="showModal = false"
            @open="loaded = true"
        >
            <cr-loading v-if="!loaded" />
            <template v-else>
                <cr-input-mask
                    v-model="maskedValue"
                    label="Номер телефона"
                    :mask="{mask: '+#(###)###-####'}"
                    placeholder="+7(___)___-____"
                    :transform="v => (!v.length || v.startsWith('7')) ? v : `7${v}`"
                />
                <nuxt-link to="/">
                    to page 1
                </nuxt-link>
            </template>
        </cr-drawer>
    </div>
</template>

<style scoped lang="scss">

</style>
