<script setup lang="ts">
const props = withDefaults(defineProps<{
    ratio?: `${number}/${number}`
}>(), { ratio: '1/1' });

const [x, y] = props.ratio.split('/');
const padding = x / y * 100 + '%';
</script>

<template>
    <div class="cr-proportional">
        <slot />
    </div>
</template>

<style lang="scss">
.cr-proportional {
    position: relative;
    padding-top: v-bind(padding);

    & > * {
        position: absolute !important;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
</style>
