<template>
    <cr-sortable-list-item
        v-for="(item, idx) in renderingItems"
        :key="item.idx"
        :handler-selector="handlerSelector"
        :disabled="disabled"
        v-bind="$attrs"
        @start-dragging="startDragging(idx)"
        @stop-dragging="stopDragging"
        @pointermove="onItemMouseMove(idx)"
    >
        <slot
            name="item"
            :item="item.item"
            :idx="item.idx"
        />
    </cr-sortable-list-item>
</template>

<script lang="ts" setup>
import type { Ref } from 'vue';
import { computed, ref } from '#imports';

const props = withDefaults(defineProps<{
    items: any[],
    direction?: 'horizontal' | 'vertical',
    handlerSelector?: string,
    disabled?: boolean,
}>(), {
    direction: 'horizontal',
    handlerSelector: undefined,
    disabled: false,
});

const emit = defineEmits<{
    (e: 'update:items', v: any[]): void
}>();

const dragFromIdx: Ref<number | undefined> = ref(undefined);
const dragToIdx: Ref<number | undefined> = ref(undefined);

const keyedItems = computed(() => {
    return props.items.map((item, idx) => {
        return {
            item,
            idx,
        };
    });
});

const renderingItems = computed(() => {
    if (dragFromIdx.value === undefined) {
        return keyedItems.value;
    }

    const arr = keyedItems.value.filter((_i, idx) => idx !== dragFromIdx.value);

    if (dragToIdx.value! >= 0) {
        arr.splice(dragToIdx.value!, 0, keyedItems.value[dragFromIdx.value]);
    }

    return arr;
});

const startDragging = (idx: number) => {
    if (props.disabled) {
        return;
    }
    dragToIdx.value = idx;
    dragFromIdx.value = idx;
    document.body.classList.toggle('grabbing', true);
};

const stopDragging = () => {
    if (props.disabled) {
        return;
    }
    const res = renderingItems.value.map(i => i.item);
    if (dragFromIdx.value !== dragToIdx.value) {
        emit('update:items', res);
    }
    dragFromIdx.value = dragToIdx.value = undefined;
    document.body.classList.toggle('grabbing', false);
};

const onItemMouseMove = (idx: number) => {
    if (props.disabled) {
        return;
    }
    if (dragFromIdx.value === undefined) {
        return;
    }

    dragToIdx.value = idx;
};
</script>

<style>
</style>
