<template>
    <div
        ref="rootEl"
        class="cr-sortable-list-item"
        :class="{'cr-sortable-list-item--dragging': dragging}"
        @dragstart.prevent
    >
        <slot />
    </div>
</template>

<script lang="ts" setup>
import { watch } from 'vue';
import { useDraggable } from '../../composables/use-draggable';
import { ref } from '#imports';

const rootEl = ref();

const emit = defineEmits<{
    (e: 'startDragging'): void,
    (e: 'stopDragging'): void,
}>();

const props = defineProps<{
    handlerSelector?: string,
    disabled?: boolean
}>();

const dragging = ref();

const { disabled } = useDraggable(rootEl, {
    handler: props.handlerSelector,
    onStart() {
        dragging.value = true;
        emit('startDragging');
    },
    onStop() {
        dragging.value = false;
        emit('stopDragging');
    },
});
watch(() => props.disabled, () => disabled.value = props.disabled, { immediate: true });
</script>

<style lang="scss">
.cr-sortable-list-item {
    user-select: none;
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.cr-sortable-list-item--dragging {
    opacity: 0.3;
    pointer-events: none;
    touch-action: none;
}
</style>
