<template>
    <div
        class="cr-dropdown-option"
        @click="closeOnClick && toggle(false)"
    >
        <i v-if="icon" class="cr-dropdown-option__icon" :class="icon" />
        <slot />
    </div>
</template>

<script lang="ts" setup>
import { DROPDOWN_PROVIDE_KEY } from './utils';
import { inject } from '#imports';

withDefaults(defineProps<{
    icon?: string,
    closeOnClick?: boolean
}>(), {
    closeOnClick: true,
    icon: undefined,
});

const { toggle } = inject<{
    toggle: (v: boolean) => void,
        }>(DROPDOWN_PROVIDE_KEY)!;
</script>

<style lang="scss">
.cr-dropdown-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: var(--plain-color);
    -webkit-tap-highlight-color: transparent;

    @media (hover: hover) {
        &:hover {
            color: var(--primary-color);
            background: var(--easy-color);
        }
    }

    @media (hover: none) {
        &:active {
            color: var(--primary-color);
            background: var(--easy-color);
        }
    }
}

.cr-dropdown-option + .cr-dropdown-option {
    border-top: 1px solid var(--base-border-color);
}

.cr-dropdown-option__icon {
    font-size: 1.3rem;
    vertical-align: middle;
    color: var(--primary-color);
}

</style>
