<template>
    <component
        :is="tag"
        v-if="$slots.default"
        ref="toggleEl"
        class="cr-dropdown"
        v-bind="$attrs"
        :class="{
            'cr-dropdown--open': isOpen,
            'cr-dropdown--disabled': disabled
        }"
    >
        <slot
            :toggle="toggle"
            :is-open="isOpen"
        />
        <svg
            v-if="caret"
            class="cr-dropdown__caret"
            width="14"
            height="8"
            fill="currentColor"
            viewBox="0 0 14 8"
        >
            <path
                fill-rule="evenodd"
                d="M.347 1.59A.833.833 0 1 1 1.526.41L6.12 5.007a1 1 0 0 0 1.415 0L12.132.41a.833.833 0 0 1 1.178 1.18L7.536 7.363a1 1 0 0 1-1.415 0L.347 1.589Z"
                clip-rule="evenodd"
            />
        </svg>
    </component>
    <teleport
        to="body"
        :disabled="!teleport"
    >
        <cr-transition-fade
            translate-y="-10px"
            speed=".15s"
            @after-leave="emit('close')"
            @after-enter="emit('open')"
        >
            <div
                v-if="isOpen"
                ref="bodyEl"
                class="cr-dropdown-body"
                :style="bodyStyle"
                :class="bodyClass"
            >
                <slot
                    name="body"
                    :toggle="toggle"
                />
            </div>
        </cr-transition-fade>
    </teleport>
</template>

<script setup lang="ts">
import { autoUpdate, flip, offset, shift, size, useFloating } from '@floating-ui/vue';

import { onMounted } from 'vue';
import { DROPDOWN_PROVIDE_KEY } from './utils';
import { computed, handleClickOutside, handleMouseLeave, nextTick, provide, ref } from '#imports';

type Placement = 'auto'
    | 'auto-start'
    | 'auto-end'
    | 'top'
    | 'top-start'
    | 'top-end'
    | 'bottom'
    | 'bottom-start'
    | 'bottom-end'
    | 'right'
    | 'right-start'
    | 'right-end'
    | 'left'
    | 'left-start'
    | 'left-end';

const props = withDefaults(defineProps<{
    width?: string,
    height?: string,
    tag?: keyof HTMLElementTagNameMap | any,
    padding?: string,
    trigger?: 'click' | 'hover' | 'rightClick' | 'manual',
    disabled?: boolean,
    caret?: boolean,
    overflow?: 'hidden' | 'visible' | 'auto',
    placement?: Placement,
    teleport?: boolean,
    bodyClass?: string,
    strategy?: 'absolute' | 'fixed',
    beforeOpen?: () => Promise<void> | void,
    initialOpen?: boolean,
    anchor?: HTMLElement
}>(), {
    tag: 'div',
    width: 'auto',
    height: 'auto',
    padding: '0',
    trigger: 'click',
    disabled: false,
    caret: false,
    overflow: 'auto',
    placement: 'bottom',
    strategy: 'fixed',
    beforeOpen: undefined,
    bodyClass: undefined,
    teleport: true,
    initialOpen: false,
    anchor: undefined,
});

const emit = defineEmits<{
    (e: 'open'): void
    (e: 'close'): void
}>();

const isOpen = ref(false);
const toggleEl = ref<HTMLElement | undefined>();
const bodyEl = ref<HTMLElement | undefined>();
let stopCloseListener: undefined | (() => void);

const bodyStyle = computed(() => {
    const res = {
        overflow: props.overflow,
        padding: props.padding,
        position: props.strategy,
        left: x.value + 'px',
        top: y.value + 'px',
    } as any;

    if (props.width !== '100%') {
        res.width = props.width;
    }

    return res;
});

function close() {
    // setTimeout гарантирует срабатывание нативных событий внутри dropdown (change у input)
    setTimeout(() => toggle(false), 0);
}

function open() {
    toggle(true);
}

async function toggle(val?: boolean) {
    if (props.disabled || (val && isOpen.value)) {
        return;
    }

    if (val === undefined) {
        val = !isOpen.value;
    }

    if (val && props.beforeOpen) {
        await props.beforeOpen();
    }

    isOpen.value = val;
    update();

    stopCloseListener?.();

    if (isOpen.value) {
        nextTick(() => {
            const els = [anchorEl.value, bodyEl.value].filter(i => i) as HTMLElement[];
            if (props.trigger === 'hover') {
                stopCloseListener = handleMouseLeave(els, close, 100);
            } else {
                stopCloseListener = handleClickOutside(els, close);
            }
        });
    }
}

provide(DROPDOWN_PROVIDE_KEY, {
    toggle,
    open,
    close,
});

const middleware = [
    flip({
        fallbackAxisSideDirection: 'start',
        crossAxis: false,
    }),
    shift(),
    offset(5),
    size({
        padding: 5,
        apply({
            availableHeight,
            rects,
        }) {
            if (bodyEl.value && 'style' in bodyEl.value) {
                const height = Math.min(Math.max(50, availableHeight), 400);
                bodyEl.value.style.maxHeight = `${height}px`;

                if (props.width === '100%') {
                    bodyEl.value.style.width = `${rects.reference.width}px`;
                }
            }
        },
    }),
];

const anchorEl = computed(() => {
    return props.anchor || toggleEl.value;
});

const {
    x,
    y,
    update,
} = useFloating(anchorEl, bodyEl, {
    placement: props.placement as any,
    strategy: 'fixed',
    whileElementsMounted: autoUpdate,
    middleware,
});

onMounted(() => {
    if (anchorEl.value) {
        switch (props.trigger) {
            case 'click':
                anchorEl.value!.addEventListener('click', open);
                break;
            case 'hover':
                anchorEl.value!.addEventListener('mouseenter', open);
                break;
            case 'rightClick':
                anchorEl.value!.addEventListener('contextmenu', open);
                break;
        }
    }

    if (props.initialOpen) {
        open();
    }
});

defineExpose({
    toggle,
    isOpen,
});
</script>

<style lang="scss">
.cr-dropdown {
    display: inline-flex;
    align-items: center;
    position: relative;
    font: var(--base-font);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.cr-dropdown--disabled {
    cursor: auto;

    .cr-dropdown__toggle {
        cursor: auto;
    }
}

.cr-dropdown__caret {
    display: inline-block;
    transition: transform .1s ease-in;
    font-size: 0.85em;
    color: var(--neutral-color);
    margin-left: 5px;
}

.cr-dropdown--open {
    .cr-dropdown__caret {
        transform: rotate(180deg);
    }
}

.cr-dropdown-body {
    flex-direction: column;
    background: var(--blank-color);
    font-size: initial;
    border-radius: var(--base-border-radius);
    max-width: calc(100vw - 30px);
    box-shadow: 0 10px 15px -5px #0b00a733;
    border: 1px solid var(--base-border-color);
    z-index: 101;
}

.dropdown-enter-active, .dropdown-leave-active {
    transition: opacity .3s, transform .3s;
    pointer-events: none;
}

.dropdown-enter, .dropdown-leave-to {
    opacity: 0;
    transform: translateY(15px);
}
</style>
