<template>
    <div
        class="cr-notification"
        :class="{
            [`cr-notification--${type}`]: true,
            'cr-notification--clickable': !!onClick
        }"
        @click="onNotificationClick"
    >
        <div class="cr-notification__title">
            <i
                v-if="type === 'success'"
                class="cr-icon-tick-square cr-notification__icon"
            />
            <i
                v-else-if="['warning', 'error'].includes(type as any)"
                class="cr-icon-danger-triangle cr-notification__icon"
            />
            {{ title }}
            <i
                v-if="closable"
                class="cr-icon-close cr-notification__close"
                @click.stop="onNotificationClose"
            />
        </div>
        <div class="cr-notification__body" v-html="body" />
        <div
            v-if="duration"
            :style="durationProgressStyle"
            class="cr-notification__duration"
        />
    </div>
</template>

<script lang="ts" setup>
import { onMounted, ref } from '#imports';

const props = withDefaults(defineProps<{
    title: string,
    body: string,
    type?: 'info' | 'error' | 'warning' | 'success',
    duration?: number,
    closable?: boolean,
    onClose?: () => any,
    onClick?: () => any,
}>(), {
    duration: 2000,
    type: 'info',
    closable: true,
    onClose: undefined,
    onClick: undefined,
});

const emit = defineEmits<{
    (e: 'closed'): void,
}>();

function onNotificationClose() {
    props.onClose?.();
    emit('closed');
}

function onNotificationClick() {
    props.onClick?.();
    onNotificationClose();
}

const durationProgressStyle = ref({
    '--progress': '0',
    'transition-duration': props.duration + 'ms',
});

onMounted(() => {
    if (props.duration > 0) {
        setTimeout(onNotificationClose, props.duration);
        setTimeout(() => {
            durationProgressStyle.value['--progress'] = '100%';
        }, 50);
    }
});
</script>

<style lang="scss">
.cr-notification {
    border: 1px solid var(--base-border-color);
    border-radius: var(--base-border-radius);
    background: var(--blank-color);
    color: var(--blank-contrast-color);
    padding: 15px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
}

.cr-notification--clickable {
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 15px 30px -15px var(--shadow-color, rgba(0, 0, 0, 0.1));
        }
    }

    @media (hover: none) {
        &:active {
            box-shadow: 0 15px 30px -15px var(--shadow-color, rgba(0, 0, 0, 0.1));
        }
    }
}

.cr-notification__title {
    display: flex;
    font-weight: 500;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.cr-notification--info {
    .cr-notification__icon {
        color: var(--neutral-color);
    }
}

.cr-notification--warning {
    .cr-notification__icon {
        color: var(--warning-color);
    }
}

.cr-notification--success {
    .cr-notification__icon {
        color: var(--success-color);
    }
}

.cr-notification--error {
    .cr-notification__icon {
        color: var(--danger-color);
    }
}

.cr-notification__icon {
    width: 20px;
}

.cr-notification__close {
    margin-left: auto;
    margin-right: -6px;
    color: var(--neutral-color);
    cursor: pointer;
    font-size: 24px;

    &:hover {
        color: var(--blank-contrast-color);
    }
}

.cr-notification__body {
    font-size: 0.85rem;
}

.cr-notification__duration {
    background: var(--easy-color);
    height: 4px;
    margin-top: 10px;
    border-radius: 5px;
    --progress: 0;
    transition: width 10s linear;

    &::before {
        content: '';
        border-radius: inherit;
        display: block;
        background: var(--primary-color);
        height: 100%;
        width: var(--progress);
        transition: inherit;
    }
}
</style>
