<template>
    <transition-group
        name="notification"
        tag="div"
        class="cr-notification-container"
    >
        <cr-notification
            v-for="(item, idx) in notifications"
            :key="item._id"
            v-bind="item"
            class="cr-notification-container__item"
            @closed="onClose(idx)"
        />
    </transition-group>
</template>

<script lang="ts" setup>
import type { Ref } from 'vue';
import type { INotification } from './interfaces';
import { ref } from '#imports';

const notifications: Ref<Array<INotification & {
    _id: number
}>> = ref([]);

function addNotification(val: INotification) {
    notifications.value.splice(0, 0, {
        ...val,
        _id: Math.random(),
    });
}

function onClose(idx: number) {
    notifications.value.splice(idx, 1);
}

defineExpose({ addNotification });
</script>

<style lang="scss">
.cr-notification-container {
    max-width: 100%;
    width: 300px;
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 15px;

    @media (max-width: 400px) {
        width: calc(100% - 30px);
    }
}

.cr-notification-container__item {
    margin-bottom: 15px;
}

.notification-move, /* apply transition to moving elements */
.notification-enter-active,
.notification-leave-active {
    transition: all 0.5s ease;
}

.notification-enter-from,
.notification-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layouts flow so that moving
   animations can be calculated correctly. */
.notification-leave-active {
    position: absolute;
    width: 100%;
}
</style>
