<template>
    <component
        :is="tag"
        class="cr-card"
        :class="cardClass"
        :role="clickable ? 'button' : undefined"
        :tabindex="clickable ? 0 : undefined"
    >
        <div
            v-if="loading"
            class="cr-card__loading"
        />
        <div
            v-if="hasActions"
            class="cr-card__actions"
        >
            <slot name="actions" />
        </div>
        <slot />
    </component>
</template>

<script lang="ts" setup>
import { computed, useSlots } from '#imports';

const props = withDefaults(defineProps<{
    clickable?: boolean,
    borderless?: boolean,
    outline?: boolean,
    tag?: keyof HTMLElementTagNameMap | any,
    type?: 'blank' | 'plain' | 'easy' | 'primary' | 'secondary' | 'danger' | 'success' | 'neutral' | 'warning',
    loading?: boolean,
}>(), {
    tag: 'div',
    type: undefined,
    borderless: false,
    outline: false,
    clickable: false,
    loading: false,
});

const hasActions = !!useSlots().actions;

const cardClass = computed(() => {
    return {
        ['cr-card--' + props.type]: props.type,
        'cr-card--clickable': props.clickable,
        'cr-card--outline': props.outline,
        'cr-card--borderless': props.borderless,
        'cr-card--loading': props.loading,
    };
});
</script>

<style lang="scss">
.cr-card {
    background: var(--blank-color, white);
    --border-width: var(--base-border-width, 1px);
    border: var(--border-width) solid var(--base-border-color, #eaeaea);
    border-radius: var(--base-border-radius);
    padding: var(--card-padding, 16px);
    transition: border-color .2s ease-in, box-shadow .2s ease-in, background-color .2s ease-in;
    position: relative;
    outline: none;
}

.cr-card--loading {
    & > * {
        position: relative;
    }
}

.cr-card--outline {
    &.cr-card--blank {
        border-color: var(--blank-color);
    }

    &.cr-card--plain {
        border-color: var(--plain-color);
    }

    &.cr-card--easy {
        border-color: var(--easy-color);
    }

    &.cr-card--primary {
        border-color: var(--primary-color);
    }

    &.cr-card--secondary {
        border-color: var(--secondary-color);
    }

    &.cr-card--danger {
        border-color: var(--danger-color);
    }

    &.cr-card--success {
        border-color: var(--success-color);
    }

    &.cr-card--neutral {
        border-color: var(--neutral-color);
    }

    &.cr-card--warning {
        border-color: var(--warning-color);
    }
}

[aria-pressed="true"] {
    background: black !important;
}

.cr-card--clickable {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:not(.cr-card--outline), {
        @media (hover: hover) {
            &:hover, &:focus {
                box-shadow: 0 15px 30px -15px var(--shadow-color, rgba(0, 0, 0, 0.1));
            }
        }

        @media (hover: none) {
            &:active {
                box-shadow: 0 15px 30px -15px var(--shadow-color, rgba(0, 0, 0, 0.1));
            }
        }
    }

    &.cr-card--outline {
        @media (hover: hover) {
            &:hover, &:focus {
                border-color: var(--primary-color);
            }
        }

        @media (hover: none) {
            &:active {
                border-color: var(--primary-color);
            }
        }
    }
}

.cr-card__actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: -5px;

    & > * {
        font-size: 1.2rem;
    }
}

.cr-card--borderless {
    border: none;
}

:not(.cr-card--outline) {
    &.cr-card--blank {
        background-color: var(--blank-color);
        color: var(--blank-contrast-color);
    }

    &.cr-card--easy {
        background-color: var(--easy-color);
        color: var(--easy-contrast-color);
    }

    &.cr-card--plain {
        background-color: var(--plain-color);
        color: var(--plain-contrast-color);
    }

    &.cr-card--primary {
        background-color: var(--primary-color);
        color: var(--primary-contrast-color);
    }

    &.cr-card--secondary {
        background-color: var(--secondary-color);
        color: var(--secondary-contrast-color);
    }

    &.cr-card--neutral {
        background-color: var(--neutral-color);
        color: var(--neutral-contrast-color);
    }

    &.cr-card--warning {
        background-color: var(--warning-color);
        color: var(--warning-contrast-color);
    }

    &.cr-card--danger {
        background-color: var(--danger-color);
        color: var(--danger-contrast-color);
    }

    &.cr-card--success {
        background-color: var(--success-color);
        color: var(--success-contrast-color);
    }
}

.cr-card__loading {
    position: absolute;
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    overflow: hidden;
    border-color: transparent;
    background: inherit;
    border-radius: inherit;

    & > * {
        position: relative;
        z-index: 2;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        border-radius: inherit;
    }

    &:before {
        background-color: var(--base-border-color);
        background-image: conic-gradient(from 0deg at center, transparent 0%, var(--primary-color) 15%, transparent 17%);
        animation: card-loading 4s linear infinite;
        width: 3000px;
        height: 3000px;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        top: var(--border-width);
        left: var(--border-width);
        width: calc(100% - var(--border-width) * 2);
        height: calc(100% - var(--border-width) * 2);
        background: inherit;
    }
}

@keyframes card-loading {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
</style>
