<template>
    <div
        ref="rootEl"
        class="cr-collapse"
        :class="{
            [`cr-collapse--${placement}`]: true,
            'cr-collapse--show': isShowing,
            'cr-collapse--caret': caret
        }"
    >
        <div class="cr-collapse__toggle">
            <slot :is-showing="isShowing" />
        </div>
        <cr-transition-collapse>
            <div
                v-if="isLoaded"
                v-show="isShowing"
            >
                <slot name="content" :toggle="toggle" />
                <div
                    v-if="fadeColor"
                    class="cr-collapse__fade"
                    :style="fadeStyle"
                />
            </div>
        </cr-transition-collapse>
    </div>
</template>

<script lang="ts" setup>
import type { Ref } from 'vue';
import { computed, onMounted, ref } from '#imports';

const emit = defineEmits<{
    (e: 'open'): void,
    (e: 'close'): void,
}>();

const props = withDefaults(defineProps<{
        placement?: string,
        initialOpen?: boolean,
        disabled?: boolean,
        caret?: boolean,
        fadeColor?: string,
        toggleSelector?: string,
        beforeOpen?: (() => boolean) | (() => Promise<boolean>),
    }>(),
{
    placement: 'bottom',
    initialOpen: false,
    disabled: false,
    caret: true,
    fadeColor: undefined,
    beforeOpen: undefined,
    toggleSelector: '.cr-collapse__toggle',
});

const isShowing = ref(props.initialOpen);
const isLoaded = ref(props.initialOpen);
const rootEl: Ref<HTMLElement | undefined> = ref();

const fadeStyle = computed(() => {
    return { background: `linear-gradient(0, ${props.fadeColor}, transparent)` };
});

async function toggle(val?: boolean) {
    val = val !== undefined ? val : !isShowing.value;
    if (val && props.beforeOpen) {
        await props.beforeOpen();
    }

    isShowing.value = val;
    if (isShowing.value) {
        isLoaded.value = true;
        emit('open');
    } else {
        emit('close');
    }
}

onMounted(() => {
    const toggleEl = rootEl.value?.querySelector(props.toggleSelector);
    toggleEl.addEventListener('click', (e: MouseEvent) => {
        e.stopPropagation();
        e.preventDefault();
        toggle();
    });
});

defineExpose({ toggle });
</script>

<style lang="scss">
.cr-collapse {
    display: flex;
    flex-direction: column;
}

.cr-collapse--show {
    .cr-collapse__fade {
        opacity: 0;
    }
}

.cr-collapse--top {
    .cr-collapse__toggle {
        order: 1;
    }
}

.cr-collapse--caret {
    &.cr-collapse--show {
        & > .cr-collapse__toggle::before {
            transform: rotate(135deg);
        }
    }

    & > .cr-collapse__toggle::before {
        content: '';
        display: block;
        transition: transform .1s ease-in;
        width: 8px;
        height: 8px;
        border-right: 1px solid var(--neutral-color);
        border-top: 1px solid var(--neutral-color);
        transform: rotate(45deg);
        position: absolute;
        margin-left: -15px;
    }
}

.cr-collapse__fade {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    pointer-events: none;
}

.cr-collapse__toggle {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    position: relative;
}
</style>
