<template>
    <div
        v-if="shouldRender"
        v-show="active"
        class="cr-tab-pane"
    >
        <slot />
    </div>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from '#imports';

const slots = defineSlots<{
    default(): any,
    tab(): any,
}>();

const props = withDefaults(defineProps<{
    label?: string,
    name?: string | number | null,
    disabled?: boolean,
    lazy?: boolean,
    active?: boolean,
}>(), {
    label: undefined,
    name: undefined,
    lazy: false,
    disabled: false,
    active: false,
});

const loaded = ref(false);
const shouldRender = computed(() => slots.default?.() && (!props.lazy || loaded.value || props.active));

const unwatch = watch(() => props.active, (val) => {
    if (val) {
        loaded.value = true;
        unwatch();
    }
});
</script>

<style lang="scss">
</style>
