<template>
    <div class="cr-tabs">
        <div class="cr-tabs__nav-wrap">
            <slot name="beforeTabs" />
            <cr-tabs-nav
                v-model="activeTabIdx"
                :panes="panes"
            />
            <slot name="afterTabs" />
        </div>
        <component
            :is="pane.content"
            v-for="(pane, idx) in panes"
            :key="idx"
            :active="idx === activeTabIdx"
        />
    </div>
</template>

<script lang="ts" setup>
import type { Ref } from 'vue';
import type { ITabPane } from './utils';
import { computed, ref, useSlots, watch } from '#imports';
import { CrTabPane } from '#components';

const emit = defineEmits<{
    (e: 'update:modelValue', v?: string | number | null): void
}>();

const props = defineProps<{
    modelValue?: string | number | null,
}>();

const slots = useSlots();

const panes: Ref<ITabPane[]> = computed(() => {
    const f = (val: any, acc: ITabPane[]) => {
        acc.push({
            name: val.props.name === undefined ? acc.length : val.props.name,
            label: val.props.label,
            disabled: !!val.props.disabled,
            tab: val.children?.tab,
            content: val,
        });
    };

    return slots.default?.().reduce((acc, val) => {
        if (val.type === CrTabPane) {
            f(val, acc);
        } else if (typeof val.type === 'symbol' && Array.isArray(val.children)) {
            val.children.forEach((c) => {
                f(c, acc);
            });
        }
        return acc;
    }, []) || [];
});

const activeTabIdx = ref(
    Math.max(panes.value.findIndex(pane => pane.name === props.modelValue), 0),
);

watch(activeTabIdx, (val) => {
    emit('update:modelValue', panes.value[val]?.name);
});

watch(() => props.modelValue, (val) => {
    activeTabIdx.value = panes.value.findIndex(p => p.name === val);
});
</script>

<style lang="scss">
.cr-tabs {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.cr-tabs__nav-wrap {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
}
</style>
