<template>
    <div
        ref="rootEl"
        class="cr-tabs-nav"
    >
        <div
            class="cr-tabs-nav__highlight"
            :style="highLightStyle"
        />
        <div
            v-for="(pane, idx) in panes"
            :key="pane.name"
            ref="tabsRefs"
            class="cr-tabs-nav__tab"
            :class="{
                'cr-tabs-nav__tab--active': idx === modelValue,
                'cr-tabs-nav__tab--disabled': pane.disabled,
            }"
            @click="!pane.disabled && emit('update:modelValue', idx)"
        >
            <component :is="pane.tab" v-if="pane.tab" />
            <template v-else>
                {{ pane.label }}
            </template>
        </div>
    </div>
</template>

<script lang="ts" setup>
import type { Ref } from 'vue';
import type { ITabPane } from './utils';
import { nextTick, ref, useSafeOnMounted, watch } from '#imports';

const emit = defineEmits<{
    (e: 'update:modelValue', v: number): void,
}>();

const props = defineProps<{
    modelValue: number,
    panes: ITabPane[],
}>();

const tabsRefs: Ref<HTMLElement[]> = ref([]);
const highLightStyle = ref({});

function updateHighlight() {
    if (props.modelValue >= 0 && tabsRefs.value[props.modelValue]) {
        highLightStyle.value = {
            width: tabsRefs.value[props.modelValue].offsetWidth + 'px',
            transform: `translateX(${tabsRefs.value[props.modelValue].offsetLeft}px)`,
        };
    }
}

const rootEl = ref();
useSafeOnMounted(rootEl, () => {
    updateHighlight();
});
watch([() => props.modelValue, () => props.panes], () => {
    nextTick(updateHighlight);
}, { deep: true });
</script>

<style lang="scss">
.cr-tabs-nav {
    display: inline-flex;
    background: var(--tabs-background, #efefef);
    border-radius: var(--base-border-radius);
    position: relative;
    padding: 4px;
    width: fit-content;
    max-width: 100%;
    overflow: auto;
    font: var(--tabs-font, var(--button-font));
    line-height: 44px;
}

.cr-tabs-nav__tab {
    color: var(--blank-contrast-color);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    transition: all .1s ease-in;
    white-space: nowrap;
    opacity: 0.5;

    & > a {
        margin: 0 -15px;
        padding: 0 15px;
    }

    &:hover {
        opacity: 1;
        color: var(--plain-color);
    }
}

.cr-tabs-nav__tab--active {
    color: var(--plain-color);
    opacity: 1;
}

.cr-tabs-nav__tab--disabled {
    cursor: not-allowed;
    opacity: 0.5 !important;

    * {
        pointer-events: none;
    }
}

.cr-tabs-nav__highlight {
    background: var(--blank-color);
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 0;
    border-radius: inherit;
    transition: all .1s ease-in;
}
</style>
