<template>
    <transition
        name="collapse"
        @enter="onEnter"
        @after-enter="onAfterEnter"
        @leave="onBeforeLeave"
    >
        <slot />
    </transition>
</template>
<script lang="ts" setup>
function onEnter(el: HTMLElement) {
    el.style.maxHeight = el.scrollHeight + 'px';
}

function onAfterEnter(el: HTMLElement) {
    el.style.maxHeight = 'unset';
}

function onBeforeLeave(el: HTMLElement) {
    el.style.maxHeight = el.scrollHeight + 'px';
}
</script>

<style lang="scss">
.collapse-enter-from {
    align-items: start !important;
    justify-content: start !important;
}

.collapse-leave-to, .collapse-enter-from {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    max-height: 0 !important;
    opacity: 0;
}

.collapse-leave-active,
.collapse-enter-active {
    transition: 0.3s all ease-in-out;
    overflow: hidden !important;
}
</style>
