<template>
    <transition
        name="fade"
        mode="out-in"
        @before-enter="setVariables"
        @before-leave="setVariables"
        @after-enter="emit('enter')"
        @after-leave="emit('leave')"
    >
        <slot />
    </transition>
</template>

<script setup lang="ts">
const emit = defineEmits<{
    (e: 'enter'): void,
    (e: 'leave'): void,
}>();

const props = withDefaults(defineProps<{
    speed?: string,
    translateX?: string,
    translateY?: string,
    scaleX?: string,
    scaleY?: string,
    opacity?: string,
}>(), {
    speed: '200ms',
    translateX: '0',
    translateY: '0',
    scaleX: '1',
    scaleY: '1',
    opacity: '0',
});

function setVariables(el: HTMLElement) {
    el.style.setProperty('--speed', props.speed);
    el.style.setProperty('--opacity', props.opacity);
    el.style.setProperty('--translate-x', props.translateX);
    el.style.setProperty('--translate-y', props.translateY);
    el.style.setProperty('--scale-x', props.scaleX);
    el.style.setProperty('--scale-y', props.scaleY);
}
</script>

<style lang="scss">
.fade-leave-to, .fade-enter-from {
    opacity: var(--opacity);
    transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-x), var(--scale-y));
}

.fade-leave-active,
.fade-enter-active {
    transition: var(--speed) opacity ease-in-out, var(--speed) transform ease-in-out;
}
</style>
