<template>
    <transition-group
        name="collapse-group"
        @enter="onEnter"
        @after-enter="onAfterEnter"
        @leave="onBeforeLeave"
    >
        <slot />
    </transition-group>
</template>

<script setup lang="ts">
function onEnter(el: HTMLElement) {
    el.style.maxHeight = el.scrollHeight + 'px';
}

function onAfterEnter(el: HTMLElement) {
    el.style.maxHeight = 'unset';
}

function onBeforeLeave(el: HTMLElement) {
    el.style.maxHeight = el.scrollHeight + 'px';
}
</script>

<style lang="scss">
.collapse-group-move,
.collapse-group-enter-active,
.collapse-group-leave-active {
    transition: 0.3s all ease-in-out;
    overflow: hidden !important;
}

.collapse-group-enter-from {
    align-items: start !important;
    justify-content: start !important;
}

.collapse-group-enter-from,
.collapse-group-leave-to {
    max-height: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
</style>
