<script setup lang="ts">
import { ref } from 'vue';
import type { Editor } from '@tiptap/vue-3';

const props = defineProps<{
    editor: Editor
}>();

const modal = ref();

const currentValue = props.editor.getAttributes('link');

const params = ref({
    href: currentValue.href || '',
    target: currentValue.target || '_blank',
});

function save() {
    props.editor.commands.setLink(params.value);
    modal.value.close();
}

function unsetLink() {
    props.editor.commands.unsetLink();
    modal.value.close();
}
</script>

<template>
    <cr-modal
        ref="modal"
        title="Ссылка"
        width="500px"
    >
        <form
            class="cr-tiptap-link-modal"
            @submit.prevent="save"
        >
            <cr-input
                v-model="params.href"
                label="URL адрес"
            />
            <div class="cr-tiptap-link-modal__buttons">
                <cr-button native-type="submit">
                    Сохранить
                </cr-button>
                <cr-button
                    type="easy"
                    @click="unsetLink"
                >
                    Убрать ссылку
                </cr-button>
            </div>
        </form>
    </cr-modal>
</template>

<style lang="scss">
.cr-tiptap-link-modal {
    display: grid;
    gap: 1rem;
}

.cr-tiptap-link-modal__buttons {
    display: flex;
    gap: 1rem;
}
</style>
