<script setup lang="ts">
import { ref } from 'vue';
import type { Editor } from '@tiptap/vue-3';
import { useCreatorConfig } from '../../composables/use-creator-config';

const props = defineProps<{
    editor: Editor
}>();

const modal = ref();

const config = useCreatorConfig();

async function onDrop(v: FileList) {
    const formData = new FormData();
    formData.append('file', v[0]);
    const res = await config.tiptap.uploadFunction(formData);
    props.editor.commands.setImage({
        title: 'wow',
        src: res.url,
    });
    modal.value.close();
}
</script>

<template>
    <cr-modal
        ref="modal"
        title="Изображение"
        width="500px"
    >
        <cr-drop-zone
            class="cr-upload-area-attach"
            role="button"
            highlight-class="cr-upload-area-attach--highlight"
            clickable
            @drop="onDrop"
        >
            Загрузить
        </cr-drop-zone>
    </cr-modal>
</template>

<style lang="scss">
.cr-tiptap-link-modal {
    display: grid;
    gap: 1rem;
}

.cr-tiptap-link-modal__buttons {
    display: flex;
    gap: 1rem;
}
</style>
