<script setup lang="ts">
import { Editor } from '@tiptap/vue-3';
import { ref } from 'vue';
import TiptapLinkModal from './TiptapLinkModal.vue';
import TiptapImageModal from './TiptapImageModal.vue';

defineProps<{
    editor: Editor
}>();

const showLinkModal = ref(false);
const showImageModal = ref(false);
</script>

<template>
    <div class="tiptap-menu">
        <button
            class="tiptap-menu-button"
            type="button"
            :class="{'tiptap-menu-button--active': editor.isActive('bold')}"
            @click="editor.chain().focus().toggleBold().run()"
        >
            <i class="cr-icon-text-bold" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('italic')}"
            type="button"
            @click="editor.chain().focus().toggleItalic().run()"
        >
            <i class="cr-icon-text-italic" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('strike')}"
            type="button"
            @click="editor.chain().focus().toggleStrike().run()"
        >
            <i class="cr-icon-text-strike" />
        </button>
        <button
            class="tiptap-menu-button"
            type="button"
            @click="editor.chain().focus().unsetAllMarks().run()"
        >
            <i class="cr-icon-clear-formatting" />
        </button>
        <cr-dropdown>
            <button
                class="tiptap-menu-button"
                :class="{'tiptap-menu-button--active': editor.isActive('heading')}"
                type="button"
            >
                <i class="cr-icon-text-heading" />
            </button>
            <template #body>
                <cr-dropdown-option
                    :schema="editor.isActive('heading', { level: 1 }) ? 'light' : 'white'"
                    type="button"
                    @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
                >
                    H1
                </cr-dropdown-option>
                <cr-dropdown-option
                    :schema="editor.isActive('heading', { level: 2 }) ? 'light' : 'white'"
                    type="button"
                    @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
                >
                    H2
                </cr-dropdown-option>
                <cr-dropdown-option
                    :schema="editor.isActive('heading', { level: 3 }) ? 'light' : 'white'"
                    type="button"
                    @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
                >
                    H3
                </cr-dropdown-option>
                <cr-dropdown-option
                    :schema="editor.isActive('heading', { level: 4 }) ? 'light' : 'white'"
                    type="button"
                    @click="editor.chain().focus().toggleHeading({ level: 4 }).run()"
                >
                    H4
                </cr-dropdown-option>
            </template>
        </cr-dropdown>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('left')}"
            type="button"
            @click="editor.chain().focus().setTextAlign('left').run()"
        >
            <i class="cr-icon-align-left" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('center')}"
            type="button"
            @click="editor.chain().focus().setTextAlign('center').run()"
        >
            <i class="cr-icon-align-center" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('right')}"
            type="button"
            @click="editor.chain().focus().setTextAlign('right').run()"
        >
            <i class="cr-icon-align-right" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('justify')}"
            type="button"
            @click="editor.chain().focus().setTextAlign('justify').run()"
        >
            <i class="cr-icon-align-justify" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('bulletList')}"
            type="button"
            @click="editor.chain().focus().toggleBulletList().run()"
        >
            <i class="cr-icon-list-marker" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('orderedList')}"
            type="button"
            @click="editor.chain().focus().toggleOrderedList().run()"
        >
            <i class="cr-icon-list-number" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('link')}"
            type="button"
            @click="showLinkModal = true"
        >
            <i class="cr-icon-link" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('image')}"
            type="button"
            @click="showImageModal = true"
        >
            <i class="cr-icon-image" />
        </button>
        <button
            class="tiptap-menu-button"
            :class="{'tiptap-menu-button--active': editor.isActive('blockquote')}"
            type="button"
            @click="editor.chain().focus().toggleBlockquote().run()"
        >
            <i class="cr-icon-quote" />
        </button>
        <button
            class="tiptap-menu-button"
            type="button"
            @click="editor.chain().focus().undo().run()"
        >
            <i class="cr-icon-arrow-left" />
        </button>
        <button
            class="tiptap-menu-button"
            type="button"
            @click="editor.chain().focus().redo().run()"
        >
            <i class="cr-icon-arrow-right" />
        </button>
        <tiptap-link-modal
            v-if="showLinkModal"
            :editor="editor"
            @close="showLinkModal = false"
        />
        <tiptap-image-modal
            v-if="showImageModal"
            :editor="editor"
            @close="showImageModal = false"
        />
    </div>
</template>

<style scoped lang="scss">
.tiptap-menu {
    display: flex;
    border: var(--base-border-width) solid var(--base-border-color);
    border-bottom: none;
    max-width: 100%;
    overflow: auto;
}

.tiptap-menu-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: var(--blank-color);
    flex-shrink: 0;
    border: none;
    cursor: pointer;

    &.tiptap-menu-button--active {
        color: var(--primary-color);
    }

    &:hover {
        background: var(--easy-color);
    }
}
</style>
