<script setup lang="ts">
import { Editor, EditorContent, useEditor } from '@tiptap/vue-3';
import { StarterKit } from '@tiptap/starter-kit';
import { Placeholder } from '@tiptap/extension-placeholder';
import { Link } from '@tiptap/extension-link';
import { Image } from '@tiptap/extension-image';
import type { Ref } from 'vue';
import { watch } from 'vue';
import { TextAlign } from '@tiptap/extension-text-align';

const props = defineProps<{
    placeholder?: string,
    modelValue?: string | null
}>();

watch(() => props.modelValue, (value) => {
    if (editor.value?.getHTML() !== value) {
        editor.value?.commands.setContent(value!, false);
    }
});

const emit = defineEmits<{
    (e: 'update:modelValue', v: string | undefined): void
}>();

const editor: Ref<Editor> = useEditor({
    content: props.modelValue!,
    extensions: [
        StarterKit,
        Placeholder.configure({ placeholder: props.placeholder! }),
        TextAlign.configure({ types: ['heading', 'paragraph'] }),
        Link.configure(),
        Image.configure(),
    ],
    onUpdate() {
        emit('update:modelValue', editor.value?.getHTML());
    },
})!;
</script>

<template>
    <div>
        <template v-if="editor">
            <cr-tiptap-menu :editor="editor" />
            <editor-content
                class="prose max-w-none"
                :editor="editor"
            />
        </template>
    </div>
</template>

<style lang="scss">
.ProseMirror {
    border: var(--base-border-width) solid var(--base-border-color);
    border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
    padding: 15px;
    transition: border .25s;

    p.is-editor-empty:first-child::before {
        color: #adb5bd;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}

.ProseMirror-focused {
    border-color: var(--primary-color);
    outline: none;
}
</style>
