<script setup lang="ts">
withDefaults(defineProps<{
    align?: 'center' | 'start' | 'end'
    tag?: keyof HTMLElementTagNameMap | any,
}>(), {
    align: 'center',
    tag: 'span',
});
</script>

<template>
    <component
        :is="tag"
        class="cr-text-icon"
        :style="{ alignItems: align }"
    >
        <slot />
    </component>
</template>

<style lang="scss">
.cr-text-icon {
    display: inline-flex;
    gap: 5px;

    i {
        font-size: 140%;
    }
}
</style>
