<script setup lang="ts">
import { CrInput } from '#components';

const props = withDefaults(defineProps<{
    modelValue?: number,
    disabled?: boolean,
    step?: number,
    min?: number | undefined,
    max?: number | undefined,
}>(), {
    modelValue: 0,
    disabled: false,
    step: 1,
    min: undefined,
    max: undefined,
});

const emit = defineEmits<{
    (e: 'update:modelValue', v: number | string): void
}>();

function change(val: number) {
    let newValue = props.modelValue + val;
    if (props.min !== undefined) {
        newValue = Math.max(newValue, props.min);
    }
    if (props.max !== undefined) {
        newValue = Math.min(newValue, props.max);
    }
    emit('update:modelValue', newValue);
}
</script>

<template>
    <cr-input
        class="cr-input-number"
        :class="{'cr-input-number--disabled': disabled}"
        :model-value="modelValue ?? ''"
        :disabled="disabled"
        type="tel"
        @update:model-value="v => emit('update:modelValue', +v)"
    >
        <template #before>
            <i
                class="cr-icon-minus cr-input-number__minus link link--neutral"
                @click="change(-step)"
            />
        </template>
        <template #after>
            <i
                class="cr-icon-plus cr-input-number__plus link link--neutral"
                @click="change(step)"
            />
        </template>
    </cr-input>
</template>

<style lang="scss">
.cr-input-number--disabled {
    .cr-input-number__minus, .cr-input-number__plus {
        cursor: not-allowed;
        pointer-events: none;
    }
}

.cr-input-number__minus, .cr-input-number__plus {
    width: 40px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cr-input-number {
    .cr-input__content {
        gap: 0;
    }

    .cr-input__input {
        text-align: center;
    }

    .cr-input__label {
        left: 50%;
        transform: translateX(-50%);
    }
}

.cr-input-number__minus {
    margin-left: -15px;
}

.cr-input-number__plus {
    margin-right: -15px;
}
</style>
