<template>
    <cr-modal
        ref="modal"
        class="cr-message-box"
        :class="`cr-message-box--${type}`"
        :handle-back="handleBack"
        @close="emit('close')"
    >
        <template #header>
            <cr-text-icon class="cr-message-box__title">
                <i
                    v-if="type === 'success'"
                    class="cr-message-box__icon cr-icon-tick-square"
                />
                <i
                    v-else-if="['warning', 'error'].includes(type as any)"
                    class="cr-message-box__icon cr-icon-danger-triangle"
                />
                {{ title }}
            </cr-text-icon>
        </template>
        <div class="cr-message-box__body">
            <slot name="body" />
            <div
                v-if="body"
                v-html="body"
            />
        </div>
        <div v-if="confirm" class="cr-message-box__footer">
            <cr-button @click="emit('confirm'); modal.close()">
                {{ confirmText }}
            </cr-button>
            <cr-button type="blank" @click="modal.close()">
                {{ cancelText }}
            </cr-button>
        </div>
    </cr-modal>
</template>

<script lang="ts" setup>
import { ref } from '#imports';

withDefaults(defineProps<{
    title: string,
    body: string,
    type?: 'info' | 'error' | 'warning' | 'success',
    confirm?: boolean,
    confirmText?: string,
    cancelText?: string,
    handleBack?: boolean
}>(), {
    type: 'info',
    confirm: false,
    confirmText: 'Подтвердить',
    cancelText: 'Отменить',
    handleBack: true,
});

const modal = ref();

const emit = defineEmits<{
    (e: 'confirm'): void,
    (e: 'close'): void,
}>();
</script>

<style lang="scss">
.cr-message-box__body {
    max-width: 500px;
}

.cr-message-box__title {
    font: var(--modal-header-font, var(--base-font));
}

.cr-message-box--info {
    .cr-message-box__icon {
        color: var(--neutral-color);
    }
}

.cr-message-box--warning {
    .cr-message-box__icon {
        color: var(--warning-color);
    }
}

.cr-message-box--success {
    .cr-message-box__icon {
        color: var(--success-color);
    }
}

.cr-message-box--error {
    .cr-message-box__icon {
        color: var(--danger-color);
    }
}

.cr-message-box__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 15px;
}
</style>
