<script setup lang="ts">
import { computed } from '#imports';

const props = withDefaults(defineProps<{
    mobile?: boolean,
    sidebarPosition?: 'left' | 'right',
    sidebarWidth?: string,
    sidebarMinHeight?: string,
    sidebarMaxHeight?: string,
    barClass?: string,
    sidebarClass?: string,
    pageClass?: string,
}>(), {
    mobile: false,
    sidebarPosition: 'left',
    sidebarWidth: '320px',
    sidebarMinHeight: '100vh',
    sidebarMaxHeight: '100vh',
    barClass: undefined,
    sidebarClass: undefined,
    pageClass: undefined,
});

const sidebarStyle = computed(() => {
    const res: Record<string, any> = {
        width: props.sidebarWidth,
        order: props.sidebarPosition === 'right' ? 1 : 0,
    };

    if (!props.mobile) {
        res.maxHeight = props.sidebarMaxHeight;
        res.minHeight = props.sidebarMinHeight;
    }

    return res;
});
</script>

<template>
    <div
        class="cr-sidebar-layout"
        :class="{'cr-sidebar-layout--desktop': !mobile}"
    >
        <div
            v-if="$slots.sidebar && !mobile"
            class="cr-sidebar-layout__sidebar"
            :class="sidebarClass"
            :style="sidebarStyle"
        >
            <slot name="sidebar" />
        </div>
        <div
            class="cr-sidebar-layout__page"
            :class="pageClass"
        >
            <slot />
        </div>
        <div
            v-if="$slots.bar && mobile"
            class="cr-sidebar-layout__bar"
            :class="barClass"
        >
            <slot name="bar" />
        </div>
    </div>
</template>

<style lang="scss">
.cr-sidebar-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cr-sidebar-layout--desktop {
    flex-direction: row;
}

.cr-sidebar-layout__sidebar {
    flex-shrink: 0;
    overflow: auto;
    display: grid;
    position: sticky;
    top: 0;

    &.cr-sidebar-layout__sidebar--right {
        order: 1;
    }
}

.cr-sidebar-layout__page {
    padding: var(--page-padding, 25px);
    width: 100%;
    overflow: auto;
    flex-grow: 1;
}

.cr-sidebar-layout__bar {
    position: sticky;
    bottom: 0;
}
</style>
