<template>
    <teleport
        to="body"
        :disabled="!teleport"
    >
        <transition
            name="tr-modal"
            mode="out-in"
            appear
            @after-leave="emit('close')"
            @after-enter="emit('open')"
        >
            <div
                v-if="isShowing"
                v-bind="$attrs"
                class="cr-modal"
                :class="{
                    'cr-modal--fullscreen': fullScreen
                }"
            >
                <div
                    class="cr-modal__fade"
                    @click="close"
                />
                <div
                    class="cr-modal__content"
                    :style="contentStyle"
                >
                    <div
                        v-if="$slots.header || title"
                        class="cr-modal__header"
                    >
                        <div>
                            {{ title }}
                            <slot name="header" />
                        </div>
                        <i
                            v-if="closable"
                            class="cr-modal__close cr-icon-close"
                            @click="close"
                        />
                    </div>
                    <cr-scrollable
                        class="cr-modal__body"
                        :class="bodyClass"
                    >
                        <slot />
                    </cr-scrollable>
                </div>
            </div>
        </transition>
    </teleport>
</template>
<script lang="ts" setup>
import { onActivated, onMounted } from 'vue';
import { useDisableScroll } from '../../composables/use-disable-scroll';
import { useOnBackRoute } from '../../composables/use-on-back-route';
import { computed, ref } from '#imports';

defineOptions({ inheritAttrs: false });

const emit = defineEmits<{
    (e: 'open'): void,
    (e: 'close'): void,
}>();

const props = withDefaults(defineProps<{
    width?: string,
    closable?: boolean,
    title?: string,
    fullScreen?: boolean,
    bodyClass?: string,
    beforeClose?: () => Promise<void>,
    teleport?: boolean,
    handleBack?: boolean
}>(), {
    width: 'auto',
    closable: true,
    title: undefined,
    fullScreen: false,
    bodyClass: undefined,
    beforeClose: undefined,
    teleport: true,
    handleBack: true,
});

const contentStyle = computed(() => {
    return { width: props.width };
});

const isShowing = ref(false);

function open() {
    isShowing.value = true;
}

async function close() {
    if (props.closable) {
        if (props.beforeClose) {
            await props.beforeClose();
        }
        isShowing.value = false;
        backRoute?.removeHash();
    }
}

useDisableScroll();

onMounted(() => {
    isShowing.value = true;
});

onActivated(() => {
    isShowing.value = true;
});

const backRoute = props.handleBack
    ? useOnBackRoute(() => {
        isShowing.value = false;
    })
    : undefined;

defineExpose({
    close,
    open,
});
</script>

<style lang="scss">
$mobileBreakpoint: 700px;

.cr-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    --padding: var(--modal-padding, 15px);
}

.cr-modal--fullscreen {
    .cr-modal__content {
        width: 100% !important;
        height: 100%;
        border-radius: 0;
        max-height: 100%;
    }
}

.cr-modal__fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fade-color);
}

.cr-modal__content {
    background: var(--blank-color);
    color: var(--blank-contrast-color);
    max-width: 100%;
    max-height: 100%;
    min-width: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @media (min-width: $mobileBreakpoint) {
        border-radius: var(--modal-border-radius, var(--base-border-radius));
        max-height: 95%;
        height: auto;
    }

    @media (max-width: $mobileBreakpoint) {
        width: 100% !important;
    }
}

.cr-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--padding) * 0.5) var(--padding);
    border-bottom: 1px solid var(--easy-color);
    color: var(--modal-header-color, var(--plain-color));
    font: var(--header-font);
}

.cr-modal__body {
    padding: var(--padding);
    overflow: auto;
    position: relative;
}

.cr-modal__close {
    margin-right: -8px;
    color: var(--neutral-color);
    cursor: pointer;
    font-size: 30px;

    &:hover {
        color: var(--blank-contrast-color);
    }
}

.tr-modal-enter-active, .tr-modal-leave-active {
    transition: 0.3s ease;

    .cr-modal__fade, .cr-modal__content {
        transition: 0.3s ease;
    }
}

.tr-modal-enter-from, .tr-modal-leave-to {
    .cr-modal__fade {
        opacity: 0;
    }

    .cr-modal__content {
        opacity: 0;
        transform: scale(1.1);
    }
}
</style>
